/**********************************************common**********************************************/
.div_wrap,
.div_wrap * { -webkit-box-sizing: border-box; box-sizing: border-box; } 

.user { width: 449px; height: 120px; position: absolute; left: 3280px; top: 1944px; } 

.login { width: 449px; height: 120px; position: absolute; left: 0px; top: 0px; } 

.login_wrap { background: #ffffff; border-radius: 200px; padding: 12px 40px 12px 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 10px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: absolute; left: 0px; top: 0px; -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.1); box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.1); overflow: hidden; } 

.login_wrap_in { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-negative: 0; flex-shrink: 0; width: 399px; position: relative; } 

.login_img { border-radius: 50%; -ms-flex-negative: 0; flex-shrink: 0; width: 93px; height: 96px; position: relative; -o-object-fit: cover; object-fit: cover; } 

.login_user { color: var(--gray900, #191f28); text-align: center; font-family: "-", sans-serif; font-size: 36px; font-weight: 400; text-transform: uppercase; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } 

.login_user-span { color: var(--gray900, #191f28); font-family: "Pretendard-Bold", sans-serif; font-size: 36px; font-weight: 700; text-transform: uppercase; } 

.login_user-span2 { color: var(--gray900, #191f28); font-family: "Pretendard-Medium", sans-serif; font-size: 36px; font-weight: 500; text-transform: uppercase; } 

.login_user-span3 { color: var(--gray900, #191f28); font-family: "Pretendard-Regular", sans-serif; font-size: 36px; font-weight: 400; text-transform: uppercase; } 

.login_user-span4 { color: var(--gray900, #191f28); font-family: "Pretendard-Medium", sans-serif; font-size: 36px; font-weight: 500; text-transform: uppercase; } 

.logout { -ms-flex-negative: 0; flex-shrink: 0; width: 46px; height: 41px; position: relative; overflow: hidden; } 

.login_user_img { width: 90.58%; height: 87.4%; position: absolute; right: 4.71%; left: 4.71%; bottom: 6.1%; top: 6.5%; overflow: visible; } 

.tit_frame { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 8px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: absolute; left: 520px; top: 113px; } 


.header_title0 { color: var(--gray500, #8b95a1); text-align: left; font-family: "Pretendard-Regular", sans-serif; font-size: 32px; font-weight: 400; text-transform: uppercase; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } 

.title_search { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-SemiBold", sans-serif; font-size: 92px; font-weight: 600; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } 


.component-15 { width: 210px; height: 96px; position: absolute; left: 420px; top: 1956px; } 

.u-turn-to-right { width: 45.28%; height: 100%; position: absolute; right: 0%; left: 54.72%; bottom: 0%; top: 0%; display: block; overflow: visible; background: no-repeat center url("../img/page/book/u-turn-to-right0.svg"); -webkit-filter: invert(78%) sepia(13%) saturate(173%) hue-rotate(169deg) brightness(90%) contrast(92%); filter: invert(78%) sepia(13%) saturate(173%) hue-rotate(169deg) brightness(90%) contrast(92%); /* position: relative; */
 background-size: cover; } 

.u-turn-to-left { width: 45.28%; height: 100%; position: absolute !important; right: 60.43%; left: -5.71%; bottom: 0%; top: 0%; overflow: visible; display: block; background: no-repeat center url("../img/page/book/u-turn-to-left0.svg"); -webkit-filter: invert(78%) sepia(13%) saturate(173%) hue-rotate(169deg) brightness(90%) contrast(92%); filter: invert(78%) sepia(13%) saturate(173%) hue-rotate(169deg) brightness(90%) contrast(92%); position: relative; background-size: cover; } 

.u-turn-to-right:hover,
.u-turn-to-right:active,
.u-turn-to-right:visited { -webkit-filter: invert(6%) sepia(6%) saturate(4831%) hue-rotate(176deg) brightness(99%) contrast(86%); filter: invert(6%) sepia(6%) saturate(4831%) hue-rotate(176deg) brightness(99%) contrast(86%); } 

.u-turn-to-left:hover,
.u-turn-to-left:active,
.u-turn-to-left:visited { -webkit-filter: invert(6%) sepia(6%) saturate(4831%) hue-rotate(176deg) brightness(99%) contrast(86%); filter: invert(6%) sepia(6%) saturate(4831%) hue-rotate(176deg) brightness(99%) contrast(86%); } 

.nav-bar { background: #ffffff; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; position: absolute; left: 0px; top: 0px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } 

.nav-bar_home { border-style: solid; border-color: #c8cdd2; border-width: 0px 0px 2px 0px; padding: 60px 32px 60px 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; width: 320px; height: 360px; position: relative; } 

a.button_arrow img { -webkit-filter: invert(78%) sepia(13%) saturate(173%) hue-rotate(169deg) brightness(90%) contrast(92%); filter: invert(78%) sepia(13%) saturate(173%) hue-rotate(169deg) brightness(90%) contrast(92%); } 


a.button_arrow:hover img,
a.button_arrow:active img,
a.button_arrow:visited img { -webkit-filter: invert(6%) sepia(6%) saturate(4831%) hue-rotate(176deg) brightness(99%) contrast(86%); filter: invert(6%) sepia(6%) saturate(4831%) hue-rotate(176deg) brightness(99%) contrast(86%); } 

a.button_arrow .nav_text { color: var(--gray600, #6b7684); } 

a.button_arrow .nav_text_en { color: var(--gray600, #6b7684); } 


a.button_arrow:hover .nav_text,
a.button_arrow:active .nav_text { color: #191f28; } 

a.button_arrow:hover .nav_text_en,
a.button_arrow:active .nav_text_en { color: #191f28; } 

.nav-bar a.button_arrow:hover .nav_text_en:after,
.nav-bar a.button_arrow:active .nav_text_en:after,
.nav-bar a.button_arrow:visited .nav_text_en:after { content: ""; position: absolute; background: url("../img/page/book/frame-230.svg") no-repeat; background-size: cover; display: block; width: 120px; height: 17px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); } 


.home { -ms-flex-negative: 0; flex-shrink: 0; width: 96px; height: 96px; position: relative; overflow: visible; } 

.nav-bar_sel { padding: 60px 32px 60px 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 12px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; width: 320px; height: 360px; position: relative; } 

.u-book-open { -ms-flex-negative: 0; flex-shrink: 0; width: 96px; height: 96px; position: relative; overflow: visible; } 

.div { color: var(--gray900, #191f28); text-align: center; font-family: "Pretendard-SemiBold", sans-serif; font-size: 44px; font-weight: 600; position: relative; } 

.new-arrivals-books { color: var(--gray900, #191f28); text-align: center; font-family: "Pretendard-Regular", sans-serif; font-size: 20px; font-weight: 400; text-transform: uppercase; position: relative; } 

.u-trophy { -ms-flex-negative: 0; flex-shrink: 0; width: 96px; height: 96px; position: relative; overflow: visible; } 

.nav_text { color: var(--gray600, #6b7684); text-align: center; font-family: "Pretendard-Medium", sans-serif; font-size: 44px; font-weight: 500; position: relative; } 

.nav_text_en { color: var(--gray600, #6b7684); text-align: center; font-family: "Pretendard-Regular", sans-serif; font-size: 20px; font-weight: 400; text-transform: uppercase; position: relative; } 

.u-bookmark { -ms-flex-negative: 0; flex-shrink: 0; width: 96px; height: 96px; position: relative; overflow: visible; } 

.nav_text_en { color: var(--gray600, #6b7684); text-align: center; font-family: "Pretendard-Regular", sans-serif; font-size: 20px; font-weight: 400; text-transform: uppercase; position: relative; } 

.u-book-reader { -ms-flex-negative: 0; flex-shrink: 0; width: 96px; height: 96px; position: relative; overflow: visible; } 

.nav_text_en { color: var(--gray600, #6b7684); text-align: center; font-family: "Pretendard-Regular", sans-serif; font-size: 20px; font-weight: 400; text-transform: uppercase; position: relative; } 

.u-search { -ms-flex-negative: 0; flex-shrink: 0; width: 96px; height: 96px; position: relative; overflow: visible; } 

.nav_text_en { color: var(--gray600, #6b7684); text-align: center; font-family: "Pretendard-Regular", sans-serif; font-size: 20px; font-weight: 400; text-transform: uppercase; position: relative; } 

.nav-bar_bottom { -ms-flex-negative: 0; flex-shrink: 0; width: 320px; height: 96px; position: static; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } 

.bottom_in { background: #ffffff; border-style: solid; border-color: transparent; border-width: 0px 0px 0px 1px; width: 320px; height: 96px; position: absolute; left: 320px; top: 2160px; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: rotate(-180deg) scale(1, 1); transform: rotate(-180deg) scale(1, 1); } 

.bottom_frame { width: 320px; height: 96px; position: absolute; left: 0; top: 2074px; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } 

.bottom_img { width: 30%; height: 33px; position: absolute; right: 35%; left: 35%; bottom: 20%; top: 20%; overflow: visible; display: block; } 

.bottom_img_02 { display: none; } 

.slick-slider .slick-track,
.slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition-delay: 10ms; transition-delay: 10ms; } 



@media (max-width: 2160px) {
 /**********************************************common**********************************************/

 .user { left: 1611px; top: 3340px; display: block !important; } 

 .nav-bar { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 2160px; position: absolute; left: 0px; bottom: 0px; top: unset; } 

 .nav-bar_home { border-style: solid; border-color: #c8cdd2; border-width: 0px 2px 0px 0px; padding: 60px 32px 60px 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 12px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; width: 360px; height: 320px; position: relative; } 

 .nav-bar_sel { padding: 60px 32px 60px 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 12px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; width: 360px; height: 320px; position: relative; } 

 .component-15 { left: 100px; top: 3352px; } 

 .tit_frame { left: 178px; top: 140px; } 

}

@media (max-width: 1920px) { /**********************************************common**********************************************/

 .user { width: 225px; height: 60px; left: 1645.5px; top: 972px; } 

 .login { width: 225px; height: 60px; } 

 .login_wrap { border-radius: 100px; padding: 6px 20px 6px 5px; gap: 5px; } 

 .login_wrap_in { width: 200px; } 

 .login_img { width: 47px; height: 48px; } 

 .login_user { font-size: 18px; } 

 .login_user-span { font-size: 18px; font-weight: 700; } 

 .login_user-span2 { font-size: 18px; } 

 .login_user-span3 { font-size: 18px; } 

 .login_user-span4 { font-size: 18px; } 

 .logout { width: 26px; height: 24px; } 

 .login_user_img { right: 4.71%; left: 4.71%; bottom: 6.1%; top: 6.5%; } 

 .tit_frame { gap: 4px; left: 260px; top: 56.5px; } 


 .header_title0 { font-size: 16px !important; } 

 .title_search { font-size: 46px !important; } 


 .component-15 { width: 105px; height: 48px; left: 210px; top: 978px; } 

 .u-turn-to-right { left: 54.72%; } 

 .u-turn-to-left { } 

 .nav-bar { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; position: absolute; left: 0px; top: 0px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: unset; } 

 .nav-bar_home { border-width: 0px 0px 2px 0px; padding: 30px 16px 30px 15px; width: 160px; height: 172px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; } 

 .nav-bar a.button_arrow:hover .nav_text_en:after,
 .nav-bar a.button_arrow:active .nav_text_en:after,
 .nav-bar a.button_arrow:visited .nav_text_en:after { width: 60px; height: 8.5px; } 


 .home { width: 48px; height: 48px; } 

 .nav-bar_sel { padding: 30px 16px 30px 15px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 6px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; width: 160px; height: 172px; } 

 .u-book-open { width: 48px; height: 48px; } 

 .div { font-size: 22px; } 

 .new-arrivals-books { font-size: 10px; } 

 .u-trophy { width: 48px; height: 48px; } 

 .nav_text { font-size: 22px; } 

 .nav_text_en { font-size: 10px; } 

 .u-bookmark { width: 48px; height: 48px; } 

 .nav_text_en { font-size: 10px; } 

 .u-book-reader { width: 48px; height: 48px; } 

 .nav_text_en { font-size: 10px; } 

 .u-search { width: 48px; height: 48px; } 

}

@media (max-width: 1080px) { /**********************************************common**********************************************/

 .user { left: 805.5px; top: 1670px; } 

 .nav-bar { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 1080px; position: absolute; left: 0px; bottom: 0px; top: unset; } 

 .nav-bar_home { border-style: solid; border-color: #c8cdd2; border-width: 0px 2px 0px 0px; padding: 30px 16px 30px 16px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 12px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; width: 172px; height: 160px; position: relative; } 

 .nav-bar_sel { padding: 30px 16px 30px 16px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 12px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; width: 172px; height: 160px; position: relative; } 

 .component-15 { left: 100px; top: 1676px; } 

 .tit_frame { left: 89px; top: 70px; } 

}
