.container {
    background: url("../img/facility/background.svg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
}

.index {
    width: 100px;
    height: 100px;
    background: #000000;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index span {
    color: #FFFFFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.index img {
    position: absolute;
    top: -15px;
    left: 10px;
}