@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.container {
	position: relative;
	height: 100vh;
	background: url('../img/main/background.svg') center center no-repeat;
	background-size: cover;
}

.content {
	position: relative;
	padding: 259px 0 0 275px;
}

.time {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	font-size: 136px;
	font-weight: 300;
	font-style: normal;
	display: flex;
	color: #ffffff;
}

#months {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	display: flex;
	margin-bottom: 334px;
	color: #ffffff;
}

.description {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 160px;
	font-weight: 500;
	line-height: 200px;
	color: #191f28;
}

.description span {
	font-weight: 300;
}

.caption {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
	margin-top: 60px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #ffffff;
}

.arrow {
	width: 240px;
	height: 240px;
	margin-top: 1036px;
	background: url('../img/main/arrow.svg') center center no-repeat;
	background-size: cover;
}

.arrow:hover {
	opacity: 0.7;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}

.cloud {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 2160px;
	animation: float 6s ease-in-out infinite;
}

.bottom {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	width: 2160px;
}

.grass {
	transform-origin: bottom center;
	animation: sway 2s infinite ease-in-out;
}

@keyframes sway {
	0%,
	100% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(10deg);
	}
}

@media (max-width: 1080px) {
	.content {
		padding: 129.5px 0 0 137.5px;
	}

	.time {
		font-size: 68px;
	}

	#months {
		font-size: 20px;
		margin-bottom: 167px;
	}

	.description {
		font-size: 80px;
		line-height: 100px;
	}

	.caption {
		font-size: 20px;
		margin-top: 30px;
		letter-spacing: 2px;
	}

	.arrow {
		width: 120px;
		height: 120px;
		margin-top: 518px;
	}

	.cloud {
		width: 1080px;
	}

	.bottom {
		width: 1080px;
	}
}
