.container {
    background: url("../img/new-book/background.svg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
