.container {
    background: url("../img/new-book/background.svg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 1700px;
    margin: 0 auto;
    padding-top: 96px;
}

.grid {
    justify-items: center;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 120px;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.grid-item img {
    display: inline-block;
    object-fit: cover;
    width: 440px;
    height: 643px;
    border-radius: 24px;
    box-shadow: 0 10px 30px 0 rgba(25, 33, 61, 0.20);
    margin-bottom: 28px;
}

.book-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    color: #191F28;
    line-height: 140%;
    letter-spacing: -1.2px;
    margin-bottom: 8px;
}

.name {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
    color: #4E5968;
    margin-bottom: 8px;
}

.year {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    color: #4E5968;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.slick-dots li button {
    display: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -100px;
}

.slick-dots li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ADB5BD;
    margin: 0 20px;
}

.slick-dots li.slick-active {
    background: #333D4B;
}
