.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background: url('../img/notice/background.svg') center center no-repeat;
	background-size: cover;
}

.selected-item {
	width: 1600px;
	height: 2164px;
	border-radius: 24px;
	background: url('../img/notice/p01.png') center center no-repeat;
	background-size: cover;
	box-shadow: 40px 40px 60px 0 rgba(0, 0, 0, 0.15);
}

.slider {
	width: 100%;
	max-width: 1600px;
	margin-top: 140px;
}

.slider .item {
	width: 240px;
	height: 340px;
	margin-right: 100px;
	margin-bottom: 100px;
	border-radius: 8px;
	box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.2);
}

.slider .item:hover {
	border: 3px solid #000000;
}

.slick-prev,
.slick-next {
	display: none !important;
}

.slick-dots li button {
	display: none;
}

.slick-dots {
	position: relative;
	bottom: -50px;
	display: flex;
	justify-content: center;
}

.slick-dots li {
	width: 24px;
	height: 24px;
	margin: 0 20px;
	border-radius: 50%;
	background: #adb5bd;
}

.slick-dots li.slick-active {
	background: #333d4b;
}
