.container {
    background: url("../img/notice/background.svg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-item {
    background: url("../img/notice/p01.png") center center no-repeat;
    background-size: cover;
    width: 1600px;
    border-radius: 24px;
    height: 2164px;
    box-shadow: 40px 40px 60px 0 rgba(0, 0, 0, 0.15);
}

.slider {
    width: 100%;
    max-width: 1600px;
    margin-top: 140px;
}

.slider .item {
    width: 240px;
    height: 340px;
    border-radius: 8px;
    margin-right: 100px;
    margin-bottom: 100px;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.20);
}

.slider .item:hover {
    border: 3px solid #000000;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.slick-dots li button {
    display: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -50px;
}

.slick-dots li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ADB5BD;
    margin: 0 20px;
}

.slick-dots li.slick-active {
    background: #333D4B;
}
