.container {
    background: url("../img/notice/background.svg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 120px 0 80px 0;
}

.title {
    color: #333D4B;
    font-size: 76px;
    font-style: normal;
    font-weight: 500;
}

.caption {
    color: #6B7684;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 6.4px;
}

.selected-item {
    background: url("../img/notice/p01.png") center center no-repeat;
    background-size: cover;
    width: 1600px;
    border-radius: 24px;
    height: 2164px;
    box-shadow: 40px 40px 60px 0 rgba(0, 0, 0, 0.15);
}

.slider {
    width: 100%;
    justify-content: center;
    max-width: 1600px;
    margin-top: 140px;
}

.slider .item {
    border-radius: 8px;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.20);
}

.slider .item:hover {
    border: 3px solid #000000;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.slick-dots li button {
    display: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -100px;
}

.slick-dots li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ADB5BD;
    margin: 0 20px;
}

.slick-dots li.slick-active {
    background: #333D4B;
}

.navigation {
    justify-content: space-between;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 32px 60px;
    background: linear-gradient(0deg, #072143 0%, #072143 100%), linear-gradient(0deg, #303B45 0%, #303B45 100%), #151A2E;
}

.navigation > li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.navigation > li > img {
    width: 96px;
    height: 96px;
}

.navigation > li > .menu {
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    color: #6B7684;
}

.navigation > li > span {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #6B7684;
}

.active {
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
}

.active-caption {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF !important;
}