.container {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background: url('../../asset/img/type_c/book-information/background.png') center center no-repeat;
	background-size: cover;
}

.btn_wrapper {
	position: fixed;
	z-index: 10;
	bottom: 370px;
	left: 80px;
}

.book_wrapper {
	position: relative;
	margin-top: 96px;
	margin-bottom: 80px;
}

.book_wrapper img {
	display: inline-block;
	width: 760px;
	height: 1100px;
	border-radius: 24px;
	box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2);
	object-fit: cover;
}

.badge {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 50px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	position: absolute;
	top: 800px;
	right: -110px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 212px;
	height: 212px;
	letter-spacing: -1.25px;
	color: #ffffff;
	border-radius: 50%;
	background: #113b9e;
}

.book_name {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 80px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	margin-bottom: 80px;
	text-align: center;
	letter-spacing: -2px;
	color: #191f28;
}

.book_detail {
	font-family: 'Pretendard-Regular', sans-serif;
	display: flex;
	justify-content: space-between;
	width: 1480px;
}

.detail_content {
	font-family: 'Pretendard-Regular', sans-serif;
	display: flex;
	flex-direction: column;
	gap: 17px;
}

.description {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 48px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1.2px;
	color: #191f28;
}

.description span {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 48px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	margin-right: 20px;
	letter-spacing: -1.2px;
	color: #4e5968;
}

.button {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 48px;
	font-weight: 600;
	font-style: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1840px;
	height: 113px;
	margin: 80px 0;
	cursor: pointer;
	text-align: center;
	color: #ffffff;
	border-radius: 16px;
	background: #adb5bd;
}

.button:hover {
	opacity: 0.7;
}

.book_information {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 48px;
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
	display: -webkit-box;
	overflow: hidden;
	width: 1840px;
	margin-bottom: 91px;
	text-overflow: ellipsis;
	color: #191f28;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}

.book_information span {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 48px;
	font-weight: 600;
	font-style: normal;
	line-height: 80px;
	margin-bottom: 8px;
	color: #4e5968;
}

.slider_wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 780px;
	padding: 60px 144px;
	background: #eef7ff;
}

.next {
	position: absolute;
	z-index: 10;
	top: 254px;
	right: 168px;
	width: 96px;
	height: 96px;
}
.prev {
	position: absolute;
	z-index: 10;
	top: 254px;
	left: 168px;
	width: 96px;
	height: 96px;
}

.slider {
	width: 1600px;
}

.slider_item {
	display: flex !important;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 240px;
	padding: 30px;
}

.slider_item .book_img {
	width: 240px;
	height: 340px;
	border-radius: 8px;
	box-shadow: 0 10px 30px 0 rgba(25, 33, 61, 0.2);
	object-fit: cover;
}

.slider_item div {
	font-size: 32px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	margin-top: 28px;
	letter-spacing: -0.8px;
	color: #6b7684;
}

.prev_btn {
	font-size: 40px;
	font-weight: 500;
	font-style: normal;
	line-height: 140%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 120px;
	padding: 32px 42px;
	cursor: pointer;
	letter-spacing: -1px;
	color: #191f28;
	border: 2px solid #191f28;
	border-radius: 100px;
	background: #fff;
}

.prev_btn:hover {
	opacity: 0.7;
}

.prev_btn img {
	position: absolute;
	bottom: -30px;
	left: 50px;
}

.popup_overlay {
	position: fixed;

	z-index: 999;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}
.popup_content {
	width: 1800px;
	text-align: center;
	border-radius: 60px;
	background-color: white;
}

.popup_wrapper {
	padding: 108px 90px 54px 90px;
}

.popup_title {
	font-size: 72px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	margin-bottom: 39px;
	text-align: center;
	color: #242424;
}

.map {
	width: 1620px;
	height: 981px;
}

.action_btn {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-top: 1px solid #a2a2a2;
}

.action_btn::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 70px;
	content: '';
	transform: translate(-50%, -50%);
	background-color: #a2a2a2;
}

.close_btn,
.print_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	padding: 60px;
	cursor: pointer;
	gap: 20px;
}

.close_btn div,
.print_btn div {
	font-size: 60px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: #242424;
}

.close_btn img,
.print_btn img {
	width: 80px;
	height: 80px;
}

@media (max-width: 1080px) {
	.container {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		background: url('../../asset/img/type_c/book-information/background.png') center center no-repeat;
		background-size: cover;
	}

	.btn_wrapper {
		position: fixed;
		z-index: 10;
		bottom: 185px;
		left: 40px;
	}

	.book_wrapper {
		position: relative;
		margin-top: 48px;
		margin-bottom: 40px;
	}

	.book_wrapper img {
		display: inline-block;
		width: 380px;
		height: 550px;
		border-radius: 12px;
		box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.2);
		object-fit: cover;
	}

	.badge {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 25px;
		font-weight: 500;
		font-style: normal;
		line-height: normal;
		position: absolute;
		top: 400px;
		right: -55px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 106px;
		height: 106px;
		letter-spacing: -0.625px;
		color: #ffffff;
		border-radius: 50%;
		background: #113b9e;
	}

	.book_name {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 40px;
		font-weight: 600;
		font-style: normal;
		line-height: normal;
		margin-bottom: 40px;
		text-align: center;
		letter-spacing: -1px;
		color: #191f28;
	}

	.book_detail {
		font-family: 'Pretendard-Regular', sans-serif;
		display: flex;
		justify-content: space-between;
		width: 740px;
	}

	.detail_content {
		font-family: 'Pretendard-Regular', sans-serif;
		display: flex;
		flex-direction: column;
		gap: 8.5px;
	}

	.description {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 24px;
		font-weight: 500;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.6px;
		color: #191f28;
	}

	.description span {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 24px;
		font-weight: 400;
		font-style: normal;
		line-height: normal;
		margin-right: 10px;
		letter-spacing: -0.6px;
		color: #4e5968;
	}

	.button {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 24px;
		font-weight: 600;
		font-style: normal;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 920px;
		height: 56.5px;
		margin: 40px 0;
		cursor: pointer;
		text-align: center;
		color: #ffffff;
		border-radius: 8px;
		background: #adb5bd;
	}

	.button:hover {
		opacity: 0.7;
	}

	.book_information {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 24px;
		font-weight: 400;
		font-style: normal;
		line-height: 150%;
		display: -webkit-box;
		overflow: hidden;
		width: 920px;
		margin-bottom: 45.5px;
		text-overflow: ellipsis;
		color: #191f28;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
	}

	.book_information span {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 24px;
		font-weight: 600;
		font-style: normal;
		line-height: 40px;
		margin-bottom: 4px;
		color: #4e5968;
	}

	.slider_wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 390px;
		padding: 30px 72px;
		background: #eef7ff;
	}

	.next {
		position: absolute;
		z-index: 10;
		top: 127px;
		right: 84px;
		width: 48px;
		height: 48px;
	}

	.prev {
		position: absolute;
		z-index: 10;
		top: 127px;
		left: 84px;
		width: 48px;
		height: 48px;
	}

	.slider {
		width: 800px;
	}

	.slider_item {
		display: flex !important;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 120px;
		padding: 15px;
	}

	.slider_item .book_img {
		width: 120px;
		height: 170px;
		border-radius: 4px;
		box-shadow: 0 5px 15px 0 rgba(25, 33, 61, 0.2);
		object-fit: cover;
	}

	.slider_item div {
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		line-height: normal;
		margin-top: 14px;
		letter-spacing: -0.4px;
		color: #6b7684;
	}

	.prev_btn {
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		line-height: 140%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 120px;
		height: 60px;
		padding: 16px 21px;
		cursor: pointer;
		letter-spacing: -0.5px;
		color: #191f28;
		border: 1px solid #191f28;
		border-radius: 50px;
		background: #fff;
	}

	.prev_btn:hover {
		opacity: 0.7;
	}

	.prev_btn img {
		position: absolute;
		bottom: -15px;
		left: 25px;
		width: 68.6px;
		height: 30.5px;
	}

	.popup_overlay {
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
	}

	.popup_content {
		width: 900px;
		text-align: center;
		border-radius: 30px;
		background-color: white;
	}

	.popup_wrapper {
		padding: 54px 45px 27px 45px;
	}

	.popup_title {
		font-size: 36px;
		font-weight: 600;
		font-style: normal;
		line-height: normal;
		margin-bottom: 19.5px;
		text-align: center;
		color: #242424;
	}

	.map {
		width: 810px;
		height: 490.5px;
	}

	.action_btn {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		border-top: 1px solid #a2a2a2;
	}

	.action_btn::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1px;
		height: 35px;
		content: '';
		transform: translate(-50%, -50%);
		background-color: #a2a2a2;
	}

	.close_btn,
	.print_btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		padding: 30px;
		cursor: pointer;
		gap: 10px;
	}

	.close_btn div,
	.print_btn div {
		font-size: 30px;
		font-weight: 500;
		font-style: normal;
		line-height: normal;
		color: #242424;
	}

	.close_btn img,
	.print_btn img {
		width: 40px;
		height: 40px;
	}
}
