.faci_wrap {
	width: 100%;
	height: 3840px;
	background: url(../../../asset/img/type_a/info/facility/bg_faci.png) no-repeat top center;
	background-size: cover;
	position: relative;
}
.faci_wrap .header h1 {
	color: #fff !important;
}
.faci_wrap .header p {
	color: #8b95a1 !important;
}

.faci_wrap .faci_tab {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 176px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 1076px;
	margin: 0 auto;
	z-index: 99999;
}
.faci_wrap .bx-wrapper {
	background: none;
	border: 0;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}
.faci_wrap .contents {
	width: 1800px;
	margin: 0 auto;
}
.faci_wrap .map_wrapper {
	width: 1840px;
	position: relative;
	height: 1200px;
	top: 0;
	width: auto;
}
.faci_wrap .faci_tab a {
	color: #adb5bd;
	text-align: center;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 80px;
	font-weight: 600;
	display: inline-block;
	width: 240px;
	position: relative;
}
.faci_wrap .faci_tab a.active {
	color: #fec962;
}
.faci_wrap .faci_tab a.active:after {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 118px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background: url('../../../asset/img/type_a/info/facility/tab_line.svg');
	width: 90px;
	height: 2px;
	content: '';
}
.faci_wrap .faci_tab_cont {
	display: block;
	position: relative;
	height: 2974px;
	margin: -8px auto;
}
.faci_wrap .tab_content {
	opacity: 0;
	height: 0;
	margin: 0 auto;
}
.floor_page {
	height: 3070px !important;
	width: 1800px !important;
}
.faci_wrap .tab_content.active {
	opacity: 1;
	height: 3000px;
	width: 100%;
}
.faci_floor {
	color: #ffffff;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 340px;
	font-weight: 500; /* position: absolute; */
	left: calc(50% - 872px);
	top: calc(50% - 190px);
	line-height: normal;
}
.faci_tit {
	color: #ffffff;
	text-align: left;
	font-family: 'Pretendard-Bold', sans-serif;
	font-size: 120px;
	font-weight: 700;
	position: absolute;
	left: calc(50% - 872px);
	top: 1800px;
}
.faci_img {
	width: auto;
	height: 1260px;
	position: absolute;
	left: calc(50% - 908px);
	top: 0;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -1;
}
.faci_wrap .marker {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 300px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.faci_wrap .arc {
	position: relative !important;
}
.faci_wrap .arc-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.faci_wrap .map_tit {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.faci_wrap .place_01 {
	color: #ffffff;
	text-align: center;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 40px;
	letter-spacing: -0.025em;
	font-weight: 500;
}
.faci_wrap .place_02 {
	color: #ffffff;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 32px;
	letter-spacing: -0.025em;
	font-weight: 500;
	text-align: center;
}
.faci_wrap .arc_img {
	width: 118px;
	position: relative;
}
.faci_wrap .shadow {
	background: rgba(217, 217, 217, 0.5);
	border-radius: 50%;
	width: 70px;
	height: 20px;
	-webkit-filter: blur(2.5px);
	filter: blur(2.5px);
	mix-blend-mode: plus-darker;
	display: block;
}
.faci_wrap .arc_01 {
	width: 118px;
	height: 158px;
	position: relative;
	overflow: visible;
}
.faci_wrap .number_txt {
	color: #191f28;
	text-align: center;
	font-family: 'Pretendard-ExtraBold', sans-serif;
	font-size: 45px;
	font-weight: 800;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.faci_wrap .arc_02 {
	width: 118px;
	height: 158px;
	position: relative;
	overflow: visible;
}
.faci_wrap .arc_03 {
	width: 118px;
	height: 158px;
	position: relative;
	overflow: visible;
}
.faci_wrap .arc_04 {
	width: 118px;
	height: 158px;
	position: relative;
	overflow: visible;
}
.faci_wrap .arc_05 {
	width: 118px;
	height: 158px;
	position: relative;
	overflow: visible;
}
.faci_wrap .arc_06 {
	width: 118px;
	height: 158px;
	position: relative;
	overflow: visible;
}
.faci_wrap .text_wrap {
	padding: 40px 28px 40px 28px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 1800px;
	position: relative;
	left: calc(50% - 900px);
	top: 1018px;
}
.faci_wrap .num_frame {
	background: #ffffff;
	border-radius: 164px;
	padding: 46px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 16px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 82px;
	height: 82px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 12px;
}
.faci_wrap h4 {
	color: #ffffff;
	text-align: left;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 60px;
	line-height: 140%;
	letter-spacing: -0.025em;
	font-weight: 500;
	position: relative;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}
.faci_wrap .txt_frame {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 48px;
	padding: 60px 80px 60px 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 1800px;
	position: absolute;
	left: calc(50% - 900px);
	top: 655px;
}
.faci_wrap .txt_box {
	color: #eff1f3;
	text-align: left;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 52px;
	line-height: 150%;
	font-weight: 500;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.mark_01 {
	left: 754px;
	top: 0px;
}
.mark_02 {
	left: 340px;
	top: -180px;
}
.mark_03 {
	left: 476px;
	top: 100px;
}
.mark_04 {
	left: 900px;
	top: -140px;
}
.mark_05 {
	left: 1480px;
	top: -800px;
}
.mark_06 {
	left: 1140px;
	top: -888px;
}
.small_photo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 30px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 1800px;
	z-index: 99999;
	left: calc(50% - 900px);
	top: 1920px;
}
.photo_frame {
	background: rgba(16, 13, 16, 0.5);
	border-radius: 24px;
	padding: 60px 40px 60px 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 70px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 556px;
	position: relative;
	overflow: hidden;
	z-index: 99999;
}
.photo_frame a {
	display: block;
	width: 100%;
	height: 100%;
}
.faci_total {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 32px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
}
.pic_txt_frame {
	padding: 0px 0px 0px 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 12px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
}
.facilty-1 {
	color: #adb5bd;
	text-align: left;
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 40px;
	letter-spacing: 0undefined;
	font-weight: 400;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.facilty-1-span {
	color: #adb5bd;
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 40px;
	letter-spacing: 0.05em;
	font-weight: 400;
}
.facilty-1-span2 {
	color: #adb5bd;
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 40px;
	font-weight: 400;
}
.pic_txt {
	color: #ffffff;
	text-align: center;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 40px;
	font-weight: 600;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.fa_image {
	border-radius: 8px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	height: 280px;
	position: relative;
	-o-object-fit: cover;
	object-fit: cover;
}
#imageModal_01 {
	display: none;
	position: fixed;
	z-index: 9999999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999999 !important;
}
.pop-info {
	background: #ffffff;
	border-radius: 60px;
	width: 1800px;
	height: 2478px;
	position: absolute;
	left: calc(50% - 900px);
	bottom: 922px;
	overflow: hidden;
}
.modal_main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 1500px;
	position: absolute;
	left: calc(50% - 750px);
	top: 424px;
}
.modal_main_img {
	border-radius: 36px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 1500px;
	height: 935px;
	position: relative;
	-o-object-fit: cover;
	object-fit: cover;
}
.line_03 {
	background: #e5e8eb;
	width: 1800px;
	height: 2px;
	position: absolute;
	left: calc(50% - 900px);
	top: 2278px;
}
.modal_a_01 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 19px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	position: absolute;
	left: calc(50% - 140px);
	top: 2338px;
}
.ic-print {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 76px;
	height: 76px;
	position: relative;
	overflow: hidden;
}
.close_mark {
	height: auto;
	position: absolute;
	left: 18px;
	top: 18px;
	overflow: visible;
}
.close {
	color: #191f28;
	text-align: left;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 60px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.modal_tit_wrap {
	background: #8b95a1;
	border-radius: 60px 60px 0px 0px;
	padding: 160px 0px 60px 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 20px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 1800px;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
.modal_txt {
	color: #ffffff;
	text-align: left;
	font-family: 'Pretendard-Bold', sans-serif;
	font-size: 68px;
	letter-spacing: -0.025em;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.modal_stit_wrap {
	width: 228px;
	height: 42px;
	position: absolute;
	left: 110px;
	top: 105px;
	overflow: hidden;
}
.modal_stxt {
	color: #ffffff;
	text-align: left;
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 44px;
	font-weight: 400;
	position: absolute;
	left: 0px;
	top: -5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.modal_sub_img {
	width: 498px;
	height: 327px;
	position: relative;
	left: calc(50% - -293.59px);
	top: 51px;
	-o-object-fit: cover;
	object-fit: cover;
}
.small_marker {
	width: 38px;
	height: 52px;
	position: relative;
	left: 70% !important;
	top: -9% !important;
}
.small_arc {
	width: 38px;
	height: 52px;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	overflow: visible;
}
.small_num {
	background: #ffffff;
	border-radius: 542px;
	padding: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 5px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 33px;
	height: 33px;
	position: absolute;
	overflow: hidden;
	top: 6%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.small_num .number_txt {
	color: #191f28;
	text-align: center;
	font-family: 'Pretendard-ExtraBold', sans-serif;
	font-size: 12.9884033203125px;
	font-weight: 800;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.pop_totaltxt .text_check {
	padding: 50px 28px 12px 28px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 1612px;
	position: relative; /* left: 50%; */
	display: inline-block; /* -webkit-transform: translateX(-50%); */ /* transform: translateX(-50%); */
}
.text_wrap_ex h4 {
	background: url('../../../asset/img/type_a/info/facility/h4_img.svg') no-repeat 0px 2px;
	font-size: 22px;
	line-height: 125%;
	color: #333;
	padding: 5px 0 5px 102px;
	color: #191f28;
	text-align: left;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 60px;
	line-height: 140%;
	letter-spacing: -0.025em;
	font-weight: 500;
	position: relative;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}
.pop_totaltxt {
	width: 1612px;
	display: block;
	height: 850px;
	overflow-x: hidden;
	margin: 1000px auto 0;
}
.pop_totaltxt .txt_frame {
	background: #eff1f3;
	border-radius: 36px;
	padding: 60px 80px 60px 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 1620px;
	position: relative;
	left: 50%;
	display: inline-block;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.pop_totaltxt .txt_box {
	color: #191f28;
	text-align: left;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 40px;
	line-height: 150%;
	font-weight: 500;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.faci_wrap .bx-wrapper .bx-pager {
	bottom: 180px;
}
.faci_wrap .bx-wrapper .bx-pager.bx-default-pager a {
	background: #adb5bd;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin: 0 20px;
}
.faci_wrap .bx-wrapper .bx-pager.bx-default-pager a.active,
.faci_wrap .bx-wrapper .bx-pager.bx-default-pager a:focus,
.faci_wrap .bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: #fff;
}

@media (max-width: 1080px) {
	.faci_wrap {
		height: 1920px;
	}
	.faci_wrap .contents {
		width: 900px;
		margin: 0 auto;
	}
	.faci_wrap .map_wrapper {
		/* width: 920px; */
		position: relative;
		height: 600px;
		top: 3%;
	}
	.faci_wrap .faci_tab {
		gap: 88px;
		width: 538px;
	}
	.faci_wrap .faci_tab a {
		font-size: 40px;
		width: 120px;
	}
	.faci_wrap .faci_tab a.active:after {
		top: 60px;
		width: 45px;
	}
	.faci_wrap .faci_tab_cont {
		height: 1474px;
		margin: -4px auto;
	}
	.floor_page {
		height: 1500px !important;
		width: 900px !important;
	}
	.faci_wrap .tab_content.active {
		height: 1500px;
	}
	.faci_floor {
		font-size: 170px;
	}
	.faci_tit {
		font-size: 60px;
	}
	.faci_img {
		width: 100%;
		height: 630px;
		left: calc(50% - 448px);
	}
	.faci_wrap .marker {
		/* width: 60px; */
		height: 78px;
	}
	.faci_wrap .arc {
		width: 60px;
		height: 78px;
	}
	.faci_wrap .number_txt {
		font-size: 22px;
	}
	.faci_wrap .text_wrap {
		padding: 20px 14px 20px 14px;
		gap: 10px;
		width: 900px;
		left: calc(50% - 450px);
		top: 509px;
	}
	.faci_wrap .num_frame {
		border-radius: 82px;
		padding: 22px;
		gap: 8px;
		width: 40px;
		height: 40px;
		top: 6px;
	}
	.faci_wrap h4 {
		font-size: 30px;
		background-size: 32px;
	}
	.faci_wrap .txt_frame {
		border-radius: 24px;
		padding: 30px 40px 30px 40px;
		gap: 10px;
		width: 900px;
		left: calc(50% - 450px);
		top: 327px;
	}
	.faci_wrap .txt_box {
		font-size: 26px;
	}
	.faci_wrap .marker {
		height: 150px;
	}
	.faci_wrap .place_01 {
		font-size: 20px;
	}
	.faci_wrap .place_02 {
		font-size: 16px;
	}
	.faci_wrap .arc_img {
		width: 60px;
	}
	.faci_wrap .shadow {
		width: 35px;
		height: 10px;
	}
	.mark_01 {
		left: 377px;
		top: 0px;
	}
	.mark_02 {
		left: 85px;
		top: -90px;
	}
	.mark_03 {
		left: 238px;
		top: 50px;
	}
	.mark_04 {
		left: 450px;
		top: -70px;
	}
	.mark_05 {
		left: 740px;
		top: -400px;
	}
	.mark_06 {
		left: 570px;
		top: -444px;
	}
	.small_photo {
		gap: 15px;
		width: 900px;
		top: 960px;
	}
	.photo_frame {
		border-radius: 12px;
		padding: 30px 20px 30px 20px;
		gap: 35px;
		width: 278px;
	}
	.faci_total {
		gap: 16px;
	}
	.pic_txt_frame {
		padding: 0px 0px 0px 4px;
		gap: 6px;
	}
	.facilty-1 {
		font-size: 20px;
	}
	.facilty-1-span {
		font-size: 20px;
	}
	.facilty-1-span2 {
		font-size: 20px;
	}
	.pic_txt {
		font-size: 20px;
		font-weight: 600;
	}
	.fa_image {
		border-radius: 4px;
		width: 100%;
		height: 140px;
	}
	.pop-info {
		border-radius: 30px;
		width: 900px;
		height: 1239px;
		left: calc(50% - 450px);
		bottom: 461px;
	}
	.modal_main {
		gap: 10px;
		width: 750px;
		left: calc(50% - 375px);
		top: 212px;
	}
	.modal_main_img {
		border-radius: 18px;
		width: 750px;
		height: 467.61px;
	}
	.line_03 {
		width: 900px;
		height: 2px;
		position: absolute;
		left: calc(50% - 450px);
		top: 1139px;
	}
	.modal_a_01 {
		gap: 10px;
		left: calc(50% - 70px);
		top: 1170px;
	}
	.ic-print {
		width: 38px;
		height: 38px;
	}
	.close_mark {
		left: 9px;
		top: 9px;
		width: 62%;
	}
	.close {
		font-size: 30px;
	}
	.modal_tit_wrap {
		border-radius: 30px 30px 0px 0px;
		padding: 80px 0px 30px 50px;
		gap: 10px;
		width: 900px;
	}
	.modal_txt {
		font-size: 34px;
	}
	.modal_stit_wrap {
		width: 114px;
		height: 21px;
		left: 55px;
		top: 52px;
	}
	.modal_stxt {
		font-size: 22px;
		top: -5px;
	}
	.modal_sub_img {
		width: 250px;
		height: 164px;
		left: calc(50% - -147px);
		top: 26px;
	}
	.small_marker {
		width: 20px;
		height: 26px;
	}
	.small_arc {
		width: 20px;
		height: 26px;
	}
	.small_num {
		border-radius: 27px;
		padding: 8px;
		gap: 3px;
		width: 16px;
		height: 16px;
	}
	.small_num .number_txt {
		font-size: 7px;
	}
	.pop_totaltxt .text_check {
		padding: 25px 14px 6px 14px;
		gap: 10px;
		width: 806px;
	}
	.text_wrap_ex h4 {
		background: url('../../../asset/img/type_a/info/facility/h4_img.svg') no-repeat 0px 1px;
		font-size: 11px;
		padding: 3px 0 3px 50px;
		font-size: 30px;
		background-size: 4%;
	}
	.pop_totaltxt {
		width: 806px;
		height: 425px;
		margin: 500px auto 0;
	}
	.pop_totaltxt .txt_frame {
		border-radius: 18px;
		padding: 30px 40px 30px 40px;
		width: 810px;
	}
	.pop_totaltxt .txt_box {
		font-size: 20px;
	}
	.faci_wrap .bx-wrapper .bx-pager {
		bottom: 90px;
	}
	.faci_wrap .bx-wrapper .bx-pager.bx-default-pager a {
		width: 12px;
		height: 12px;
		margin: 0 10px;
	}
}
