.info-wrap {
  width: 100%;
  height: 3840px; /* max-height: 3840px; */
  background: url(../../../asset/img/type_a/info/information/library-info-bg.png)
    no-repeat top center;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.info-wrap .contents {
  position: relative; /* padding-top: 60px; */ /* padding-right: 45px; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #252525;
  width: 1840px;
  margin: 0 auto;
}
.info-wrap .contents .txt-box {
  padding: 60px 0px 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 80px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; /* width: 2160px; */
}
.info-wrap .contents .title-box {
  padding: 0px 100px 0px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 20px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 422px;
  height: 88px;
  position: relative;
}
.info-wrap .contents h4 {
  display: block;
  font-size: 56px;
  color: #191f28;
  font-family: "Pretendard-SemiBold";
  background: url(../../../asset/img/type_a/info/information/info_title_icon.svg)
    no-repeat right bottom;
  /* margin: 60px 0; */
  padding-bottom: 30px;
  text-align: right;
  line-height: 120%;
  padding: 0 0 20px 0;
}
.info-wrap .contents table {
  border-collapse: collapse;
  text-align: center;
  border-top: 0;
  width: 100%;
  width: 1354px;
}
.info-wrap .contents table thead th {
  border: #6b7684;
  background: #6b7684;
  color: #fff;
  text-align: center;
  font-size: 44px;
  padding: 20px 16px;
  border-width: 0; /* border-radius: 24px 0 0 0; */
}
.info-wrap .contents table thead th.right-top {
  border-top-right-radius: 24px;
}
.info-wrap .contents table thead th.left-top {
  border-top-left-radius: 24px;
}
.info-wrap .contents table tbody td {
  border-color: transparent;
  font-size: 44px;
  padding: 16px 20px;
  background: #fff;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #e5e8eb;
}
.info-wrap .contents table.under_table th.left-top {
  width: 450px;
}
.info-wrap .contents table tbody tr:last-child td.first {
  border-bottom-left-radius: 24px;
}
.info-wrap .contents table tbody tr:last-child td.last {
  border-bottom-right-radius: 24px;
}
.info-wrap .contents table tbody tr:last-child td {
  border-bottom: none;
}
.info-wrap .contents ul li {
  display: block;
  background: url(../../../asset/img/type_a/info/information/info_icon_01.svg)
    no-repeat left 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  padding-left: 96px;
  font-size: 60px;
  letter-spacing: -1.3px;
}
.info-wrap .contents .cont-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0px;
  font-size: 24px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 38px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.guide-line {
  width: 100%;
  height: 1px;
  background: #d0d0d0;
  margin-top: 40px;
}

@media (max-width: 1080px) {
  .info-wrap {
    width: 100%;
    height: 1920px;
  }
  .info-wrap .contents {
    width: 920px;
  }
  .info-wrap .contents .txt-box {
    padding: 30px 0px 30px 0px;
  }
  .info-wrap .contents .title-box {
    padding: 0px 50px 0px 24px;
    gap: 10px;
    width: 211px;
    height: 44px;
  }
  .info-wrap .contents h4 {
    font-size: 28px;
    padding-bottom: 10px;
    background-size: 50px 4px;
  }
  .info-wrap .contents table {
    width: 677px;
  }
  .info-wrap .contents table thead th {
    font-size: 22px;
    padding: 10px 8px;
  }
  .info-wrap .contents table thead th.right-top {
    border-top-right-radius: 12px;
  }
  .info-wrap .contents table thead th.left-top {
    border-top-left-radius: 12px;
  }
  .info-wrap .contents table tbody td {
    font-size: 22px;
    padding: 8px 10px;
  }
  .info-wrap .contents table.under_table th.left-top {
    width: 225px;
  }
  .info-wrap .contents table tbody tr:last-child td.first {
    border-bottom-left-radius: 12px;
  }
  .info-wrap .contents table tbody tr:last-child td.last {
    border-bottom-right-radius: 12px;
  }
  .info-wrap .contents ul li {
    background: url(../../../asset/img/type_a/info/information/info_icon_01.svg)
      no-repeat left 5px;
    padding-left: 48px;
    font-size: 30px;
    letter-spacing: -1.3px;
    background-size: 34px 42px;
  }
  .info-wrap .contents .cont-box {
    font-size: 12px;
    gap: 19px;
  }
  .guide-line {
    margin-top: 20px;
  }
}
