/**********************************************미디어월 헤더:타이틀영역**********************************************/
.header_wrap {
  color: #8b95a1;
  padding: 100px 160px 100px 160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 3840px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.header_frame {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.header_group {
  align-self: stretch;
  flex-shrink: 0;
  height: 38px;
  position: static;
}

.ict_tit {
  color: #8b95a1;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 32px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3520px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.daily_wrap {
  background: #272930;
}

.daily_wrap .daily_tit_wrap {
  width: 3840px;
  height: 820px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  overflow: hidden;
}

.daily_wrap .daily_tit_frame {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}

.daily_wrap .large_tit {
  flex-shrink: 0;
  width: 3000px;
  height: 358px;
  position: static;
}

.daily_wrap .large_ltext {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 300px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50% - 258.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.daily_wrap .small_stit {
  flex-shrink: 0;
  width: 548px;
  height: 142px;
  position: static;
}

.daily_wrap .lending-day {
  color: var(--gray400, #adb5bd);
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 398px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**********************************************미디어월 푸터:티커영역**********************************************/
.ticker {
  background: #000000;
  padding: 40px 70px 40px 70px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  max-width: 3840px;
  width: 100%;
  max-height: 128px;
  height: 100%;
  position: absolute;
  left: 0.05px;
  bottom: 0px;
  overflow: hidden;
}

.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 44px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.animated-title .bottom_txt {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: rotate(0.04deg) translate3d(0, 0, 0);
}

.animated-title .track {
  position: absolute;
  white-space: nowrap;
  will-change: left;
  -webkit-animation: marquee 30s linear infinite;
  animation: marquee 60s linear infinite;
}

@-webkit-keyframes marquee {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

@keyframes marquee {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

/**********************************************도서검색 헤더:타이틀영역**********************************************/
.mylib {
  border-radius: 60px;
  border-style: solid;
  border-color: var(--gray900, #191f28);
  border-width: 2px;
  padding: 30px 56px 30px 56px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1631px;
  top: 162px;
  overflow: hidden;
}

.vector_mylib {
  flex-shrink: 0;
  width: 60px;
  height: 48px;
  position: relative;
  overflow: visible;
}

.mylib_div {
  color: #191f28;
  text-align: left;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 44px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title_bg_01 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 178px;
  top: 140px;
}

.new-arrivals-books2 {
  color: #8b95a1;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title_bg_div {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 92px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/**********************************************도서검색 푸터:하단메뉴 및 뒤로가기, 로그인버튼**********************************************/
.my_info_login {
  width: 449px;
  height: 120px;
  position: absolute;
  left: 1611px;
  top: 3340px;
}

.login_info {
  width: 449px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.login_frame {
  background: #ffffff;
  border-radius: 200px;
  padding: 12px 40px 12px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login_frame_m {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 399px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  flex-shrink: 0;
  width: 93px;
  height: 96px;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
}

.login_div {
  color: var(--gray900, #191f28);
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name_span {
  color: #191f28;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.name_span2 {
  color: #191f28;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.name_span3 {
  color: #191f28;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.name_span4 {
  color: #191f28;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.move_frame {
  flex-shrink: 0;
  width: 46px;
  height: 41px;
  position: relative;
  overflow: hidden;
}

.move_group {
  width: 90.58%;
  height: 87.4%;
  position: absolute;
  right: 4.71%;
  left: 4.71%;
  bottom: 6.1%;
  top: 6.5%;
  overflow: visible;
}

.nav-bar {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 2160px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.home_frame {
  border-style: solid;
  border-color: #c8cdd2;
  border-width: 0px 2px 0px 0px;
  padding: 60px 32px 60px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 320px;
  position: relative;
}

.home_img {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  overflow: visible;
}

.nav_frame {
  padding: 60px 32px 60px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 320px;
  position: relative;
}

.u-book-open {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  overflow: visible;
}

.nav_tit_active {
  color: #191f28;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 44px;
  font-weight: 600;
  position: relative;
}

.new-arrivals-books {
  color: #191f28;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.nav_active_frame {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}

.u-trophy {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  overflow: visible;
}

.nav_tit {
  color: #6b7684;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 44px;
  font-weight: 500;
  position: relative;
}

.best-rental-book {
  color: #6b7684;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.u-bookmark {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  overflow: visible;
}

.popular-books {
  color: #6b7684;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.u-book-reader {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  overflow: visible;
}

.recommended-books {
  color: #6b7684;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.u-search {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  overflow: visible;
}

.book-search {
  color: #6b7684;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.component-move {
  width: 210px;
  height: 96px;
  position: absolute;
  left: 100px;
  top: 3352px;
}

.component-move .u-turn-to-right {
  width: 45.28%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 54.72%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}

.component-move .u-turn-to-left {
  width: 45.28%;
  height: 100%;
  position: absolute;
  right: 60.43%;
  left: -5.71%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}

/**********************************************반응형**********************************************/
@media (max-width: 1920px) {
  .header_wrap {
    padding: 50px 80px 50px 80px;
    width: 1920px;
  }

  .header_group {
    height: 19px;
  }

  .ict_tit {
    font-size: 16px;
    letter-spacing: 0.05em;
    width: 1920px;
  }

  .ticker {
    padding: 20px 35px 20px 35px;
    gap: 10px;
    max-width: 1920px;
    width: 100%;
    max-height: 64px;
  }

  .div2 {
    font-size: 22px;
    font-weight: 500;
  }

  .daily_wrap .daily_tit_wrap {
    width: 1920px;
    height: 410px;
  }

  .daily_wrap .daily_tit_frame {
    gap: 20px;
  }

  .daily_wrap .large_tit {
    width: 1500px;
    height: 179px;
  }

  .daily_wrap .large_ltext {
    font-size: 150px;
    top: calc(50% - 129.25px);
  }

  .daily_wrap .small_stit {
    width: 274px;
    height: 71px;
  }

  .daily_wrap .lending-day {
    font-size: 50px;
    top: 199px;
  }
}

/**********************************************이용안내 nav 영역**********************************************/
.nav-bar_01 {
  background: #ffffff;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  width: 2160px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: unset;
  z-index: 999;
  box-shadow: 0px -2px 40px 0px rgba(0, 0, 0, 0.1);
}

.nav-bar_01 .nav-bar_home {
  border-style: solid;
  border-color: #c8cdd2;
  border-width: 0px 2px 0px 0px;
  padding: 60px 32px 60px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 360px;
  height: 320px;
  position: relative;
}

.nav-bar_01 a.button_arrow img {
  -webkit-filter: invert(78%) sepia(13%) saturate(173%) hue-rotate(169deg)
    brightness(90%) contrast(92%);
  filter: invert(78%) sepia(13%) saturate(173%) hue-rotate(169deg)
    brightness(90%) contrast(92%);
}

.nav-bar_01 a.button_arrow:hover img,
.nav-bar_01 a.button_arrow:active img,
.nav-bar_01 a.button_arrow:visited img {
  -webkit-filter: invert(6%) sepia(6%) saturate(4831%) hue-rotate(176deg)
    brightness(99%) contrast(86%);
  filter: invert(6%) sepia(6%) saturate(4831%) hue-rotate(176deg)
    brightness(99%) contrast(86%);
}

.nav-bar_01 a.button_arrow .nav_text {
  color: var(--gray600, #6b7684);
}

.nav-bar_01 a.button_arrow .nav_text_en {
  color: var(--gray600, #6b7684);
}

.nav-bar_01 a.button_arrow:hover .nav_text,
.nav-bar_01 a.button_arrow:active .nav_text {
  color: #191f28;
}

.nav-bar_01 a.button_arrow:hover .nav_text_en,
.nav-bar_01 a.button_arrow:active .nav_text_en {
  color: #191f28;
}

.nav-bar_01 a.button_arrow:hover .nav_text_en:after,
.nav-bar_01 a.button_arrow:active .nav_text_en:after,
.nav-bar_01 a.button_arrow:visited .nav_text_en:after {
  content: "";
  position: absolute;
  background: url("../img/page/book/frame-230.svg") no-repeat;
  background-size: cover;
  display: block;
  width: 120px;
  height: 17px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-bar_01 .home {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  overflow: visible;
}

.nav-bar_01 .nav-bar_sel {
  padding: 60px 32px 60px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 360px;
  height: 320px;
  position: relative;
}

.u-notice {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  overflow: visible;
}

.nav-bar_01 .div {
  color: var(--gray900, #191f28);
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 44px;
  font-weight: 600;
  position: relative;
}

.nav-bar_01 .nav_text {
  color: var(--gray600, #6b7684);
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 44px;
  font-weight: 500;
  position: relative;
}

.nav-bar_01 .nav_text_en {
  color: var(--gray600, #6b7684);
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

/**********************************************이용안내 nav 영역 반응형**********************************************/
@media (max-width: 1080px) {
  .nav-bar_01 {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1080px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: unset;
  }

  .nav-bar_01 .nav-bar_home {
    border-style: solid;
    border-color: #c8cdd2;
    border-width: 0px 2px 0px 0px;
    padding: 30px 16px 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 172px;
    height: 160px;
    position: relative;
  }

  .nav-bar_01 .nav-bar_sel {
    padding: 30px 16px 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 180px;
    height: 160px;
    position: relative;
  }

  .nav-bar_01 .nav-bar a.button_arrow:hover .nav_text_en:after,
  .nav-bar_01 a.button_arrow:active .nav_text_en:after,
  .nav-bar_01 a.button_arrow:visited .nav_text_en:after {
    width: 60px;
    height: 8.5px;
  }

  .nav-bar_01 .home {
    width: 48px;
    height: 48px;
  }

  .nav-bar_01 .div {
    font-size: 22px;
  }

  .nav-bar_01 .u-notice {
    width: 48px;
    height: 48px;
  }

  .nav-bar_01 .nav_text {
    font-size: 22px;
  }

  .nav-bar_01 .nav_text_en {
    font-size: 10px;
  }
}

/**********************************************이용안내 헤더**********************************************/
.info .header {
  position: relative;
  padding: 78px 0 78px 0;
  text-align: center;
}

.info .header h1 {
  font-family: "Pretendard-Medium";
  font-weight: 500;
  font-size: 92px;
  color: #191f28;
  margin-bottom: 0px;
}

.info .header p {
  font-family: "Pretendard-SemiBold";
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.2em;
  color: #8b95a1;
  text-transform: uppercase;
}

/**********************************************이용안내 헤더 반응형**********************************************/

@media (max-width: 1080px) {
  .info .header {
    padding: 39px 0 39px 0;
  }

  .info .header h1 {
    font-size: 46px;
  }

  .info .header p {
    font-size: 16px;
  }
}

/**********************************************디지털 정보안내 헤더**********************************************/
.digital .header {
  position: absolute;
  text-align: left;
  top: 130px;
  left: 200px;
}

.digital .header h1 {
  font-family: "Pretendard-SemiBold";
  font-weight: 500;
  font-size: 60px;
  color: #fff;
  margin-bottom: 0px;
}

.digital .header p {
  font-family: "Pretendard-SemiBold";
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.1em;
  color: #8b95a1;
  text-transform: uppercase;
}

/**********************************************디지털 정보안내 헤더 반응형**********************************************/
@media (max-width: 1080px) {
  .digital .header {
    padding: 65px 0 39px 100px;
  }

  .digital .header h1 {
    font-size: 30px;
  }

  .digital .header p {
    font-size: 20px;
  }
}
