.new_wrap {
	position: relative;
	width: 100%;
	height: 3840px;
	background: url(../../../img/type_a/info/book/bg_new.png) no-repeat top center;
	background-size: cover;
}
#best_wrap {
	background: url(../../../img/type_a/info/book/bg_loan.png) no-repeat top center;
}
.new_wrap .bx-wrapper {
	background: none;
	border: 0;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}
.new_wrap .contents {
	width: 1800px;
	margin: 0 auto;
}
.slider {
	width: 1720px;
	margin: 0 auto;
	padding-top: 50px;
}

#best_wrap .slider {
	padding-top: 160px;
}

div[aria-hidden='true'] {
	display: none;
	visibility: hidden;
}

.new_wrap .slide_01 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 170px;
	overflow: visible;
}

.new_wrap .bx-viewport {
	height: 2880px !important;
	overflow: visible !important;
}
.grid {
	display: grid !important;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 120px;
}
.grid-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.grid-item img {
	display: inline-block;
	width: 480px;
	height: 692px;
	margin-bottom: 28px;
	border-radius: 24px;
	-webkit-box-shadow: 20px 20px 70px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 20px 20px 70px 0 rgba(0, 0, 0, 0.2);
	-o-object-fit: cover;
	object-fit: cover;
}

#best_wrap .grid-item img {
	margin-bottom: 50px;
}

.new_wrap .girid_b {
	display: grid !important;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	overflow: visible;
}
.new_wrap .girid_c {
	display: grid !important;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
}
#best_wrap .grid-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	overflow: visible;
}
.girid_c .grid-item img {
	display: inline-block;
	width: 512px;
	height: 788px;
	margin-bottom: 28px;
	border-radius: 24px;
	-webkit-box-shadow: 20px 20px 70px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 20px 20px 70px 0 rgba(0, 0, 0, 0.2);
	-o-object-fit: cover;
	object-fit: cover;
	position: relative;
}
.book-title {
	width: 480px;
	font-size: 48px;
	font-weight: 500;
	font-style: normal;
	line-height: 140%;
	margin-bottom: 8px;
	letter-spacing: -1.2px;
	color: #191f28;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.name {
	width: 480px;
	font-size: 40px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	margin-bottom: 8px;
	letter-spacing: -1px;
	color: #4e5968;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.year {
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1px;
	color: #4e5968;
}
.girid_b .grid-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}
.girid_b .grid-item img {
	position: relative;
	display: inline-block;
	width: 820px;
	height: 1260px;
	margin-bottom: 28px;
	border-radius: 40px;
	-webkit-box-shadow: 20px 20px 70px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 20px 20px 70px 0px rgba(0, 0, 0, 0.2);
}
.girid_b .book-title {
	width: 820px;
	font-size: 60px;
	font-weight: 600;
}
.girid_b .name {
	width: 820px;
	font-size: 50px;
}
.girid_c .book-title {
	width: 512px;
	font-size: 60px;
	font-weight: 600;
}
.girid_c .name {
	width: 512px;
	font-size: 50px;
}
#best_wrap .status-box {
	background: #000000;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%); /* bottom: 87.36%; */
	top: -6%;
	color: var(--white, #ffffff);
	text-align: center;
	font-family: 'Century Gothic', sans-serif;
	font-size: 60px;
	font-weight: 700;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 1;
}
#best_wrap .girid_c .status-box {
	width: 160px;
	height: 160px;
}
#best_wrap .girid_b .status-box {
	width: 200px;
	height: 200px;
	font-size: 72px;
}
.new_wrap .bx-controls {
	position: absolute;
	top: 97%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.new_wrap .bx-wrapper .bx-pager {
	position: relative;
	top: 130px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.new_wrap .bx-wrapper .bx-pager.bx-default-pager a {
	width: 24px;
	height: 24px;
	margin: 0 20px;
	border-radius: 50%;
	background: var(--gray500, #8b95a1);
}
.new_wrap .bx-wrapper .bx-pager.bx-default-pager a.active,
.new_wrap .bx-wrapper .bx-pager.bx-default-pager a:hover,
.new_wrap .bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: #fff;
}

@media (max-width: 1080px) {
	.new_wrap {
		width: 100%;
		height: 1920px;
	}
	.new_wrap .contents {
		width: 900px;
		margin: 0 auto;
	}
	.new_wrap .bx-viewport {
		height: 1440px !important;
	}
	.slider {
		width: 860px;
		padding-top: 25px;
	}
	#best_wrap .slider {
		padding-top: 80px;
	}
	.grid {
		grid-row-gap: 60px;
	}
	.grid-item img {
		display: inline-block;
		width: 240px;
		height: 346px;
		margin-bottom: 14px;
		border-radius: 12px;
		-webkit-box-shadow: 10x 10px 35px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.2);
		-o-object-fit: cover;
		object-fit: cover;
	}

	#best_wrap .grid-item img {
		margin-bottom: 25px;
	}

	.book-title {
		width: 240px;
		font-size: 24px;
		margin-bottom: 4px;
	}
	.name {
		width: 240px;
		font-size: 20px;
		margin-bottom: 4px;
	}
	.year {
		font-size: 20px;
	}
	.new_wrap .slide_01 {
		gap: 85px;
	}
	.girid_c .grid-item img {
		width: 256px;
		height: 394px;
		margin-bottom: 14px;
		border-radius: 12px;
		-webkit-box-shadow: 10x 10px 35px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.2);
	}
	.girid_b .grid-item img {
		width: 410px;
		height: 630px;
		margin-bottom: 14px;
		border-radius: 20px;
		-webkit-box-shadow: 10x 10px 35px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.2);
	}
	.girid_b .book-title {
		width: 410px;
		font-size: 30px;
	}
	.girid_b .name {
		width: 410px;
		font-size: 25px;
	}
	.girid_c .book-title {
		width: 256px;
		font-size: 30px;
	}
	.girid_c .name {
		width: 256px;
		font-size: 25px;
	}
	#best_wrap .status-box {
		font-size: 30px;
	}
	#best_wrap .girid_c .status-box {
		width: 80px;
		height: 80px;
	}
	#best_wrap .girid_b .status-box {
		width: 100px;
		height: 100px;
		font-size: 36px;
	}
	.new_wrap .bx-wrapper .bx-pager {
		top: 65px;
	}
	.new_wrap .bx-wrapper .bx-pager.bx-default-pager a {
		width: 12px;
		height: 12px;
		margin: 0 10px;
	}
}
