.detail_wrap {
	width: 2160px;
	height: 100%;
	height: 3840px;
	text-align: center;
	color: #fff;
	background: url('../../../img/type_a/info/book_information/bg_de.png') no-repeat top center;
	background-size: cover;
}

.detail_wrap .contents {
	position: relative;
	margin: 0;
	padding: 0;
	/* padding-top: 120px; */
}
.detail_wrap .contents .img-sec {
	position: relative;
}
.detail_wrap .contents .img-sec img {
	width: 780px;
	height: 1130px;
	margin: 0 auto;
	-webkit-box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.2);
	box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.2);
}
.detail_wrap .contents .title-sec {
	font-size: 92px;
	font-weight: 700;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 70px 280px 0 280px;
	color: #191f28;
}
.detail_wrap .contents .bookinfo-sec {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 80px 240px 0 240px;
}
.detail_wrap .contents .bookinfo-sec ul {
	font-size: 0;
}
.detail_wrap .contents .bookinfo-sec li {
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 48px;
	display: inline-block;
	overflow: hidden;
	width: 50%;
	text-align: left;
	white-space: nowrap;
	letter-spacing: -0.025em;
	text-overflow: ellipsis;
	color: #191f28;
}
.detail_wrap .contents .bookinfo-sec li span {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 48px;
	display: inline-block;
	width: 200px;
	text-align: left;
	letter-spacing: -0.025em;
	color: #4e5968;
}
.detail_wrap .contents .print-btn {
	margin: 80px 0 0;
}
.detail_wrap .contents .print-btn a {
	font-size: 40px;
	display: block;
	padding: 28px 0;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	background: #6b7684;
}
.detail_wrap .contents .etcinfo-sec {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 48px;
	line-height: 80px;
	padding: 120px 0 0 0px;
	text-align: left;
	color: #252525;
}
.inner-scroll {
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 400px;
	padding: 0 20px 0 0;
}
.status-box {
	font-size: 50px;
	line-height: normal;
	position: absolute;
	bottom: 140px;
	left: 63%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 220px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background: #113b9e;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}
.status-box.red {
	background: #ff674c;
}
.detail_wrap .detail-bookbest-list {
	height: 560px;
	margin: 72px 0 0 0;
}
.detail_wrap .thumbnail-swiper {
	width: 100%;
	height: 100%;
}
.detail_wrap .thumbnail-swiper .swiper-container {
	width: 1760px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 200px;
}
.detail_wrap .thumbnail-swiper .swiper-slide {
	display: inline-block;
	text-align: left;
}
.detail_wrap .thumbnail-swiper .swiper-slide {
	font-size: 36px;
	position: relative;
	display: inline-block;
	width: 240px;
	margin: 0 auto 80px;
	text-align: center;
	vertical-align: top;
}
.detail_wrap .swiper-slide div {
	vertical-align: top;
}
.detail_wrap .swiper-slide div.thumb-image a img {
	width: 240px;
	height: 340px;
	-webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}
.detail_wrap .swiper-slide div.thumb-image {
	display: block;
	width: 240px;
}
.detail_wrap .swiper-slide div.thumb-image a {
	display: block;
}
.detail_wrap .swiper-slide div.cont {
	position: relative;
	width: 240px;
	margin: 0;
	text-align: left;
}
.detail_wrap .swiper-slide div.cont p.tit {
	font-size: 36px;
	line-height: 125%;
	margin-top: 20px;
	text-align: left;
	letter-spacing: -0.05em;
	color: #191f28;
}
.detail_wrap .thumbnail-slider .swiper-slide img {
	display: block;
	width: 120px;
	height: 170px;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	-o-object-fit: cover;
	object-fit: cover;
}
.detail_wrap .thumbnail-slider .cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	gap: 8px;
}
.detail_wrap .thumbnail-slider .tit {
	font-size: 32px;
	display: block;
	overflow: hidden;
	width: 240px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.detail_wrap .thumbnail-slider .tit_sub {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 26px;
	font-weight: 400;
	display: block;
	overflow: hidden;
	width: 120px;
	text-align: left;
	white-space: nowrap;
	letter-spacing: -0.025em;
	text-overflow: ellipsis;
	color: #4e5968;
}
.detail_wrap .main-swiper {
	width: 1840px;
	height: 900px;
	margin: 0 auto;
}
.detail_wrap .swiper-container {
	position: relative;
	overflow: hidden;
	width: 1840px;
	margin: 0 auto;
}
.detail_wrap .thumbnail-slider {
	height: 560px;
}
.detail_wrap .swiper-pagination {
	bottom: 0 !important;
}
.detail_wrap .background_rec {
	position: absolute;
	bottom: 0px;
	width: 2160px;
	height: 870px;
	background: #f7f7f7;
}
.detail_wrap .background_cir {
	position: absolute;
	top: 2%;
	left: 50%;
	width: 1012px;
	height: 1012px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	background: #f7f7f7;
}
.detail_wrap .swiper-pagination-bullet {
	width: 24px;
	height: 24px;
	opacity: 1;
	background: #8b95a1;
}
.detail_wrap .swiper-pagination-bullet-active {
	background: #fff;
}
.inner-scroll::-webkit-scrollbar {
	width: 3px;
}
.inner-scroll::-webkit-scrollbar-thumb {
	border-radius: 25px;
	background: #fff;
}
.inner-scroll::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.2);
}
.popup-overlay {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}
.popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1800px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 60px;
	background-color: white;
}
.popup-wrapper {
	padding: 108px 90px 54px 90px;
}
.popup-title {
	font-size: 72px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	margin-bottom: 39px;
	text-align: center;
	color: #242424;
}
.map {
	width: 1620px;
	height: 980px;
}
.action_btn {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-top: 1px solid #a2a2a2;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}
.action_btn::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 70px;
	content: '';
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #a2a2a2;
}
.close_btn,
.print_btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	padding: 60px;
	cursor: pointer;
	gap: 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
}
.close_btn div,
.print_btn div {
	font-size: 60px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: #242424;
}
.close_btn img,
.print_btn img {
	width: 80px;
	height: 80px;
}

@media (max-width: 1080px) {
	.detail_wrap {
		width: 1080px;
		height: 1920px;
	}
	.detail_wrap .contents {
		margin: 0;
		padding: 0;
		/* padding-top: 65px; */
	}
	.detail_wrap .contents .img-sec img {
		width: 390px;
		height: 565px;
		-webkit-box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.2);
		box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.2);
	}
	.detail_wrap .contents .title-sec {
		font-size: 46px;
		font-weight: 700;
		padding: 35px 140px 0 140px;
	}
	.detail_wrap .contents .bookinfo-sec {
		padding: 40px 120px 0 120px;
	}
	.detail_wrap .contents .bookinfo-sec ul {
		font-size: 0;
	}
	.detail_wrap .contents .bookinfo-sec li {
		font-size: 24px;
		width: 50%;
		letter-spacing: -0.025em;
	}
	.detail_wrap .contents .bookinfo-sec li span {
		font-size: 24px;
		width: 100px;
		letter-spacing: -0.025em;
	}
	.detail_wrap .contents .print-btn {
		margin: 40px 0 0;
	}
	.detail_wrap .contents .print-btn a {
		font-size: 20px;
		padding: 14px 0;
		border-radius: 5px;
	}
	.detail_wrap .contents .etcinfo-sec {
		font-size: 26px;
		line-height: 40px;
		padding: 60px 0 0 0px;
	}
	.inner-scroll {
		height: 200px;
		padding: 0 20px 0 0;
	}
	.status-box {
		font-size: 25px;
		bottom: 69px;
		width: 110px;
		height: 110px;
		border-radius: 50%;
	}
	.detail_wrap .detail-bookbest-list {
		height: 280px;
		margin: 36px 0 0 0;
	}
	.detail_wrap .thumbnail-swiper {
		width: 100%;
		height: 100%;
	}
	.detail_wrap .thumbnail-swiper .swiper-container {
		width: 880px;
		padding-bottom: 50px;
	}
	.detail_wrap .thumbnail-swiper .swiper-slide {
		display: inline-block;
		text-align: left;
	}
	.detail_wrap .thumbnail-swiper .swiper-slide {
		font-size: 18px;
		width: 120px;
		margin: 0 auto 40px;
	}
	.detail_wrap .swiper-slide div.thumb-image a img {
		width: 120px;
		height: 170px;
		-webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	}
	.detail_wrap .swiper-slide div.thumb-image {
		width: 120px;
	}
	.detail_wrap .swiper-slide div.cont {
		width: 120px;
	}
	.detail_wrap .swiper-slide div.cont p.tit {
		font-size: 18px;
		line-height: 125%;
		margin-top: 10px;
		letter-spacing: -0.05em;
	}
	.detail_wrap .thumbnail-slider .swiper-slide img {
		width: 120px;
		height: 170px;
		-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	}
	.detail_wrap .thumbnail-slider .cont {
		gap: 4px;
	}
	.detail_wrap .thumbnail-slider .tit {
		font-size: 16px;
		width: 120px;
	}
	.detail_wrap .thumbnail-slider .tit_sub {
		font-size: 13px;
		font-weight: 400;
		width: 120px;
		letter-spacing: -0.025em;
	}
	.detail_wrap .main-swiper {
		width: 920px;
		height: 450px;
	}
	.detail_wrap .swiper-container {
		width: 920px;
	}
	.detail_wrap .thumbnail-slider {
		height: 280px;
	}
	.detail_wrap .background_rec {
		width: 1080px;
		height: 435px;
	}
	.detail_wrap .background_cir {
		width: 506px;
		height: 506px;
	}
	.detail_wrap .swiper-pagination-bullet {
		width: 12px;
		height: 12px;
	}
	.popup-content {
		width: 900px;
		border-radius: 30px;
	}
	.popup-wrapper {
		padding: 54px 45px 27px 45px;
	}
	.popup-title {
		font-size: 36px;
		margin-bottom: 20px;
	}
	.map {
		width: 810px;
		height: 490px;
	}
	.action_btn::after {
		height: 35px;
	}
	.close_btn,
	.print_btn {
		width: 50%;
		padding: 30px;
		gap: 10px;
	}
	.close_btn div,
	.print_btn div {
		font-size: 30px;
		font-weight: 500;
	}
	.close_btn img,
	.print_btn img {
		width: 40px;
		height: 40px;
	}
}
