@charset "utf-8";

.faci_wrap {
	position: relative;
	width: 100%;
	height: 3840px;
	background: url(../../../img/type_a/info/facility/bg_faci.png) no-repeat top center;
	background-size: cover;
}

.faci_wrap .header h1 {
	color: #fff !important;
}

.faci_wrap .header p {
	color: #8b95a1 !important;
}

.faci_wrap .marker {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: fit-content;
	height: 300px;
}

.faci_wrap .arc {
	position: relative !important;
}

.faci_wrap .arc-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: fit-content;
}

.faci_wrap .map_tit {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.faci_wrap .place_01 {
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	letter-spacing: -0.025em;
	color: #ffffff;
}

.faci_wrap .place_02 {
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	letter-spacing: -0.025em;
	color: #ffffff;
}

.faci_wrap .arc_img {
	position: relative;
	width: 118px;
}

.faci_wrap .shadow {
	display: block;
	width: 70px;
	height: 20px;
	border-radius: 50%;
	background: rgba(217, 217, 217, 0.5);
	filter: blur(2.5px);
}

.faci_wrap .arc_01,
.faci_wrap .arc_02,
.faci_wrap .arc_03,
.faci_wrap .arc_04,
.faci_wrap .arc_05,
.faci_wrap .arc_06 {
	position: relative;
	overflow: visible;
	width: 118px;
	height: 158px;
}

.faci_wrap .number_txt {
	font-family: 'Pretendard-ExtraBold', sans-serif;
	font-size: 45.783782958984375px;
	font-weight: 800;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #191f28;
}

.faci_wrap .text_wrap {
	position: relative;
	top: 1018px;
	left: calc(50% - 900px);
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	width: 1800px;
	padding: 40px 28px;
	gap: 20px;
}

.faci_wrap .num_frame {
	position: absolute;
	top: 12px;
	left: 50%;
	display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 81.76px;
	height: 81.76px;
	padding: 45.78px;
	transform: translateX(-50%);
	border-radius: 163.51px;
	background: #ffffff;
	gap: 16.35px;
}

.mark_01 {
	top: 190px;
	left: 754px;
}

.mark_02 {
	top: -180px;
	left: 340px;
}

.mark_03 {
	top: 246px;
	left: 476px;
}

.mark_04 {
	top: -140px;
	left: 900px;
}

.mark_05 {
	top: -800px;
	left: 1480px;
}

.mark_06 {
	top: -888px;
	left: 1140px;
}



/* ALL */
.cate {
	width: 100%;
	padding: 8% 10% 5%;
}

.cate p {
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 0.3rem;
}

.cate h2 {
	font-size: 2.4rem;
	color: #fff;
	margin-top: 10px;
	letter-spacing: 0.3rem;
}

/* con */
.con {
	width: 100%;
	padding: 0 90px;
}

.con .con_slide {
	height: 1520px;
	position: relative;
}


.con .con_slide .swiper {
	padding-bottom: 10px;
}

.con .con_slide .con_img {
	position: relative;
	top: -118px;
}

.con .con_slide .con_img img {
	width: 100%;
}

.con .con_slide .con_img .map_img {
	height: 90%;
}

.con .con_slide .con_img {
	width: 100%;
	max-width: 900px;
}

.con .con_slide .swiper-slide {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	flex-direction: column;
}

.con .con_slide .con_txt {
	position: relative;
	top: -220px;
	height: 770px;
}

.con .con_slide .con_txt .con_floor {}

.con .con_slide .con_txt .con_floor h2 {
	font-size: 170px;
	color: #fff;
}

.con .con_slide .con_txt .con_place {
	margin: 30px 0;
}

.con .con_slide .con_txt .con_place p {
	font-size: 60px;
	color: #fff;
	font-family: 'Pretendard-Bold';
}

.con .con_slide .con_txt .con_info {}

.con .con_slide .con_txt .con_info p {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.con .con_slide .con_txt .con_info p:last-child {
	margin-bottom: 0;
}

.con .con_slide .con_txt .con_info p i {
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url(../../../img/common/check.svg) center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #474244;
}

.con .con_slide .con_txt .con_info p span {
	width: calc(100% - 50px);
	font-size: 30px;
	color: #fff;
	word-break: keep-all;
	line-height: 35px;
	font-family: 'Pretendard-Medium';
}

.con .con_slide .con_txt .con_desc {
	margin-top: 70px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	padding: 30px;
}

.con .con_slide .con_txt .con_desc p {
	font-size: 26px;
	color: #fff;
	font-family: 'Pretendard-Medium';
}

.con .con_slide .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	margin: 0 10px;
	background: #ADB5BD;
	opacity: 1;
}

.con .con_slide .swiper-pagination-bullet-active {
	background: #fff;
}

.con .con_slide .swiper-pagination-bullet:last-child {
	display: none;
}

.con .con_cate {
	margin-top: 30px;
	top: 1650px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.con .con_cate ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 130px;
}

.con .con_cate ul li {
	margin: 0 40px;
}

.con .con_cate ul li p {
	font-size: 40px;
	font-family: 'Pretendard-SemiBold';
	font-weight: 500;
	color: rgba(255, 255, 255, 0.5);
}

.con .con_cate ul li p::after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	margin-top: 5px;
	background: rgba(255, 255, 255, 0.5);
}

.con .con_cate ul li.on p::after {
	background: #fec962;
}

.con .con_cate ul li.on p {
	color: #fec962;
}

/* desc */
.desc {
	width: 100%;
	text-align: center;
	padding: 40px 0;
	position: absolute;
	bottom: 0;
}

.desc p {
	font-size: 20px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.5);
}



@media (max-width: 1080px) {
	.faci_wrap {
		height: 1920px;
	}

	.faci_wrap .arc {
		width: 60px !important;
		height: 78px;
	}

	.faci_wrap .arc_img {
		width: 60px;
	}

	.faci_wrap .marker {
		width: fit-content;
		height: 150px;
	}

	.faci_wrap .num_frame {
		top: 6px;
		width: 40px;
		height: 40px;
		padding: 22px;
		border-radius: 82px;
		gap: 8px;
	}

	.faci_wrap .number_txt {
		font-size: 22px;
	}

	.faci_wrap .place_01 {
		font-size: 20px;
		max-width: 100%;
		width: auto;
	}

	.faci_wrap .place_02 {
		font-size: 16px;
	}

	.faci_wrap .shadow {
		width: 35px;
		height: 10px;
	}


	.mark_01 {
		top: 400px;
		left: 600px;
	}

	.mark_02 {
		top: 200px;
		left: 200px;
	}

	.mark_03 {
		top: 123px;
		left: 248px;
	}

	.mark_04 {
		top: 500px;
		left: 450px;
	}

	.mark_05 {
		top: 350px;
		left: 740px;
	}

	.mark_06 {
		top: 450px;
		left: 270px;
	}

	.faci_wrap .swiper-pagination {
		top: 1400px !important;
		height: 30px;
	}

	.cate p {
		font-size: 20px;
		color: rgba(255, 255, 255, 0.5);
		letter-spacing: 0.3rem;
	}

	.cate h2 {
		font-size: 2.4rem;
		color: #fff;
		margin-top: 10px;
		letter-spacing: 0.3rem;
	}

	/* con */
	.con {
		width: 100%;
		padding: 0 90px;
	}

	.con .con_slide {
		height: 1520px;
		position: relative;
	}


	.con .con_slide .swiper {
		padding-bottom: 10px;
	}

	.con .con_slide .con_img {
		position: relative;
		top: -118px;
	}

	.con .con_slide .con_img img {
		width: 100%;
	}

	.con .con_slide .con_img .map_img {
		height: 90%;
	}

	.con .con_slide .con_img {
		width: 100%;
		max-width: 900px;
	}

	.con .con_slide .swiper-slide {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		flex-direction: column;
	}

	.con .con_slide .con_txt {
		position: relative;
		top: -220px;
		height: 770px;
	}

	.con .con_slide .con_txt .con_floor {}

	.con .con_slide .con_txt .con_floor h2 {
		font-size: 170px;
		color: #fff;
	}

	.con .con_slide .con_txt .con_place {
		margin: 30px 0;
	}

	.con .con_slide .con_txt .con_place p {
		font-size: 60px;
		color: #fff;
		font-family: 'Pretendard-Bold';
	}

	.con .con_slide .con_txt .con_info {}

	.con .con_slide .con_txt .con_info p {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}

	.con .con_slide .con_txt .con_info p:last-child {
		margin-bottom: 0;
	}

	.con .con_slide .con_txt .con_info p i {
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background: url(../../../img/common/check.svg) center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #474244;
	}

	.con .con_slide .con_txt .con_info p span {
		width: calc(100% - 50px);
		font-size: 30px;
		color: #fff;
		word-break: keep-all;
		line-height: 35px;
		font-family: 'Pretendard-Medium';
	}

	.con .con_slide .con_txt .con_desc {
		margin-top: 70px;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 15px;
		padding: 30px;
	}

	.con .con_slide .con_txt .con_desc p {
		font-size: 26px;
		color: #fff;
		font-family: 'Pretendard-Medium';
	}

	.con .con_slide .swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		margin: 0 10px;
		background: #ADB5BD;
		opacity: 1;
	}

	.con .con_slide .swiper-pagination-bullet-active {
		background: #fff;
	}

	.con .con_slide .swiper-pagination-bullet:last-child {
		display: none;
	}

	.con .con_cate {
		margin-top: 30px;
		top: 1650px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.con .con_cate ul {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 130px;
	}

	.con .con_cate ul li {
		margin: 0 40px;
	}

	.con .con_cate ul li p {
		font-size: 40px;
		font-family: 'Pretendard-SemiBold';
		font-weight: 500;
		color: rgba(255, 255, 255, 0.5);
	}

	.con .con_cate ul li p::after {
		content: '';
		display: block;
		width: 100%;
		height: 3px;
		margin-top: 5px;
		background: rgba(255, 255, 255, 0.5);
	}

	.con .con_cate ul li.on p::after {
		background: #fec962;
	}

	.con .con_cate ul li.on p {
		color: #fec962;
	}

	/* desc */
	.desc {
		width: 100%;
		text-align: center;
		padding: 40px 0;
		position: absolute;
		bottom: 0;
	}

	.desc p {
		font-size: 20px;
		font-weight: 500;
		color: rgba(255, 255, 255, 0.5);
	}



}