/**********************************************common**********************************************/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
address { font-family: 'Pretendard-Regular'; } 

/**********************************************디지털 공통**********************************************/
.name-bar { padding: 80px 0px 80px 0px; display: flex; flex-direction: row; gap: 0px; align-items: center; justify-content: center; width: 2160px; height: 128px; position: absolute; left: 0px; bottom: 0px; overflow: hidden; } 

.name-bar p { color: var(--white, #ffffff); text-align: center; font-family: "Pretendard-Medium", sans-serif; font-size: 36px; letter-spacing: 0.1em; font-weight: 500; position: relative; flex: 1; display: flex; align-items: center; justify-content: center;; } 

.div_wrap_dig { height: 3840px; position: relative; overflow: hidden; } 

.div_wrap_dig .div_wrap_bg { width: 2160px; height: 3840px; position: absolute; left: 0px; top: 0px; -o-object-fit: cover; object-fit: cover; z-index: 9; } 

.div_wrap_dig .tit_frame { display: flex; flex-direction: column; gap: 8px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 178px; top: 140px; z-index: 999; } 

.div_wrap_dig .header_title0 { text-align: left; display: flex; align-items: center; justify-content: flex-start; mix-blend-mode: multiply; color: var(--gray500, #8b95a1); text-align: left; font-family: "Pretendard-Regular", sans-serif; font-size: 32px; font-weight: 400; } 

.div_wrap_dig .title_search { text-align: left; font-size: 92px; position: relative; display: flex; align-items: center; justify-content: flex-start; color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-SemiBold", sans-serif; font-weight: 600; } 

.div_wrap_dig h4 { background: url("../img/page/digital/frame-92.svg") no-repeat 0px 26px; font-size: 22px; line-height: 125%; color: #333; padding: 22px 0 10px 102px; } 

.div_wrap_dig .slick-dots { position: absolute; bottom: -100px; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center; z-index: 9999999; } 

.div_wrap_dig .slick-dots li { position: relative; display: inline-block; width: 24px; height: 24px; margin: 0 15px; padding: 0; cursor: pointer; } 

.div_wrap_dig .slick-dots li button { font-size: 0; line-height: 0; display: block; width: 24px; height: 24px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: var(--gray400, #adb5bd); border-radius: 50%; } 

.div_wrap_dig .slick-dots li button:hover,
.div_wrap_dig .slick-dots li button:focus { outline: none; } 

.div_wrap_dig .slick-dots li button:hover:before,
.div_wrap_dig .slick-dots li button:focus:before { opacity: 1; } 

.div_wrap_dig .slick-dots li button:before { font-family: 'slick'; font-size: 0; line-height: 20px; position: absolute; top: 0; left: 0; width: 24px; height: 24px; content: ''; text-align: center; opacity: 1; background: var(--gray400, #adb5bd); border-radius: 50%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } 

.div_wrap_dig .slick-dots li.slick-active button:before { opacity: 1; background: #ffffff; border-radius: 50%; } 


@media (max-width: 1080px){
 .div_wrap_dig .title_search { font-size: 46px; } 

 .div_wrap_dig .header_title0 { font-size: 16px; } 

 .name-bar { padding: 40px 0px 40px 0px; width: 1080px; height: 64px; } 

 .name-bar p { font-size: 18px; } 

 .div_wrap_dig { height: 1920px; } 

 .div_wrap_dig .div_wrap_bg { width: 1080px; height: 1920px; } 

 .div_wrap_dig .tit_frame { gap: 4px; left: 89px; top: 70px; } 

 .div_wrap_dig h4 { padding: 11px 0 4px 51px; background-size: 32px; background: url(../img/page/digital/frame-92.svg) no-repeat 0px 14px; } 

 .div_wrap_dig .slick-dots { bottom: -50px; } 

 .div_wrap_dig .slick-dots li { width: 12px; height: 12px; margin: 0 7.5px; } 

 .div_wrap_dig .slick-dots li button { width: 12px; height: 12px; padding: 2.5px; } 


 .div_wrap_dig .slick-dots li button:before { width: 12px; height: 12px;}
}

/**********************************************디지털 홈**********************************************/
#wrap { width: 100%; height: 100%; overflow: hidden; position: relative; } 

.home-wrap { width: 2160px; height: 3840px; background: url(../img/page/info/info_bg1.png) no-repeat 0 0; background-size: contain; color: #fff; text-align: center; } 

.home-wrap .header { position: relative; padding-top: 210px; padding-left: 140px; padding-right: 140px; box-sizing: border-box; text-align: center; } 



.home-wrap .contents { padding-top: 406px; } 

.home-wrap .contents .top-sec { text-align: center; } 

.home-wrap .contents .top-sec .time-date { } 

.home-wrap .contents .top-sec .date-txt { font-size: 72px; font-family: 'Pretendard-Regular'; } 

.home-wrap .contents .top-sec .time-txt { display: flex; line-height: 120%; font-size: 240px; align-items: center; justify-content: center; } 

.home-wrap .contents .top-sec .time-txt div { display: inline-block; text-align: center; font-family: "CenturyGothic-Regular", sans-serif; } 


.home-wrap .contents .bottom-sec { text-align: center; padding-top: 130px; } 

.home-wrap .contents .bottom-sec .welcome-txt-big { font-family: 'Pretendard-SemiBold'; font-size: 240px; line-height: 120%; color: #fff; } 

.home-wrap .contents .bottom-sec .welcome-txt-small { padding-top: 30px; font-size: 60px; color: #fff; font-family: 'Pretendard-Light'; font-weight: 200; line-height: 120%; text-transform: uppercase; } 

/**********************************************디지털 홈 반응형**********************************************/
@media (max-width: 1080px){
 .home-wrap { width: 1080px; height: 1920px; } 

 .home-wrap .header { padding-top: 105px; } 

 .home-wrap .contents { padding-top: 203px; } 

 .home-wrap .contents .top-sec .time-txt { font-size: 120px; } 

 .home-wrap .contents .top-sec .date-txt { font-size: 36px; } 

 .home-wrap .contents .bottom-sec { padding-top: 65px; } 

 .home-wrap .contents .bottom-sec .welcome-txt-big { font-size: 120px; } 

 .home-wrap .contents .bottom-sec .welcome-txt-small { padding-top: 15px; font-size: 30px; } 


}

/**********************************************디지털 공지사항**********************************************/

.d-notice-slide-thumbs { display: flex; flex-direction: row; gap: 124.21px; align-items: flex-start; justify-content: flex-start; width: 1738px; position: absolute; left: 14px; top: 200px; /* overflow: hidden; */}

.d-notice-slide-thumbs .swiper-slide img { /* border-style: solid; */
 border-color: #000000; /* border-width: 3px; */ flex-shrink: 0; width: 248.43px; height: 351.94px; position: relative; box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1); } 

.d-notice-slide-thumbs .swiper-slide img { width: 248.43px; height: 351.94px; -o-object-fit: cover; object-fit: cover; } 

.notice_section { display: -ms-flexbox; -ms-flex-align: center; /* align-items: center; */
 -webkit-box-pack: start; -ms-flex-pack: start; position: absolute; left: calc(50% - 872px); top: 400px; height: 3156px; width: 1770px; z-index: 999; } 

.d-notice-slide { border-radius: 24px; flex-shrink: 0; width: 1740px; height: 2462px; position: relative; box-shadow: 80px 20px 80px 0px rgba(0, 0, 0, 0.1); overflow: hidden; } 

.d-notice-slide .slick-slide { height: 2460px; } 

.d-notice-slide img { width: 1741px; height: 2462px; position: absolute; left: calc(50% - 870px); top: 0px; box-shadow: 56.77px -94.62px 94.62px 7.57px rgba(0, 0, 0, 0.2); -o-object-fit: cover; object-fit: cover; } 

.notice_info_wrap .slick-dots { position: absolute; bottom: -100px; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center; z-index: 9999999; } 

.notice_info_wrap .slick-dots li { position: relative; display: inline-block; width: 24px; height: 24px; margin: 0 15px; padding: 0; cursor: pointer; } 

.notice_info_wrap .slick-dots li button { font-size: 0; line-height: 0; display: block; width: 24px; height: 24px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: var(--gray400, #adb5bd); border-radius: 50%; } 

.notice_info_wrap .slick-dots li button:hover,
.notice_info_wrap .slick-dots li button:focus { outline: none; } 

.notice_info_wrap .slick-dots li button:hover:before,
.notice_info_wrap .slick-dots li button:focus:before { opacity: 1; } 

.notice_info_wrap .slick-dots li button:before { font-family: 'slick'; font-size: 0; line-height: 20px; position: absolute; top: 0; left: 0; width: 24px; height: 24px; content: ''; text-align: center; opacity: 1; background: var(--gray400, #adb5bd); border-radius: 50%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } 

.notice_info_wrap .slick-dots li.slick-active button:before { opacity: 1; background: #ffffff; border-radius: 50%; } 

@media (max-width: 1080px){
 .d-notice-slide-thumbs { gap: 62.105px; width: 869px; left: 14px; top: 100px; } 

 .d-notice-slide-thumbs .swiper-slide img { width: 124.21px; height: 175.97px; } 

 .d-notice-slide-thumbs .swiper-slide img { width: 124.21px; height: 175.97px; } 

 .notice_section { left: calc(50% - 436px); top: 200px; height: 1578px; width: 885px; } 

 .d-notice-slide { border-radius: 12px; width: 870px; height: 1231px; } 

 .d-notice-slide .slick-slide { height: 1230px; } 

 .d-notice-slide img { width: 870.5px; height: 1231px; left: calc(50% - 435px); } 

 .notice_info_wrap .slick-dots { bottom: -50px; } 

 .notice_info_wrap .slick-dots li { width: 12px; height: 12px; margin: 0 7.5px; } 

 .notice_info_wrap .slick-dots li button { width: 12px; height: 12px; padding: 2.5px; } 


 .notice_info_wrap .slick-dots li button:before { width: 12px; height: 12px;}
}

/**********************************************새로나온책**********************************************/

.newbook_info_wrap { background: var(--white, #ffffff); width: 2160px; height: 3840px; position: absolute; left: 0px; top: 0px; } 

.bg_slide { width: 2160px; height: 3840px; position: absolute; left: 0px; top: 0px; -o-object-fit: cover; object-fit: cover; } 

.bg_slide img { width: 2160px; height: 3840px !important; -o-object-fit: cover; object-fit: cover; } 


.bwg { background: rgb(0 0 0 / 37%); width: 2160px; height: 3840px; position: absolute; left: 0px; top: 0px; -webkit-backdrop-filter: blur(140px); backdrop-filter: blur(140px); } 

.newbook_section { display: -ms-flexbox; -ms-flex-align: center; -webkit-box-pack: start; -ms-flex-pack: start; position: absolute; left: calc(50% - 872px); top: 400px; height: 3156px; } 

.n-slide-thumbs { display: flex; flex-direction: column; gap: 120px; align-items: center; justify-content: flex-start; width: 250px; position: absolute !important; left: 1547px; top: 100px; overflow: hidden; height: 2954px; } 

.n-slide-thumbs img { border-radius: 12px; flex-shrink: 0; width: 250px; height: 378px; position: relative; box-shadow: 28px 40px 100px 8px rgba(0, 0, 0, 0.1); -o-object-fit: cover; object-fit: cover; } 

.book_explain { display: flex; flex-direction: column; gap: 60px; align-items: flex-start; justify-content: flex-start; width: 1260px; height: 918px; position: absolute; top: 1970px; } 

.book_int_wrap { text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 60px; letter-spacing: -0.025em; font-weight: 500; position: relative; display: flex; align-items: center; justify-content: flex-start; } 

.write-span { color: #ffffff; font-family: "Pretendard-Medium", sans-serif; font-size: 60px; letter-spacing: -0.025em; font-weight: 500; width: 300px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-right: 50px; } 

.write-span2 { color: #ffffff; font-family: "Pretendard-Medium", sans-serif; font-size: 60px; letter-spacing: -0.025em; font-weight: 500; width: 500px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } 

.book_n_tit { color: #ffffff; text-align: left; font-family: "Pretendard-Bold", sans-serif; font-size: 120px; letter-spacing: -0.025em; font-weight: 700; position: relative; width: 1260px; text-overflow: ellipsis; overflow: hidden; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical}

.book_story_learn { color: #ffffff; text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 60px; line-height: 150%; letter-spacing: -0.025em; font-weight: 500; position: relative; width: 1260px; height: 400.32px; text-overflow: ellipsis; overflow-y: scroll; overflow-x: hidden; } 

.n-slide img { border-radius: 40px; width: 1260px; height: 1864px; position: absolute; left: 200px; top: 440px; box-shadow: 80px 80px 80px 4px rgba(0, 0, 0, 0.1); -o-object-fit: cover; object-fit: cover; display: none !important; } 

.n-slide .swiper-slide { border-radius: 40px; width: 1260px; height: 3000px; left: 200px; top: 90px !important; background-repeat: no-repeat; background-size: cover; background-position: center; } 

.n-slide .pic { border-radius: 40px; width: 1260px; height: 1864px; position: absolute !important; no-repeat !important; background-size: cover !important; background-position: center !important; display: block; box-shadow: 80px 80px 80px 4px rgba(0, 0, 0, 0.1); } 

.n-slide,
.n-slide .slick-list { width: 1250px; height: 3000px; } 

.n-slide-thumbs .swiper-slide { margin: 0px 0 132px 0; } 

@media (max-width: 1080px){
 .newbook_info_wrap { width: 1080px; height: 1920px; } 

 .bg_slide { width: 1080px; height: 1920px; } 

 .bg_slide img { width: 1080px; height: 1920px !important; } 


 .bwg { width: 1080px; height: 1920px; } 

 .newbook_section { left: calc(50% - 436px); top: 200px; height: 1578px; } 

 .n-slide-thumbs { gap: 60px; width: 125px; left: 773.5px; top: 50px; height: 1477px; } 

 .n-slide-thumbs img { border-radius: 6px; width: 125px; height: 189px;}

 .book_explain { gap: 30px; width: 630px; height: 459px; top: 985px; } 

 .book_int_wrap { font-size: 30px; } 

 .write-span { font-size: 30px; width: 150px; margin-right: 25px; } 

 .write-span2 { font-size: 30px; width: 200px; } 

 .book_n_tit { font-size: 60px; width: 630px; } 

 .book_story_learn { font-size: 30px; width: 630px; height: 200px; } 

 .n-slide img { border-radius: 20px; width: 630px; height: 932px; left: 100px; top: 220px; } 

 .n-slide .swiper-slide { border-radius: 20px; width: 630px; height: 1500px; left: 100px; top: 45px !important; } 

 .n-slide .pic { border-radius: 20px; width: 630px; height: 932px; } 

 .n-slide,
 .n-slide .slick-list { width: 625px; height: 1500px; } 

 .n-slide-thumbs .swiper-slide { margin: 0px 0 66px 0; } 
 }

/**********************************************시설소개**********************************************/
.faci_info_wrap .faci_tab { display: flex; flex-direction: row; gap: 176.46px; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap; width: 1076px; position: absolute; left: calc(50% - 538px); top: 3185px; } 

.faci_info_wrap .faci_tab a { color: var(--gray400, #adb5bd); text-align: center; font-family: "Pretendard-SemiBold", sans-serif; font-size: 80px; font-weight: 600; display: inline-block; width: 240px; position: relative; } 

.faci_info_wrap .faci_tab a.active { color: var(--point, #fec962); } 

.faci_info_wrap .faci_tab a.active:after { display: block; overflow: hidden; position: absolute; top: 118px; left: 50%; transform: translateX(-50%); background: url("../img/page/digital/group-231.svg"); width: 90px; height: 2px; content: ''; } 

.faci_info_wrap .faci_tab_cont { display: block; position: relative; height: 3070px; margin: -8px auto; } 

.faci_info_wrap .tab_content { opacity: 0; height: 0; position: absolute; margin: 0 auto; } 

.floor_slide_01,
.floor_slide_02,
.floor_slide_03 { /* height:3070px; */
 width: 1800px; top: -6%; position: absolute !important; } 

.floor_page { height: 3070px !important; width: 1800px !important; } 

.faci_info_wrap .tab_content.active { opacity: 1; height: 3070px; width: 100%; } 

.faci_floor { color: #ffffff; text-align: center; font-family: "Pretendard-Medium", sans-serif; font-size: 340px; font-weight: 500; position: absolute; left: calc(50% - 872px); top: calc(50% - 190px); } 

.faci_tit { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-Bold", sans-serif; font-size: 120px; font-weight: 700; position: absolute; left: calc(50% - 872px); top: 1800px; } 

.faci_img { width: 1840px; height: 1210px; position: absolute; left: calc(50% - 920px); top: 322px; box-shadow: 0px 200px 100px 0px rgba(0, 0, 0, 0.2); -o-object-fit: cover; object-fit: cover; z-index: -1; } 

.faci_info_wrap .marker { width: 117.55px; height: 157.36px; position: relative; } 

.faci_info_wrap .arc { position: relative !important; } 

.faci_info_wrap .arc_01 { width: 117.55px; height: 157.36px; position: relative; overflow: visible; } 



.faci_info_wrap .number_txt { color: var(--gray900, #191f28); text-align: center; font-family: "Pretendard-ExtraBold", sans-serif; font-size: 45.783782958984375px; font-weight: 800; position: relative; display: flex; align-items: center; justify-content: center; } 

.faci_info_wrap .arc_02 { width: 117.55px; height: 157.36px; position: relative; overflow: visible; } 



.faci_info_wrap .arc_03 { width: 117.55px; height: 157.36px; position: relative; overflow: visible; } 




.faci_info_wrap .arc_04 { width: 117.55px; height: 157.36px; position: relative; overflow: visible; } 


.faci_info_wrap .arc_05 { width: 117.55px; height: 157.36px; position: relative; overflow: visible; } 


.faci_info_wrap .arc_06 { width: 117.55px; height: 157.36px; position: relative; overflow: visible; } 


.faci_info_wrap .text_wrap { padding: 40px 28px 40px 28px; display: flex; flex-direction: column; gap: 20px; align-items: flex-start; justify-content: flex-start; width: 1800px; position: relative; left: calc(50% - 900px); top: 1018px; height: 1020px; overflow-x: hidden; } 

.faci_info_wrap .num_frame { background: var(--white, #ffffff); border-radius: 163.51px; padding: 45.78px; display: flex; flex-direction: column; gap: 16.35px; align-items: center; justify-content: center; width: 81.76px; height: 81.76px; position: absolute; overflow: hidden; left: 50%; transform: translateX(-50%); top: 12px; } 

.faci_info_wrap h4 { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 60px; line-height: 140%; letter-spacing: -0.025em; font-weight: 500; position: relative; align-self: stretch; } 

.faci_info_wrap .txt_frame { background: rgba(0, 0, 0, 0.3); border-radius: 48px; padding: 60px 80px 60px 80px; display: flex; flex-direction: row; gap: 20px; align-items: center; justify-content: center; width: 1800px; position: absolute; left: calc(50% - 900px); top: 655px; } 

.faci_info_wrap .txt_box { color: var(--gray300, #eff1f3); text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 52px; line-height: 150%; font-weight: 500; position: relative; flex: 1; } 

.mark_01 { left: 754.86px; top: 1065.06px; } 

.mark_02 { left: 339.59px; top: 919.54px; } 

.mark_03 { left: 475.91px; top: 649px; } 

.mark_04 { left: 1028.27px; top: 617.74px; } 

.mark_05 { left: 1412.75px; top: 45px; } 

.mark_06 { left: 1110px; top: 500px; } 

@media (max-width: 1080px){
 .faci_info_wrap .faci_tab { gap: 88.23px; width: 538px; left: 50%; top: 1592.5px; transform: translateX(-50%); } 

 .faci_info_wrap .faci_tab a { font-size: 40px; width: 120px; } 


 .faci_info_wrap .faci_tab a.active:after { top: 59px; width: 45px; } 

 .faci_info_wrap .faci_tab_cont { height: 1535px; margin: -4px auto; } 

 .floor_slide_01,
 .floor_slide_02,
 .floor_slide_03 { width: 900px; top: -3%; } 

 .floor_page { height: 1535px !important; width: 900px !important; } 

 .faci_info_wrap .tab_content.active { height: 1535px; } 

 .faci_floor { font-size: 170px; left: calc(50% - 436px); top: calc(50% - 95px); } 

 .faci_tit { font-size: 60px; left: calc(50% - 436px); top: 900px; } 

 .faci_img { width: 920px; height: 605px; position: absolute; left: calc(50% - 460px); top: 161px; } 

 .faci_info_wrap .marker { width: 58.775px; height: 78.68px; } 


 .faci_info_wrap .arc { width: 58.775px; height: 78.68px; } 



 .faci_info_wrap .number_txt { font-size: 22.5px; } 


 .faci_info_wrap .text_wrap { padding: 20px 14px 20px 14px; gap: 10px; width: 900px; left: calc(50% - 450px); top: 509px; height:510px; } 

 .faci_info_wrap .num_frame { border-radius: 81.755px; padding: 22.89px; gap: 8.175px; width: 40.88px; height: 40.88px; top: 6px; } 

 .faci_info_wrap h4 { font-size: 30px; background-size: 32px; } 

 .faci_info_wrap .txt_frame { border-radius: 24px; padding: 30px 40px 30px 40px; gap: 10px; width: 900px; left: calc(50% - 450px); top: 327.5px; } 

 .faci_info_wrap .txt_box { font-size: 26px; } 

 .mark_01 { left: 377.43px; top: 532.53px; } 

 .mark_02 { left: 169.795px; top: 459.77px; } 

 .mark_03 { left: 237.955px; top: 324.5px; } 

 .mark_04 { left: 514.135px; top: 308.87px; } 

 .mark_05 { left: 706.375px; top: 22.5px; } 

 .mark_06 { left: 555px; top: 250px; } 
 }

/**********************************************날씨**********************************************/

.weather_wrap .div_wrap_bg { z-index: -1; } 

.weather_wrap .bg-1 { width: 2160px; height: 3840px; position: absolute; left: 0px; top: 0px; -o-object-fit: cover; object-fit: cover; } 

.weather_section { position: absolute; left: 0px; top: 0px; z-index: 9999; width: 2160px; height: 3840px; } 

.weather_wrap .top-sec { display: flex; flex-direction: column; gap: 24px; align-items: center; justify-content: flex-start; width: 1680px; position: absolute; left: calc(50% - 840px); top: calc(50% - 1334.22px); text-align: center; } 

.weather_wrap .time-date { display: flex; flex-direction: column; gap: 0px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: relative; } 

.weather_wrap .time { display: flex; flex-direction: column; gap: 20px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: relative; overflow: hidden; } 

.weather_wrap .time-txt { color: var(--white, #ffffff); text-align: left; font-family: "CenturyGothic-Regular", sans-serif; font-size: 240px; font-weight: 400; position: relative; display: flex; align-items: center; justify-content: flex-start; } 

.weather_wrap .date-txt { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-Regular", sans-serif; font-size: 72px; font-weight: 400; position: relative; display: flex; align-items: center; justify-content: center; left: 50%; transform: translateX(-50%); } 


.bottom_weather { background: rgba(17, 17, 17, 0.6); width: 2160px; height: 1360px; position: absolute; left: 0px; bottom: 0px; overflow: hidden; } 

.bottom_temp { color: var(--white, #ffffff); text-align: left; font-family: "CenturyGothic-Regular", sans-serif; font-size: 320px; letter-spacing: -0.025em; font-weight: 400; position: absolute; left: 670px; top: 264.55px; } 

.bottom_frame { display: flex; flex-direction: column; gap: 60px; align-items: flex-start; justify-content: flex-start; width: 208px; height: 72px; position: absolute; left: 1051.5px; top: 527.05px; } 

.temp_ex { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-SemiBold", sans-serif; font-size: 60px; font-weight: 600; position: absolute; left: 510.45px; top: 141.56px; } 

.today_temp { color: var(--gray400, #adb5bd); text-align: left; font-family: "Pretendard-SemiBold", sans-serif; font-size: 60px; font-weight: 600; position: absolute; left: 260px; top: 141.56px; } 

.week_frame { display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between; width: 1700px; position: absolute; left: calc(50% - 850px); top: 720px; } 

.weekday_frame { display: flex; flex-direction: column; gap: 40px; align-items: center; justify-content: flex-start; flex-shrink: 0; position: relative; } 

.weekday_inner { display: flex; flex-direction: column; gap: 24px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: relative; } 

.weekday_img { flex-shrink: 0; width: 180px; height: 180px; position: relative; overflow: hidden; } 

.wether_img { width: 180px; height: 180px; position: absolute; left: 0px; top: 0px; -o-object-fit: cover; object-fit: cover; } 

.temp_num { flex-shrink: 0; width: 180px; height: 93px; position: static; } 

.temp_num_txt { color: var(--white, #ffffff); text-align: center; font-family: "CenturyGothic-Regular", sans-serif; font-size: 80px; font-weight: 400; position: absolute; left: calc(50% - 90px); top: calc(50% - -55.5px); width: 180px; height: 93px; } 

.week_inner { flex-shrink: 0; width: 148px; height: 57px; position: static; } 

.week_txt { color: var(--gray400, #adb5bd); text-align: center; font-family: "Pretendard-Regular", sans-serif; font-size: 48px; font-weight: 400; position: absolute; left: 16px; top: 337px; } 

.real_weather_wrap { width: 430px; height: 430px; position: absolute; left: 200px; top: 245.55px; overflow: hidden; } 

.real_weather { width: 430px; height: 430px; position: absolute; left: 0px; top: 0.45px; -o-object-fit: cover; object-fit: cover; } 

.dust_info { background: rgba(17, 17, 17, 0.6); border-radius: 100px; width: 540px; height: 140px; position: absolute; left: 1400px; top: 308.55px; overflow: hidden; } 

.dust_info_inner,
.food_info_inner { display: flex; flex-direction: row; gap: 60px; align-items: flex-start; justify-content: flex-start; position: absolute; left: calc(50% - 228px); top: calc(50% - 36.5px); } 

.dust_info_inner_wrap,
.food_info_inner_wrap { display: flex; flex-direction: row; gap: 24px; align-items: center; justify-content: flex-start; flex-shrink: 0; position: relative; } 

.dust_img { flex-shrink: 0; width: 60px; height: 60px; position: relative; overflow: visible; } 

.dust_text,
.food_text { flex-shrink: 0; width: 208px; height: 72px; position: static; } 

.dust_txt,
.food_txt { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-Regular", sans-serif; font-size: 60px; font-weight: 400; position: absolute; left: 84px; top: 0px; width: 208px; } 

.dust_condi,
.food_condi { flex-shrink: 0; width: 104px; height: 72px; position: static; } 

.dust_condi_txt,
.food_condi_txt { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-SemiBold", sans-serif; font-size: 60px; font-weight: 600; position: absolute; left: 352px; top: 0px; } 

.food_info { background: rgba(17, 17, 17, 0.6); border-radius: 100px; width: 540px; height: 140px; position: absolute; left: 1400px; top: 472.55px; overflow: hidden; } 

.food_img { flex-shrink: 0; width: 60px; height: 60px; position: relative; overflow: visible; } 

@media (max-width: 1080px){
 .weather_wrap .bg-1 { width: 1080px; height: 1920px; } 

 .weather_section { width: 1080px; height: 1920px; } 

 .weather_wrap .top-sec { gap: 12px; width: 840px; left: calc(50% - 420px); top: calc(50% - 667.11px); } 

 .weather_wrap .time { gap: 10px; } 

 .weather_wrap .time-txt { font-size: 120px; } 

 .weather_wrap .date-txt { font-size: 36px; } 


 .bottom_weather { width: 1080px; height: 680px; } 

 .bottom_temp { font-size: 160px; left: 335px; top: 132.275px; } 

 .bottom_frame { gap: 30px; width: 104px; height: 36px; left: 525.75px; top: 263.525px; } 

 .temp_ex { font-size: 30px; left: 255.225px; top: 70.78px; } 

 .today_temp { font-size: 30px; left: 130px; top: 70.78px; } 

 .week_frame { width: 850px; left: calc(50% - 425px); top: 360px; } 

 .weekday_frame { gap: 20px; } 

 .weekday_inner { gap: 12px; } 

 .weekday_img { width: 90px; height: 90px; } 

 .wether_img { width: 90px; height: 90px; } 

 .temp_num { width: 90px; height: 46.5px; } 

 .temp_num_txt { font-size: 40px; left: calc(50% - 45px); top: calc(50% - -27.75px); width: 90px; height: 46.5px; } 

 .week_inner { width: 74px; height: 28.5px; } 

 .week_txt { font-size: 24px; left: 8px; top: 168.5px; } 

 .real_weather_wrap { width: 215px; height: 215px; left: 100px; top: 123.775px; } 

 .real_weather { width: 215px; height: 215px; top: 0.225px; } 

 .dust_info { border-radius: 50px; width: 270px; height: 70px; left: 700px; top: 154.275px; } 

 .dust_info_inner,
 .food_info_inner { gap: 30px; left: calc(50% - 114px); top: calc(50% - 18.25px); } 

 .dust_info_inner_wrap,
 .food_info_inner_wrap { gap: 12px; } 

 .dust_img { width: 30px; height: 30px; } 

 .dust_text,
 .food_text { width: 104px; height: 36px; } 

 .dust_txt,
 .food_txt { font-size: 30px; left: 42px; width: 104px; } 

 .dust_condi,
 .food_condi { width: 52px; height: 36px; } 

 .dust_condi_txt,
 .food_condi_txt { font-size: 30px; left: 176px; } 

 .food_info { border-radius: 50px; width: 270px; height: 70px; left: 700px; top: 236.275px; } 

 .food_img { width: 30px; height: 30px; } 
}

/**********************************************디지털 오늘의행사안내**********************************************/

.todayevent_wrap .event_section { display: flex; flex-direction: column; gap: 160px; align-items: center; justify-content: flex-start; width: 1800px; position: absolute; left: calc(50% - 900px); top: 1405px; height: 2000px; z-index: 9999; } 

.todayevent_wrap .mySwiper4 { height: 2000px; width: 1800px; } 

.swiper-wrapper.mySwiper4 { height: 1800px; width: 1754px; } 

.todayevent_wrap .swiper-slide > div { display: block; width: 100%; text-align: center; } 

.todayevent_wrap .swiper-slide .top-data { display: flex; flex-direction: column; gap: 80px; width: 1800px; margin: 0 auto;}

.todayevent_wrap .swiper-slide > div > div { text-align: center; width: 100%; } 

.todayevent_wrap .swiper-slide .top-data > div { width: 1794px; border-radius: 200px; border-style: solid; border-color: rgba(229, 232, 235, 0.5); border-width: 3px; padding: 54px 0px 54px 0px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; } 

.todayevent_wrap .top-data span.s-title { font-family: "Pretendard-SemiBold", sans-serif; font-size: 60px; letter-spacing: 0.1em; font-weight: 600; color: var(--gray500, #8b95a1); display: flex; align-items: center; height: 85px; } 

.todayevent_wrap .top-data span.s-txt { color: var(--white, #ffffff); text-align: center; font-family: "Pretendard-SemiBold", sans-serif; font-size: 92px; letter-spacing: 0.1em; font-weight: 600; display: flex; align-items: center; height: 130px; width: 80%; justify-content: center; } 


.todayevent_wrap .swiper-slide > div.content .title { color: var(--white, #ffffff); text-align: center; font-family: "Pretendard-SemiBold", sans-serif; font-size: 240px; letter-spacing: -0.025em; font-weight: 600; width: 1500px; overflow: hidden; text-overflow: ellipsis; margin: 0 auto; height: 1030px; padding-top: 160px; line-height: 120%; } 

.todayevent_wrap .slick-dots { bottom: -200px; } 


@media (max-width: 1080px) {
 .todayevent_wrap .event_section { height: 1000px; top: 702.5px; } 

 .todayevent_wrap .swiper-slide .top-data { gap: 40px; width: 900px; } 

 .todayevent_wrap .swiper-slide .top-data > div { width: 894px; padding: 27px 0px 27px 0px; } 

 .todayevent_wrap .top-data span.s-title { font-size: 30px; height: 42px; } 

 .todayevent_wrap .top-data span.s-txt { font-size: 46px; height: 65px; } 


 .todayevent_wrap .swiper-slide > div.content .title { font-size: 120px; width: 750px; height: 515px; padding-top: 80px; } 

 .todayevent_wrap .slick-dots { bottom: -100px; } 
}
