/**********************************************common**********************************************/
.div_wrap,
.div_wrap * { -webkit-box-sizing: border-box; box-sizing: border-box; } 

.div_wrap { height: 2160px; position: relative; overflow: hidden; } 

.bg_wrap { width: 3840px; height: 2160px; position: absolute; left: 0px; top: 0px; -o-object-fit: cover; object-fit: cover; } 



/**********************************************welcome**********************************************/
.welcome_wrap .top-sec { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 24px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; width: 1680px; position: absolute; left: calc(50% - 840px); top: calc(50% - 737.5px); } 
.welcome_wrap .time-date { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-negative: 0; flex-shrink: 0; position: relative; } 
.welcome_wrap .time { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 20px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-negative: 0; flex-shrink: 0; position: relative; overflow: hidden; } 
.welcome_wrap .time-txt { color: var(--gray900, #191f28); text-align: left; font-family: "CenturyGothic-Regular", sans-serif; font-size: 180px; font-weight: 400; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } 
.welcome_wrap .date-txt { color: var(--gray900, #191f28); text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 60px; font-weight: 500; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); } 
.welcome_wrap .div { color: var(--white, #ffffff); text-align: center; font-family: "Pretendard-Medium", sans-serif; font-size: 120px; line-height: 150%; letter-spacing: -0.02em; font-weight: 500; position: absolute; left: calc(50% - 1080px); top: calc(50% - -378.11px); width: 2160px; animation: fadein 3s; -moz-animation: fadein 3s; /* Firefox */
 -webkit-animation: fadein 3s; /* Safari and Chrome */
 -o-animation: fadein 3s; } 
.gumi-city-sandong-library { color: var(--white, #ffffff); text-align: center; font-family: "Pretendard-Regular", sans-serif; font-size: 60px; letter-spacing: 0.1em; font-weight: 400; position: absolute; left: calc(50% - 498px); top: calc(50% - -255.11px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}

@keyframes fadein { 
 from { opacity: 0; } 

 to { opacity: 1; } 
 }

@-webkit-keyframes fadein {
 /* Safari and Chrome */
 from { opacity: 0; } 

 to { opacity: 1; } 
 }

/**********************************************notice info**********************************************/
.notice_info .notice_img { width: 750px; height: 1060px; -webkit-box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.2); -o-object-fit: cover; object-fit: cover; } 

.notice_info .notice { color: var(--gray500, #8b95a1); text-align: left; font-family: "Pretendard-SemiBold", sans-serif; font-size: 32px; letter-spacing: 0.1em; font-weight: 600; position: absolute; left: 0px; top: 0px; width: 3520px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } 

.notice_info .thum_frame { padding: 0px 8px 0px 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-item-align: stretch; align-self: stretch; -ms-flex-negative: 0; flex-shrink: 0; position: relative; /* overflow: hidden; */}

.notice_info .notice_title { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 48px; line-height: 140%; letter-spacing: -0.025em; font-weight: 500; position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; top: 50px; } 

.notice_info .notice_slider { position: relative; top: 550px; height: 1180px; /* padding-left: 264px; */
 /* padding-right: 264px; */}

.notice_info .notice_slider .slick-track { height: 1180px; } 

.notice_info .notice_slider .slick-list { overflow: hidden; } 

.notice_info .notice_slider .slick-slide { height: auto; margin-right: 100px; width: 750px !important; height: auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } 

/* Dots */
.notice_info .slick-dotted.slick-slider { margin-bottom: 30px; } 

.notice_info .slick-dots { position: absolute; bottom: -230px; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center; } 

.notice_info .slick-dots li { position: relative; display: inline-block; width: 24px; height: 24px; margin: 0 15px; padding: 0; cursor: pointer; } 

.notice_info .slick-dots li button { font-size: 0; line-height: 0;
 display: block;
 width: 24px; height: 24px; padding: 5px;
 cursor: pointer;
 color: transparent; border: 0; outline: none; background: var(--gray400, #adb5bd); border-radius: 50%; } 

.notice_info .slick-dots li button:hover,
.notice_info .slick-dots li button:focus { outline: none; } 

.notice_info .slick-dots li button:hover:before,
.notice_info .slick-dots li button:focus:before { opacity: 1; } 

.notice_info .slick-dots li button:before { font-family: 'slick'; font-size: 0; line-height: 20px;
 position: absolute; top: 0; left: 0;
 width: 24px; height: 24px;
 content: 'â€¢'; text-align: center;
 opacity: 1; background: var(--gray400, #adb5bd); border-radius: 50%;
 -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } 

.notice_info .slick-dots li.slick-active button:before { opacity: 1; background: #ffffff; border-radius: 50%; } 



/**********************************************promotion**********************************************/
.infopromotion-wrap .contents { position: relative; padding: 390px 0 0 0; margin: 0; } 

.infopromotion-wrap .outer { display: table; width: 100%; height: 100%; } 

.infopromotion-wrap .inner { display: table-cell; vertical-align: middle; } 

.infopromotion-wrap .left-sec { position: absolute; left: 0; top: 620px; width: 650px; } 

.infopromotion-wrap .left-sec .text.small-txt { font-size: 35px; color: #b7b6b6; text-align: center; text-transform: uppercase; letter-spacing: 0.1em; } 

.infopromotion-wrap .left-sec .clock { position: relative; width: 490px; height: 490px; background: url("../img/page/mediawalll/analogclock-bg-3840.png") no-repeat center center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 69px auto 0; } 

.infopromotion-wrap .left-sec .clock::before { content: ""; position: absolute; width: 8px; height: 8px; background: #2f363e; border: 3px solid #fff; border-radius: 50%; z-index: 100000; } 

.infopromotion-wrap .left-sec .clock span { position: absolute; inset: 30px; color: #fff; text-align: center; -webkit-transform: rotate(calc(30deg * var(--i))); transform: rotate(calc(30deg * var(--i))); } 

.infopromotion-wrap .left-sec .clock span b { font-size: 2em; opacity: 0.25; font-weight: 600; display: inline-block; -webkit-transform: rotate(calc(-30deg * var(--i))); transform: rotate(calc(-30deg * var(--i))); } 

.infopromotion-wrap .left-sec .clock .circle { position: absolute; width: 460px; height: 460px; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; align-item: flex-start; z-index: 10; } 

.infopromotion-wrap .left-sec .clock .circle i { position: absolute; width: 3px; height: 50%; background: var(--clr); opacity: 0.75; -webkit-transform-origin: bottom; transform-origin: bottom; -webkit-transform: scaleY(0.5); transform: scaleY(0.5); } 

.infopromotion-wrap .left-sec .clock .circle:nth-child(1) i { width: 3px; } 

.infopromotion-wrap .left-sec .clock .circle:nth-child(2) i { width: 3px; } 

.infopromotion-wrap .left-sec .clock .circle2 { width: 570px; height: 570px; z-index: 9; } 

.infopromotion-wrap .left-sec .clock .circle3 { width: 460px; height: 460px; z-index: 8; } 

.infopromotion-wrap .left-sec .clock .circle::before { content: ""; position: absolute; width: 10px; height: 10px; top: -8.5px; border-radius: 50%; background: var(--clr); -webkit-box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr); box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr); } 

.infopromotion-wrap .left-sec .clock .circle2::before { content: ""; position: absolute; width: 10px; height: 10px; top: 45px; border-radius: 50%; background: var(--clr); -webkit-box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr); box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr); } 

.infopromotion-wrap .left-sec .date-txt { font-size: 26px; margin-top: 69px; color: #fff; text-align: center; } 

.infopromotion-wrap .left-sec .time-txt { margin-bottom: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0; font-size: 90px; -webkit-box-sizing: border-box; box-sizing: border-box; } 

.infopromotion-wrap .left-sec .time-txt div { position: relative; text-align: center; font-family: "Century Gothic"; color: var(--clr); padding: 0 36px; } 

.infopromotion-wrap .left-sec .time-txt div:nth-child(1)::after,
.infopromotion-wrap .left-sec .time-txt div:nth-child(2)::after { content: ":"; position: absolute; right: -10px; top: -8px; -webkit-animation: animate 1s steps(1) infinite; animation: animate 1s steps(1) infinite; } 

@-webkit-keyframes animate { 
 0% { opacity: 1; } 

 50% { opacity: 0; } 
 }

@keyframes animate { 
 0% { opacity: 1; } 

 50% { opacity: 0; } 
 }

.infopromotion-wrap .right-sec { position: absolute; right: 0; top: 620px; width: 650px; color: #fff; } 

.infopromotion-wrap .right-sec h2 { display: block; font-size: 36px; color: #ffd99d; font-weight: 100; padding-bottom: 60px; letter-spacing: 0.18em; } 

.infopromotion-wrap .right-sec .weather-box { width: 650px; height: auto; margin: 0; text-align: center; } 

.infopromotion-wrap .right-sec .weather-box div.feels_like { padding-bottom: 60px; } 

.infopromotion-wrap .right-sec .weather-box div.feels_like,
.infopromotion-wrap .right-sec .weather-box div.feels_like span.feels_like { display: inline-block; font-size: 60px; } 

.infopromotion-wrap .right-sec .weather-box div.weather_icon { text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; width: 340px; height: 340px; margin: 0 auto; } 

.infopromotion-wrap .right-sec .weather-box div.temp span.temp { font-size: 140px; font-weight: 100; font-family: "Century Gothic"; } 

.infopromotion-wrap .right-sec .weather-box div.description span.description { font-size: 48px; } 

.weather-box .weather_icon.w01d { background: url("../img/page/mediawalll/01d.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w01n { background: url("../img/page/mediawalll/01n.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w02d { background: url("../img/page/mediawalll02d.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w02n { background: url("../img/page/mediawalll/02n.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w03d { background: url("../img/page/mediawalll/03d.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w03n { background: url("../img/page/mediawalll/03n.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w04d,
.weather-box .weather_icon.w04n { background: url("../img/page/mediawalll/04d.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w09d,
.weather-box .weather_icon.w09n { background: url("../img/page/mediawalll/09d.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w10d,
.weather-box .weather_icon.w10n { background: url("../img/page/mediawalll10d.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w11d,
.weather-box .weather_icon.w11n { background: url("../img/page/mediawalll/11d.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w13d,
.weather-box .weather_icon.w13n { background: url("../img/page/mediawalll/13d.png") no-repeat center center; background-size: contain; } 

.weather-box .weather_icon.w50d,
.weather-box .weather_icon.w50n { background: url("../img/page/mediawalll/50d.png") no-repeat center center; background-size: contain; } 

.infopromotion-wrap .center-sec { width: 100%; height: 100%; } 

.infopromotion-wrap .center-sec .movie-box { position: relative; text-align: center; width: 100%; height: 100%; } 

.infopromotion-wrap .center-sec .movie-box img,
.infopromotion-wrap .center-sec .movie-box video { width: 2560px; vertical-align: top; } 

/**********************************************notice**********************************************/
.info-wrap .bg_oper_01 { background: #0a0505; width: 3840px; height: 2160px; position: absolute; left: 0px; top: calc(50% - 1080px); -webkit-backdrop-filter: blur(50px); backdrop-filter: blur(50px); } 

.info-wrap .bg_oper_02 { width: 3840px; height: 2160px; position: absolute; left: 0px; top: calc(50% - 1080px); -o-object-fit: cover; object-fit: cover; } 

.info-wrap .hours-of-operation { color: var(--gray300, #eff1f3); } 

.info-wrap .oper_tit { color: var(--white, #ffffff); text-align: center; font-family: "Pretendard-Medium", sans-serif; font-size: 192px; letter-spacing: -0.02em; font-weight: 500; position: absolute; left: calc(50% - 1203.5px); top: 476px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } 

.info-wrap .table { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; width: 3120px; height: 872px; position: absolute; left: calc(50% - 1560.37px); top: 854px; } 

.info-wrap .table-row { background: rgba(0, 0, 0, 0.3); border-radius: 40px 40px 0px 0px; border-style: solid; border-color: transparent; border-width: 3.18px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-item-align: stretch; align-self: stretch; -ms-flex-negative: 0; flex-shrink: 0; position: relative; -webkit-backdrop-filter: blur(60px); backdrop-filter: blur(60px); } 

.info-wrap .table-cell { background: rgba(0, 0, 0, 0.5); border-radius: 40px 0px 0px 0px; padding: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; } 

.info-wrap .table-cell2 { color: var(--white, #ffffff); text-align: center; font-family: "Pretendard-Medium", sans-serif; font-size: 67.99999237060547px; letter-spacing: -0.025em; font-weight: 500; position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; } 

.info-wrap .table-cell3 { background: rgba(0, 0, 0, 0.5); padding: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; } 

.info-wrap .table-cell4 { background: rgba(0, 0, 0, 0.5); border-radius: 0px 40px 0px 0px; padding: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; } 

.info-wrap .table-row2 { background: rgba(255, 255, 255, 0.2); border-style: solid; border-color: rgba(255, 255, 255, 0.4); border-width: 0px 0px 2px 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-item-align: stretch; align-self: stretch; -ms-flex-negative: 0; flex-shrink: 0; position: relative; -webkit-backdrop-filter: blur(50px); backdrop-filter: blur(50px); } 

.info-wrap .table-cell5 { padding: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; } 

.info-wrap .table-cell6 { color: var(--white, #ffffff); text-align: center; font-family: "Pretendard-SemiBold", sans-serif; font-size: 72px; letter-spacing: -0.025em; font-weight: 600; position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; } 

.info-wrap .table-cell7 { padding: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-item-align: stretch; align-self: stretch; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; } 

.info-wrap .table-cell8 { border-style: solid; border-color: rgba(185, 185, 185, 0.2); border-width: 0px 0px 4px 0px; padding: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-item-align: stretch; align-self: stretch; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; } 

.info-wrap .table-cell9 { border-style: solid; border-color: rgba(185, 185, 185, 0.2); border-width: 0px 0px 4px 0px; padding: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; } 

.info-wrap .table-row3 { background: rgba(255, 255, 255, 0.2); border-radius: 0px 0px 40px 40px; border-style: solid; border-color: rgba(255, 255, 255, 0.4); border-width: 0px 0px 2px 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-item-align: stretch; align-self: stretch; -ms-flex-negative: 0; flex-shrink: 0; position: relative; -webkit-backdrop-filter: blur(50px); backdrop-filter: blur(50px); } 

.info-wrap .table-cell10 { border-radius: 0px 0px 0px 32px; padding: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-item-align: stretch; align-self: stretch; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; } 

.info-wrap .table-cell11 { border-radius: 0px 0px 32px 0px; border-style: solid; border-color: transparent; border-width: 3.18px; padding: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-item-align: stretch; align-self: stretch; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; } 

/**********************************************book info´**********************************************/
.bookinfo-wrap .bg_point_01 { background: rgba(5, 32, 65, 0.9); width: 3840px; height: 1080px; position: absolute; left: 0px; top: 0px; -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); } 

.bookinfo-wrap .bg_point_02 { background: rgba(39, 33, 33, 0.9); width: 3840px; height: 1080px; position: absolute; right: 0px; bottom: 4px; -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); } 

.bookinfo-wrap .book-information { color: var(--gray500, #8b95a1); text-align: left; font-family: "Pretendard-SemiBold", sans-serif; font-size: 32px; letter-spacing: 0.1em; font-weight: 600; position: absolute; left: 0px; top: 0px; width: 3520px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } 

.bookinfo-wrap .newbook_main { width: 1490px; position: absolute; left: 360px; top: 292px; } 

.bookinfo-wrap .newbook_main02 { width: 1490px; position: absolute; left: 360px; } 

.bookinfo-wrap .bookwrap { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } 

.bookinfo-wrap .exwrap { width: 1000px; margin-left: 60px; } 

.bookinfo-wrap .newbook_thumbnails { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 1482.68px; position: absolute; left: 2097.31px; top: 292px; } 

.bookinfo-wrap .newbook_thumbnails02 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 1482.68px; position: absolute; left: 2097.31px; } 

.bookinfo-wrap .thum_frame_w { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 28px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-negative: 0; flex-shrink: 0; position: relative; } 

.bookinfo-wrap .img_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 34.48px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; width: 414px; } 

.bookinfo-wrap .header_frame { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 0px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; } 

.bookinfo-wrap .new_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 1482.68px; position: absolute; /* left: 2097.31px; */
 /* top: 292px; */}

.bookinfo-wrap .img_frame_w { -ms-flex-negative: 0; flex-shrink: 0; width: 414px; height: 597px; position: static; } 

.bookinfo-wrap .div_tit { color: var(--gray400, #adb5bd); text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 40px; line-height: 140%; letter-spacing: -0.025em; font-weight: 500; position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 414px; } 

.bookinfo-wrap .book_explain_w { width: 996.19px; height: 274.52px; position: static; } 

.bookinfo-wrap .book_explain { color: var(--white, #ffffff); text-align: justified; font-family: "Pretendard-Regular", sans-serif; font-size: 44px; line-height: 150%; font-weight: 400; width: 996.19px; /*right: 2005.6px; left: 838.2109375px; top: 614px; */
 height: 274.52px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; } 

.bookinfo-wrap .book_explain:after { content: ""; display: inline-block; width: 100%; } 

.bookinfo-wrap .book_title { /* width: 296px; */
 height: 112px; position: static; margin: 0 0 160px; } 

.bookinfo-wrap .book_title_tit { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-SemiBold", sans-serif; font-size: 80px; line-height: 140%; font-weight: 600; } 

.bookinfo-wrap .book_auth { color: var(--gray600, #6b7684); text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 48px; letter-spacing: -0.025em; font-weight: 500; } 

.bookinfo-wrap .book_new_h5 { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 60px; line-height: 140%; letter-spacing: -0.025em; font-weight: 500; position: absolute; left: 160px; top: 292px; } 

.bookinfo-wrap .book_mark_01 { height: auto; position: absolute; left: 158.77px; top: 480px; overflow: visible; width: 100px; } 

.bookinfo-wrap .book_best_h5 { color: var(--white, #ffffff); text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 60px; line-height: 140%; letter-spacing: -0.025em; font-weight: 500; position: absolute; left: 160px; top: 1260px; } 

.bookinfo-wrap .book_mark_02 { height: auto; position: absolute; left: 158.77px; top: 1448px; overflow: visible; width: 100px; } 

.bookinfo-wrap .thum_frame { padding: 30px 8px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-item-align: stretch; align-self: stretch; -ms-flex-negative: 0; flex-shrink: 0; position: relative; overflow: hidden; width: 414px; } 

.bookinfo-wrap .book_images { border-radius: 20.69px; width: 414px; height: 597px; position: absolute; -webkit-box-shadow: 17.24px 17.24px 68.96px 6.9px rgba(0, 0, 0, 0.2); box-shadow: 17.24px 17.24px 68.96px 6.9px rgba(0, 0, 0, 0.2); -o-object-fit: cover; object-fit: cover; } 

.bookinfo-wrap .newbook_thumbnails .slick-current,
.bookinfo-wrap .newbook_thumbnails02 .slick-current { display: none; } 

.bookinfo-wrap .best_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 1482.68px; position: absolute; /* left: 2097.31px; */
 top: 1260px; } 

/**********************************************bookline**********************************************/
.bookline-wrap .li_book_tit_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 60px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 2160px; position: absolute; left: calc(50% - 1080px); top: calc(50% - 164px); } 

.bookline-wrap .li_book_tit { color: var(--white, #ffffff); text-align: center; font-family: "SeoulHangangCm-Regular", sans-serif; font-size: 120px; line-height: 150%; letter-spacing: -0.02em; font-weight: 400; position: relative; -ms-flex-item-align: stretch; align-self: stretch; } 

.bookline-wrap .li_book_tit_02 { color: var(--gray500, #8b95a1); text-align: left; font-family: "Pretendard-Medium", sans-serif; font-size: 48px; font-weight: 500; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } 

.bookline-wrap .li_book_tit_03 { color: var(--gray300, #eff1f3); text-align: center; font-family: "Pretendard-Medium", sans-serif; font-size: 44px; font-weight: 500; position: absolute; left: calc(50% - 149px); top: 767px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } 

.bookline-wrap .fadingEffect { -webkit-animation: fadeInRight 2s ease-in-out; animation: fadeInRight 2s ease-in-out; } 

@-webkit-keyframes fadeInRight { 
 from { opacity: 0; } 

 to { opacity: 1; } 
 }

@keyframes fadeInRight { 
 from { opacity: 0; } 

 to { opacity: 1; } 
 }

/****************************loan****************************/
.daily_wrap { background: #272930; } 

.daily_wrap .daily_num { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 140px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); top: 1023.8px; } 

.daily_wrap .month_wrap { -ms-flex-negative: 0; flex-shrink: 0; width: 1119px; height: 940px; position: static; } 

.daily_wrap .month_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: absolute; left: 0px; top: 0px; } 

.daily_wrap .month_inner_num,
.daily_wrap .day_inner_num { -ms-flex-negative: 0; flex-shrink: 0; width: 919px; height: 948px; position: relative; overflow: hidden; } 

.daily_wrap .month_inner_text,
.daily_wrap .day_inner_text { color: #ffffff; text-align: center; font-family: "Roboto-Bold", sans-serif; font-size: 800px; font-weight: 700; position: absolute; left: 0px; top: 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } 

.daily_wrap .month_inner_kor,
.daily_wrap .day_inner_kor { /* padding: 0px 0px 160px 0px; */
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 10px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; width: 200px; position: relative; overflow: hidden; } 

.daily_wrap .month_inner_kor_text,
.daily_wrap .day_inner_kor_text { color: #ffffff; text-align: center; font-family: "Pretendard-Medium", sans-serif; font-size: 180px; font-weight: 500; position: relative; -ms-flex-item-align: stretch; align-self: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } 

.daily_wrap .day_wrap { -ms-flex-negative: 0; flex-shrink: 0; width: 1119px; height: 940px; position: static; } 

.daily_wrap .day_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: absolute; left: 1259px; top: 0px; } 

.daily_wrap .day_inner_text { color: #ffffff; text-align: center; font-family: "Roboto-Bold", sans-serif; font-size: 800px; font-weight: 700; position: absolute; left: 0px; top: 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } 

/****************************return****************************/
.daily_wrap .re_book { color: #fec962 !important; } 

/****************************loan return****************************/
.loan_book_ { background: rgba(255, 255, 255, 0.2); border-radius: 80px; padding: 80px 120px 80px 120px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 1700px; position: absolute; left: 165px; top: 1006px; -webkit-backdrop-filter: blur(50px); backdrop-filter: blur(50px); } 

.lr_text { color: #ffffff; text-align: left; font-family: "Pretendard-SemiBold", sans-serif; font-size: 92px; line-height: 80px; font-weight: 600; position: relative; } 

.return_book_ { background: rgba(254, 201, 98, 0.2); border-radius: 80px; padding: 80px 120px 80px 120px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 1700px; position: absolute; left: 1975px; top: 1006px; -webkit-backdrop-filter: blur(50px); backdrop-filter: blur(50px); } 

.returnlo_book_page .daily_num { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 92px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: absolute; left: calc(50% - 1705.34px); top: 1260px; -webkit-transform: unset; transform: unset; } 

.returnlo_book_page .month_wrap,
.returnlo_book_page .day_wrap { -ms-flex-negative: 0; flex-shrink: 0; width: 754.33px; height: 631.12px; position: static; } 

.returnlo_book_page .month_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: absolute; left: 0px; top: 0px; } 

.returnlo_book_page .month_inner_num,
.returnlo_book_page .day_inner_num { -ms-flex-negative: 0; flex-shrink: 0; width: 618.33px; height: 650px; position: relative; overflow: hidden; } 

.returnlo_book_page .month_inner_text,
.returnlo_book_page .day_inner_text { color: #ffffff; text-align: center; font-family: "Roboto-Bold", sans-serif; font-size: 540px; font-weight: 700; position: absolute; left: -1px; top: -1px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } 

.returnlo_book_page .month_inner_kor,
.returnlo_book_page .day_inner_kor { padding: 0px 0px 107.65px 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 6.73px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; width: 136px; position: relative; overflow: hidden; } 

.returnlo_book_page .month_inner_kor_text,
.returnlo_book_page .day_inner_kor_text { color: #ffffff; text-align: center; font-family: "Pretendard-Medium", sans-serif; font-size: 120px; font-weight: 500; position: relative; -ms-flex-item-align: stretch; align-self: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } 

.returnlo_book_page .day_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 0px; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: absolute; left: 846.33px; top: 0px; } 

.returnlo_book_page .redaily_num { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 92px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: absolute; left: calc(50% - -104.66px); top: 1260px; } 

/****************************colosing****************************/
.closing_num { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 120px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);top: 1260px; width: 100%; height: 631px;width: 2894px } 

#responsive_headline{ width:100%;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;gap: 140px;display: -webkit-box;display: -ms-flexbox;display: flex;}
#responsive_headline{ font-size: 540px; text-align: center; } 
.closing_num ul li { color: #ffffff; text-align: center; font-family: "Roboto-Bold", sans-serif; font-weight: 700;left: -1px; top: -1px;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: inline-block; width: 626px !important;} 


/**********************************************responsive**********************************************/
@media (max-width: 1920px) {
 /*********************************************common**********************************************/
 .div_wrap { height: 1080px; position: relative; overflow: hidden; } 

 .bg_wrap { width: 1920px; height: 1080px; position: absolute; left: 0px; top: 0px; -o-object-fit: cover; object-fit: cover; } 

 /**********************************************welcome**********************************************/
 .welcome_wrap .top-sec { gap: 12px; width: 840px; left: calc(50% - 420px); top: calc(50% - 368.75px); } 

 .welcome_wrap .time { gap: 10px; } 

 .welcome_wrap .time-txt { font-size: 90px; font-weight: 400; } 

 .welcome_wrap .date-txt { font-size: 30px; } 



 .welcome_wrap .div { font-size: 60px; left: calc(50% - 540px); top: calc(50% - -189.055px); width: 1080px; } 

 .gumi-city-sandong-library { font-size: 30px; left: calc(50% - 249px); top: calc(50% - -127.555px); } 



 /**********************************************norice info**********************************************/
 .notice_info .notice_img { width: 375px; height: 530px; -webkit-box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.2); } 

 .notice_info .notice { font-size: 16px; letter-spacing: 0.05em; font-weight: 600; width: 1920px; } 

 .notice_info .thum_frame { padding: 0px 4px 0px 4px; } 

 .notice_info .notice_title { font-size: 24px; line-height: 140%; letter-spacing: -0.025em; font-weight: 500; position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; top: 20px; } 

 .notice_info .notice_slider { top: 275px; height: 590px; /* padding-left: 132px; */
 /* padding-right: 132px; */}

 .notice_info .notice_slider .slick-track { height: 590px; } 

 .notice_info .notice_slider .slick-slide { margin-right: 25px; width: 375px !important; } 

 /* Dots */
 .notice_info .slick-dotted.slick-slider { margin-bottom: 30px; } 

 .notice_info .slick-dots { position: absolute; bottom: -115px; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center; } 

 .notice_info .slick-dots li { position: relative; display: inline-block; width: 12px; height: 12px; margin: 0 7px; padding: 0; cursor: pointer; } 

 .notice_info .slick-dots li button { font-size: 0; line-height: 0; display: block; width: 12px; height: 12px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: var(--gray400, #adb5bd); border-radius: 50%; } 

 .notice_info .slick-dots li button:before { font-family: 'slick'; font-size: 0; line-height: 20px; position: absolute; top: 0; left: 0; width: 12px; height: 12px; content: 'â€¢'; text-align: center; opacity: 1; background: var(--gray400, #adb5bd); border-radius: 50%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } 

 .notice_info .slick-dots li.slick-active button:before { opacity: 1; background: #ffffff; border-radius: 50%; } 



 /**********************************************promotion**********************************************/
 .infopromotion-wrap .contents { padding: 195px 0 0 0; } 

 .infopromotion-wrap .left-sec { top: 310px; width: 325px; } 

 .infopromotion-wrap .left-sec .text.small-txt { font-size: 18px; letter-spacing: 0.05em; } 

 .infopromotion-wrap .left-sec .clock { width: 245px; height: 245px; margin: 35px auto 0; background-size: cover; } 

 .infopromotion-wrap .left-sec .clock::before { width: 4px; height: 4px; border: 1px solid #fff; border-radius: 50%; } 

 .infopromotion-wrap .left-sec .clock .circle { width: 230px; height: 230px; } 

 .infopromotion-wrap .left-sec .clock .circle:nth-child(1) i { width: 1px; } 

 .infopromotion-wrap .left-sec .clock .circle:nth-child(2) i { width: 1px; } 

 .infopromotion-wrap .left-sec .clock .circle2 { width: 285px; height: 285px; z-index: 9; } 

 .infopromotion-wrap .left-sec .clock .circle3 { width: 230px; height: 230px; z-index: 8; } 

 .infopromotion-wrap .left-sec .clock .circle::before { width: 5px; height: 5px; top: -4.5px; } 

 .infopromotion-wrap .left-sec .clock .circle2::before { width: 5px; height: 5px; top: 22.5px; } 

 .infopromotion-wrap .left-sec .date-txt { font-size: 13px; margin-top: 35px; } 

 .infopromotion-wrap .left-sec .time-txt { margin-bottom: 200px; font-size: 45px; } 

 .infopromotion-wrap .left-sec .time-txt div { padding: 0 18px; } 

 .infopromotion-wrap .left-sec .time-txt div:nth-child(1)::after,
 .infopromotion-wrap .left-sec .time-txt div:nth-child(2)::after { right: -5px; top: -4px; } 

 .infopromotion-wrap .right-sec { top: 310px; width: 325px; } 

 .infopromotion-wrap .right-sec h2 { font-size: 18px; padding-bottom: 30px; letter-spacing: 0.09em; } 

 .infopromotion-wrap .right-sec .weather-box { width: 325px; } 

 .infopromotion-wrap .right-sec .weather-box div.feels_like { padding-bottom: 30px; } 

 .infopromotion-wrap .right-sec .weather-box div.feels_like,
 .infopromotion-wrap .right-sec .weather-box div.feels_like span.feels_like { font-size: 30px; } 

 .infopromotion-wrap .right-sec .weather-box div.weather_icon { width: 170px; height: 170px; margin: 0 auto; } 

 .infopromotion-wrap .right-sec .weather-box div.temp span.temp { font-size: 70px; } 

 .infopromotion-wrap .right-sec .weather-box div.description span.description { font-size: 24px; } 

 .infopromotion-wrap .center-sec .movie-box img,
 .infopromotion-wrap .center-sec .movie-box video { width: 1280px; } 

 /**********************************************notice**********************************************/
 .info-wrap .bg_oper_01 { width: 1920px; height: 1080px; top: calc(50% - 540px); } 

 .info-wrap .bg_oper_02 { width: 1920px; height: 1080px; top: calc(50% - 540px); } 

 .info-wrap .oper_tit { font-size: 96px; letter-spacing: -0.01em; left: calc(50% - 601.75px); top: 238px; } 

 .info-wrap .table { width: 1560px; height: 436px; left: calc(50% - 780px); top: 427px; } 

 .info-wrap .table-row { border-radius: 20px 20px 0px 0px; border-width: 1.5px; } 

 .info-wrap .table-cell { border-radius: 20px 0px 0px 0px; padding: 30px; } 

 .info-wrap .table-cell2 { font-size: 34px; letter-spacing: -0.012em; } 

 .info-wrap .table-cell3 { padding: 30px; } 

 .info-wrap .table-cell4 { border-radius: 0px 20px 0px 0px; padding: 30px; } 

 .info-wrap .table-row2 { border-width: 0px 0px 1px 0px; } 

 .info-wrap .table-cell5 { padding: 30px; } 

 .info-wrap .table-cell6 { font-size: 36px; letter-spacing: -0.012em; } 

 .info-wrap .table-cell7 { padding: 30px; } 

 .info-wrap .table-cell8 { border-width: 0px 0px 2px 0px; padding: 30px; } 

 .info-wrap .table-cell9 { border-width: 0px 0px 2px 0px; padding: 30px; } 

 .info-wrap .table-row3 { border-radius: 0px 0px 20px 20px; border-width: 0px 0px 1px 0px; } 

 .info-wrap .table-cell10 { border-radius: 0px 0px 0px 16px; padding: 30px; } 

 .info-wrap .table-cell11 { border-radius: 0px 0px 16px 0px; padding: 30px; } 

 /**********************************************bookinfo´**********************************************/
 .bookinfo-wrap .bg_point_01 { width: 1920px; height: 540px; } 

 .bookinfo-wrap .bg_point_02 { width: 1920px; height: 540px; bottom: 2px; } 

 .bookinfo-wrap .book-information { font-size: 16px; letter-spacing: 0.05em; font-weight: 600; width: 1760px; } 

 .bookinfo-wrap .newbook_main { width: 745px; left: 180px; top: 146px; } 

 .bookinfo-wrap .newbook_main02 { width: 745px; left: 180px; } 

 .bookinfo-wrap .exwrap { width: 500px; margin-left: 30px; } 

 .bookinfo-wrap .newbook_thumbnails { width: 741.34px; left: 1048.65px; top: 146px; } 

 .bookinfo-wrap .newbook_thumbnails02 { width: 741.34px; left: 1048.65px; } 

 .bookinfo-wrap .thum_frame_w { gap: 14px; } 

 .bookinfo-wrap .img_wrap { gap: 17.24px; width: 207px; } 

 .bookinfo-wrap .new_wrap { width: 741.34px; } 

 .bookinfo-wrap .img_frame_w { width: 207px; height: 298.5px; } 

 .bookinfo-wrap .div_tit { font-size: 20px; letter-spacing: -0.012em; width: 207px; } 

 .bookinfo-wrap .book_explain_w { width: 498.095px; height: 137.26px; } 

 .bookinfo-wrap .book_explain { font-size: 22px; width: 498.095px; height: 137.26px; } 

 .bookinfo-wrap .book_title { height: 56px; margin: 0 0 80px; } 

 .bookinfo-wrap .book_title_tit { font-size: 40px; } 

 .bookinfo-wrap .book_auth { font-size: 24px; letter-spacing: -0.012em; } 

 .bookinfo-wrap .book_new_h5 { font-size: 30px; letter-spacing: -0.012em; left: 80px; top: 146px; } 

 .bookinfo-wrap .book_mark_01 { left: 79.385px; top: 240px; width: 50px; } 

 .bookinfo-wrap .book_best_h5 { font-size: 30px; letter-spacing: -0.012em; left: 80px; top: 630px; } 

 .bookinfo-wrap .book_mark_02 { left: 79.385px; top: 724px; width: 50px; } 

 .bookinfo-wrap .thum_frame { padding: 15px 4px 0; width: 207px; } 

 .bookinfo-wrap .book_images { border-radius: 10.345px; width: 207px; height: 298.5px; } 

 .bookinfo-wrap .best_wrap { width: 741.34px; top: 630px; } 

 /**********************************************bookline**********************************************/
 .bookline-wrap .li_book_tit_wrap { gap: 30px; width: 1080px; left: calc(50% - 540px); top: calc(50% - 82px); } 

 .bookline-wrap .li_book_tit { font-size: 60px; letter-spacing: -0.01em; } 

 .bookline-wrap .li_book_tit_02 { font-size: 24px; } 

 .bookline-wrap .li_book_tit_03 { font-size: 22px; left: calc(50% - 74.5px); top: 383.5px; } 
 
 /****************************loan****************************/

.daily_wrap .daily_num { gap: 70px; top: 512px; } 

.daily_wrap .month_wrap { width: 560px; height: 470px; } 
.daily_wrap .day_inner { left:630px; } 
.daily_wrap .month_inner_num,
.daily_wrap .day_inner_num { width: 460px; height: 474px; } 

.daily_wrap .month_inner_text,
.daily_wrap .day_inner_text { font-size: 400px; } 

.daily_wrap .month_inner_kor,
.daily_wrap .day_inner_kor { gap: 5px; width: 100px; } 

.daily_wrap .month_inner_kor_text,
.daily_wrap .day_inner_kor_text { font-size: 90px; } 

.daily_wrap .day_wrap { width: 560px; height: 470px; } 

.daily_wrap .day_inner_text { font-size: 400px; } 

/****************************loan return****************************/
.loan_book_ { border-radius: 40px; padding: 40px 60px 40px 60px; left: 82.5px; top: 503px; width: 850px; } 

.lr_text { font-size: 46px; line-height: 40px; } 

.return_book_ { border-radius: 40px; padding: 40px 60px 40px 60px; width:850px; left: 987.5px; top: 503px; } 

.returnlo_book_page .daily_num { gap: 46px; left: calc(50% - 852.67px); top: 630px; -webkit-transform: unset; transform: unset; } 

.returnlo_book_page .month_wrap,
.returnlo_book_page .day_wrap { -ms-flex-negative: 0; flex-shrink: 0; width: 377.165px; height: 315.56px; } 

.returnlo_book_page .month_inner_num,
.returnlo_book_page .day_inner_num { -ms-flex-negative: 0; flex-shrink: 0; width: 309.165px; height: 325px; } 

.returnlo_book_page .month_inner_text,
.returnlo_book_page .day_inner_text { font-size: 270px; } 

.returnlo_book_page .month_inner_kor,
.returnlo_book_page .day_inner_kor { padding: 0px 0px 53.825px 0px; gap: 3.5px; width: 68px; } 

.returnlo_book_page .month_inner_kor_text,
.returnlo_book_page .day_inner_kor_text { font-size: 60px; } 

.returnlo_book_page .day_inner { left:423.165px; } 

.returnlo_book_page .redaily_num { gap: 46px; left: calc(50% - -52.33px); top: 630px; } 

/****************************colosing****************************/
   .closing_num {gap: 60px;height: 315px;top: 630px;  width: 1447px;}
   #responsive_headline{gap: 70px;}
   .closing_num ul {font-size: 270px;}
    .closing_num ul li{width:313px !important;}
}
