/**************************************강좌안내*************************************/
.culture-wrap {
  width: 100%;
  height: 3840px;
  background: url("../../asset/img/type_b/info/course_information/bg_lec.svg")
    no-repeat 0 0;
  background-size: cover;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.faci_wrap .header p,
.culture-wrap .header p {
  color: #8b95a1 !important;
}
.culture-wrap .contents {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 180px 0px;
}
.culture-wrap .bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background: none;
  margin: 0;
  height: 100%;
}
.culture-wrap .bx-viewport {
  height: 2760px !important;
}
.culture-list {
  position: relative;
  background: #fff;
  border-radius: 40px;
  width: 100%;
  height: 340px;
  margin-bottom: 60px;
}
.culture-list a {
  color: #fff;
}
.culture-list .outer {
  display: table;
  width: 100%;
  height: 100%;
}
.culture-list .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
.culture-list .inner div {
  display: inline-block;
}
.culture-list .cul-status {
  width: 200px;
  height: 200px;
  margin-left: 70px;
}
.culture-list .cul-status span {
  font-family: "Pretendard-SemiBold", sans-serif;
  display: table-cell;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 40px;
  border-radius: 200px;
  background: #113b9e;
  letter-spacing: -0.3px;
  vertical-align: middle;
}
.culture-list .cul-status span.status_0 {
  background: rgba(2, 153, 81, 0.1);
  color: #029951;
}
.culture-list .cul-status span.status_1 {
  background: rgba(47, 101, 205, 0.1);
  color: #2f65cd;
}
.culture-list .cul-status span.status_2 {
  background: rgba(241, 181, 92, 0.1);
  color: #f1b55c;
}
.culture-list .cul-status span.status_3 {
  background: rgba(241, 181, 92, 0.1);
  color: #f1b55c;
}
.culture-list .cul-status span.status_4 {
  background: #eff1f3;
  color: #6b7684;
}
.culture-list .cul-info {
  vertical-align: top;
  padding: 0 0 0 50px;
}
.culture-list .cul-info li {
  display: block;
  color: #252525;
  font-size: 44px;
}
.culture-list .cul-info li span {
  color: #7d7a78;
}
.culture-list .cul-info li:nth-child(1) {
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 10px;
  width: 1080px;
  line-height: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.culture-list .cul-cnt {
  position: absolute;
  right: 0;
  top: 0;
  width: 290px;
  height: 100%;
}
.culture-list .cul-cnt ul {
  display: block;
  width: 290px;
  height: 100%;
}
.culture-list .cul-cnt li {
  display: block;
  width: 290px;
  height: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0 20px 30px;
}
.culture-list .cul-cnt li:nth-child(1) {
  background: #252525;
  border-top-right-radius: 40px;
}
.culture-list .cul-cnt li:nth-child(2) {
  background: #888888;
  border-bottom-right-radius: 40px;
}
.culture-list .cul-cnt li p.cul-cnt-tit {
  font-size: 36px;
  color: #dbdbdb;
}
.culture-list .cul-cnt li p.cul-cnt-state {
  font-family: "Century Gothic";
  font-size: 66px;
  font-weight: 700;
}
.culture-list .cul-cnt li p.cul-cnt-state span {
  color: #00f6ff;
}
.culture-list .cul-cnt li p.cul-cnt-state span.slash_01 {
  color: #adb5bd;
}
.culture-wrap .bx-wrapper .bx-pager {
  bottom: 530px;
  margin-top: 120px;
  position: unset;
  padding: 0;
}
.culture-wrap .bx-slide .culture-list:nth-child(7) {
  margin-bottom: 0px;
}
.faci_wrap .bx-wrapper .bx-pager.bx-default-pager a,
.culture-wrap .bx-wrapper .bx-pager.bx-default-pager a {
  background: #adb5bd;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 20px;
}
.faci_wrap .bx-wrapper .bx-pager.bx-default-pager a.active,
.culture-wrap .bx-wrapper .bx-pager.bx-default-pager a:hover,
.faci_wrap .bx-wrapper .bx-pager.bx-default-pager a:focus,
.culture-wrap .bx-wrapper .bx-pager.bx-default-pager a.active,
.faci_wrap .bx-wrapper .bx-pager.bx-default-pager a:hover,
.culture-wrap .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #191f28;
}

@media (max-width: 1080px) {
  /*************************************강좌안내*************************************/
  .culture-wrap {
    width: 100%;
    height: 1920px;
  }
  .culture-wrap .header {
    padding: 60px 0 0px 0;
    gap: 16px;
  }
  .culture-wrap .header h1 {
    font-size: 38px;
  }
  .culture-wrap .header p {
    color: var(--gray600, #6b7684);
    font-size: 18px;
    letter-spacing: 0.2em;
  }
  .culture-wrap .contents {
    padding: 0px 90px 0px;
  }
  .culture-wrap .bx-viewport {
    height: 1380px !important;
  }
  .culture-list {
    border-radius: 20px;
    height: 170px;
    margin-bottom: 30px;
  }
  .culture-list .cul-status {
    width: 100px;
    height: 100px;
    margin-left: 35px;
  }
  .culture-list .cul-status span {
    width: 100px;
    height: 100px; /* line-height:100px; */
    text-align: center;
    font-size: 20px;
    border-radius: 100px;
    letter-spacing: -1.3px;
  }
  .culture-list .cul-info {
    padding: 0 0 0 25px;
  }
  .culture-list .cul-info li {
    font-size: 22px;
  }
  .culture-list .cul-info li:nth-child(1) {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
    width: 540px;
    line-height: 120%;
  }
  .culture-list .cul-cnt {
    width: 145px;
  }
  .culture-list .cul-cnt ul {
    width: 145px;
  }
  .culture-list .cul-cnt li {
    width: 145px;
    height: 50%;
    padding: 10px 0 10px 15px;
  }
  .culture-list .cul-cnt li:nth-child(1) {
    border-top-right-radius: 20px;
  }
  .culture-list .cul-cnt li:nth-child(2) {
    border-bottom-right-radius: 20px;
  }
  .culture-list .cul-cnt li p.cul-cnt-tit {
    font-size: 18px;
  }
  .culture-list .cul-cnt li p.cul-cnt-state {
    font-size: 33px;
    font-weight: 700;
  }
  .culture-inner-box {
    height: 1380px;
  }
  .culture-wrap .bx-wrapper .bx-pager {
    bottom: 265px;
    margin-top: 60px;
  }
  .culture-wrap .bx-slide .culture-list:nth-child(7) {
    margin-bottom: 0px;
  }
  .culture-wrap .bx-wrapper .bx-pager.bx-default-pager a {
    width: 12px;
    height: 12px;
    margin: 0 10px;
  }
}
