.header {
	display: flex;
	flex-direction: column;
	padding: 140px 180px 110px 180px;
	gap: 16px;
}

.title {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 92px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	color: #fff;
}

.caption {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 32px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	letter-spacing: 6.4px;
	color: #adb5bd;
}

.navigation {
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 320px;
	background: #fff;
	box-shadow: 0 -2px 40px 0 rgba(0, 0, 0, 0.1);
}

.navigation > li {
	display: flex;
	align-items: center;
	flex: 1;
	flex-direction: column;
}

.navigation > li > img {
	width: 96px;
	height: 96px;
}

.navigation > li > .menu {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 44px;
	font-weight: 500;
	font-style: normal;
	color: #adb5bd;
}

.navigation > li > span {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	color: #adb5bd;
}

.active_menu {
	font-size: 44px;
	font-weight: 600;
	font-style: normal;
	color: #191f28;
}

.active_caption {
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	color: #191f28 !important;
}

.login {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	height: 100%;
	background: #309bdf;
	gap: 12px;
}

.login img {
	width: 60px;
	height: 88px;
}

.user_name {
	font-size: 36px;
	font-weight: 500;
	font-style: normal;
	color: #ffffff;
}

.user_name span {
	font-size: 36px;
	font-weight: 500;
	font-style: normal;
	color: #191f28;
}

.logout {
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: #072143;
}

@media (max-width: 1080px) {
	.header {
		display: flex;
		flex-direction: column;
		padding: 70px 90px 55px 90px;
		gap: 8px;
	}

	.title {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 46px;
		font-weight: 600;
		font-style: normal;
		line-height: normal;
		color: #fff;
	}

	.caption {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 16px;
		font-weight: 600;
		font-style: normal;
		line-height: normal;
		letter-spacing: 3.2px;
		color: #adb5bd;
	}

	.navigation {
		height: 160px;
	}

	.navigation > li > img {
		width: 48px;
		height: 48px;
	}

	.navigation > li > .menu {
		font-size: 22px;
	}

	.navigation > li > span {
		font-size: 10px;
	}

	.active_menu {
		font-size: 22px;
	}

	.active_caption {
		font-size: 10px;
	}

	.login {
		width: 150px;
	}

	.user_name {
		font-size: 18px;
	}

	.user_name span {
		font-size: 18px;
	}

	.logout {
		font-size: 10px;
	}
}
