.container {
	height: 100vh;
}

.top {
	position: relative;
	height: 2000px;
	background: linear-gradient(151deg, #6559ac 5.42%, #31427e 81.96%);
}

.selected-item {
	position: absolute;
	z-index: 100;
	top: 450px;
	left: 230px;
	width: 1700px;
	height: 2300px;
	border-radius: 60px;
	background: url('../../asset/img/type_b/notice/p06.png') center center no-repeat;
	background-size: cover;
	box-shadow: 30px 40px 60px 0 rgba(0, 0, 0, 0.2);
}

.slider {
	position: absolute;
	z-index: 100;
	top: 2290px;
	left: 230px;
	width: 100%;
	max-width: 1600px;
	margin-top: 70px;
	margin-left: 90px;
}

.slick-track {
	display: flex !important;
	justify-content: space-between;
	padding-top: 70px;
	padding-bottom: 70px;
}

.slider .item {
	width: 240px !important;
	height: 340px;
	margin-right: 60px;
	border-radius: 20px;
	box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.2);
}

.slider .item:hover {
	border: 3px solid #000000;
}

.slick-prev,
.slick-next {
	display: none !important;
}

.slick-dots li button {
	display: none;
}

.slick-dots {
	position: relative;
	bottom: -30px;
	display: flex;
	justify-content: center;
}

.slick-dots li {
	width: 24px;
	height: 24px;
	margin: 0 20px;
	border-radius: 50%;
	background: #adb5bd;
}

.slick-dots li.slick-active {
	background: #333d4b;
}

.bottom {
	position: relative;
	height: 1520px;
	background: #f5f0ee;
	backdrop-filter: blur(5px);
}

.action_wrapper {
	position: absolute;
	bottom: 30px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 30px 100px;
}

.user_wrapper {
	display: flex;
	align-items: center;
	padding: 12px 40px 12px 10px;
	border-radius: 200px;
	background: #fff;
	box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
	gap: 10px;
}

.user_thumbnail img {
	width: 76px;
	height: 76px;
}

.user_name {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 36px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	margin-right: 15px;
	color: #191f28;
}

@media (max-width: 1080px) {
	.container {
		height: 100vh;
	}

	.top {
		position: relative;
		height: 1000px;
		background: linear-gradient(151deg, #6559ac 5.42%, #31427e 81.96%);
	}

	.selected-item {
		position: absolute;
		z-index: 100;
		top: 225px;
		left: 115px;
		width: 850px;
		height: 1150px;
		border-radius: 30px;
		background: url('../../asset/img/type_b/notice/p06.png') center center no-repeat;
		background-size: cover;
		box-shadow: 15px 20px 30px 0 rgba(0, 0, 0, 0.2);
	}

	.slider {
		position: absolute;
		z-index: 100;
		top: 1145px;
		left: 115px;
		width: 100%;
		max-width: 800px;
		margin-top: 35px;
		margin-left: 45px;
	}

	.slick-track {
		display: flex !important;
		justify-content: space-between;
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.slider .item {
		width: 120px !important;
		height: 170px;
		margin-right: 30px;
		border-radius: 10px;
		box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
	}

	.slider .item:hover {
		border: 1.5px solid #000000;
	}

	.slick-prev,
	.slick-next {
		display: none !important;
	}

	.slick-dots li button {
		display: none;
	}

	.slick-dots {
		position: relative;
		bottom: -15px;
		display: flex;
		justify-content: center;
	}

	.slick-dots li {
		width: 12px;
		height: 12px;
		margin: 0 10px;
		border-radius: 50%;
		background: #adb5bd;
	}

	.slick-dots li.slick-active {
		background: #333d4b;
	}

	.bottom {
		position: relative;
		height: 760px;
		background: #f5f0ee;
		backdrop-filter: blur(5px);
	}

	.action_wrapper {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 15px 50px;
	}

	.back {
		width: 100px;
		height: 100px;
	}

	.user_wrapper {
		display: flex;
		align-items: center;
		padding: 6px 20px 6px 5px;
		border-radius: 100px;
		background: #fff;
		box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
		gap: 5px;
	}

	.user_thumbnail img {
		width: 38px;
		height: 38px;
	}

	.user_name {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 18px;
		font-weight: 700;
		font-style: normal;
		line-height: normal;
		margin-right: 7.5px;
		color: #191f28;
	}

	.logout {
		width: 25px;
		height: 25px;
	}
}
