<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
		<title>AI 도서추천</title>
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1" name="viewport" />
		<link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/font.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/book.css" rel="stylesheet" type="text/css" />
		<script src="../../../../../resources/ict/js/jquery-3.7.1.min.js" type="text/javascript"></script>
		<script src="../../../../../resources/ict/js/book.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="container main_wrap">
			<div class="header main">
				<div class="main_txt">AI recommended book</div>
				<div class="sm_main_txt">book search</div>
			</div>
			<div class="top_wrap">
				<div class="sound-wave w_01">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
				<div class="ellipse_wrap">
					<img src="../../../../resources/ict/img/main.png" alt="" />
					<div class="ellipse-deco_01">
						<div class="ellipse-deco_02"></div>
					</div>
				</div>
				<div class="sound-wave w_02">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
			</div>
			<div class="mid_text">
				<div class="l_txt">찾고 싶은 책이 있으신가요?</div>
				<div class="sm_txt">여기서 검색해보세요!</div>
			</div>
			<div class="search_main_total">
				<div class="select_frame">
					<input type="radio" id="select1" name="shop" checked="checked" /><label for="select1">도서명</label> <input type="radio" id="select2" name="shop" /><label for="select2">저자명</label>
					<input type="radio" id="select3" name="shop" /><label for="select3">출판사</label>
				</div>

				<div class="search_input_wrap">
					<div class="search_input_inner">
						<input class="search_inputbox" type="text" placeholder="검색어를 입력하세요" />
					</div>
					<div class="search_input_btn">
						<div class="search_input_btn_inner">
							<div class="btn_wrap">
								<div class="ic_search">
									<img class="ic_search_img" src="../../../../resources/ict/img/common/g_search.svg" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="user login_on">
			<div class="login">
				<div class="ellipse_log"><img alt="" class="login_user" src="../../../../resources/ict/img/common/user0.svg" /></div>

				<div class="name_div">
					<span>
						<span class="name_span">로그인</span>
					</span>
				</div>
			</div>
		</div>
		<div class="nav">
			<ul class="navbox tab6">
				<li>
					<a class="nav_01" href="#this"><img alt="도서검색" src="../../../../resources/ict/img/common/search.svg" /><span class="kor-txt">도서검색</span><span class="eng-txt">Book search</span></a>
				</li>
				<li>
					<a class="nav_02" href="#this"
						><img alt="AI추천도서" src="../../../../resources/ict/img/common/layer.svg" /><span class="kor-txt">AI추천도서</span><span class="eng-txt">AI Recommended book</span></a
					>
				</li>
				<li>
					<a class="nav_03" href="#this"><img alt="신착도서" src="../../../../resources/ict/img/common/open.svg" /><span class="kor-txt">신착도서</span><span class="eng-txt">new book</span></a>
				</li>
				<li>
					<a class="nav_04" href="#this"><img alt="인기도서" src="../../../../resources/ict/img/common/trophy.svg" /><span class="kor-txt">인기도서</span><span class="eng-txt">best book</span></a>
				</li>
				<li>
					<a class="nav_05" href="#this"
						><img alt="사서추천도서" src="../../../../resources/ict/img/common/reader.svg" /><span class="kor-txt">사서추천도서</span><span class="eng-txt">AI Recommended book</span></a
					>
				</li>
				<li>
					<a class="nav_06 on" href="#this"><img alt="나의서재" src="../../../../resources/ict/img/common/books.svg" /><span class="kor-txt">나의서재</span><span class="eng-txt">my library</span></a>
				</li>
			</ul>
		</div>
	</body>
</html>
