@charset "utf-8";
/* ------------------- 피그마 ------------------- */
:root { /* Colors */
 --red: #bd3b3a; --green: #029951; --blue: #2f65cd;
 /* Fonts */
 /* Effects */}

menu, ol, ul { list-style-type: none; margin: 0; padding: 0; } 

/* ------------------- 기본칙 ------------------- */
.center_block { display: block; margin-right: auto; margin-left: auto; } 
.fr { float: right !important; } 
.fl { float: left !important; } 
.hide { display: none !important } 
.show { display: block !important; } 
.oh { overflow: hidden; } 
.invisible { visibility: hidden; } 
.text_hide { font: 0; color: transparent; text-shadow: none; background-color: transparent; border: 0; } 
.hidden { display: none !important; visibility: hidden !important; } 
.blind { font-size:0px; line-height:0px; overflow:hidden; position:absolute; top:0px; left:-9999px } 
.affix { position: fixed; } 
.font_red { color:#FF0039 } 
.font_green { color:#008000 } 
.font_blue { color:#3900FF } 
.font_black { color: #111; } 
a.txt_under { text-decoration:underline } 
.ir { text-indent:-99999px; overflow:hidden; font-size:0; height:0; } 


/* ------------------- 텍스트 정렬 ------------------- */
.txtL { text-align:left !important; } 
.txtC { text-align:center !important; } 
.txtR { text-align:right !important; } 
.txtJ { text-align:justify !important; } 
.vt { vertical-align: top !important; } 
.vm { vertical-align: middle !important; } 
.vb { vertical-align:bottom !important; } 


/* -------- CSS 규칙 -------- */

/* width */
.wpAuto { width:auto !important; } 
.wp5 { width:5% !important; } 
.wp10 { width:10% !important; } 
.wp15 { width:15% !important; } 
.wp20 { width:20% !important; } 
.wp25 { width:25% !important; } 
.wp30 { width:30% !important; } 
.wp35 { width:35% !important; } 
.wp40 { width:40% !important; } 
.wp45 { width:45% !important; } 
.wp50 { width:50% !important; } 
.wp55 { width:55% !important; } 
.wp60 { width:60% !important; } 
.wp65 { width:65% !important; } 
.wp70 { width:70% !important; } 
.wp75 { width:75% !important; } 
.wp80 { width:80% !important; } 
.wp85 { width:85% !important; } 
.wp90 { width:90% !important; } 
.wp95 { width:95% !important; } 
.wp100 { width:100% !important; } 


/* ------------------- 패딩 마진 ------------------- */
.mar_t0 { margin-top:0px !important; } 
.mar_t05 { margin-top:5px !important; } 
.mar_t10 { margin-top:10px !important; } 
.mar_t15 { margin-top:15px !important; } 
.mar_t20 { margin-top:20px !important; } 
.mar_t25 { margin-top:25px !important; } 
.mar_t30 { margin-top:30px !important; } 
.mar_t35 { margin-top:35px !important; } 
.mar_t40 { margin-top:40px !important; } 
.mar_t45 { margin-top:45px !important; } 
.mar_t50 { margin-top:50px !important; } 
.mar_t55 { margin-top:55px !important; } 
.mar_t60 { margin-top:60px !important; } 
.mar_t65 { margin-top:65px !important; } 
.mar_t70 { margin-top:70px !important; } 
.mar_t75 { margin-top:75px !important; } 
.mar_t80 { margin-top:80px !important; } 
.mar_t85 { margin-top:85px !important; } 
.mar_t90 { margin-top:90px !important; } 
.mar_t95 { margin-top:95px !important; } 

.mar_r0 { margin-top:0px !important; } 
.mar_r05 { margin-right:5px !important; } 
.mar_r10 { margin-right:10px !important; } 
.mar_r15 { margin-right:15px !important; } 
.mar_r20 { margin-right:20px !important; } 
.mar_r25 { margin-right:25px !important; } 
.mar_r30 { margin-right:30px !important; } 
.mar_r35 { margin-right:35px !important; } 
.mar_r40 { margin-right:40px !important; } 
.mar_r45 { margin-right:45px !important; } 
.mar_r50 { margin-right:50px !important; } 
.mar_r55 { margin-right:55px !important; } 
.mar_r60 { margin-right:60px !important; } 
.mar_r65 { margin-right:65px !important; } 
.mar_r70 { margin-right:70px !important; } 
.mar_r75 { margin-right:75px !important; } 
.mar_r80 { margin-right:80px !important; } 
.mar_r85 { margin-right:85px !important; } 
.mar_r90 { margin-right:90px !important; } 
.mar_r95 { margin-right:95px !important; } 

.mar_b0 { margin-bottom:0px !important; } 
.mar_b05 { margin-bottom:5px !important; } 
.mar_b10 { margin-bottom:10px !important; } 
.mar_b15 { margin-bottom:15px !important; } 
.mar_b20 { margin-bottom:20px !important; } 
.mar_b25 { margin-bottom:25px !important; } 
.mar_b30 { margin-bottom:30px !important; } 
.mar_b35 { margin-bottom:35px !important; } 
.mar_b40 { margin-bottom:40px !important; } 
.mar_b45 { margin-bottom:45px !important; } 
.mar_b50 { margin-bottom:50px !important; } 
.mar_b55 { margin-bottom:55px !important; } 
.mar_b60 { margin-bottom:60px !important; } 
.mar_b65 { margin-bottom:65px !important; } 
.mar_b70 { margin-bottom:70px !important; } 
.mar_b75 { margin-bottom:75px !important; } 
.mar_b80 { margin-bottom:80px !important; } 
.mar_b85 { margin-bottom:85px !important; } 
.mar_b90 { margin-bottom:90px !important; } 
.mar_b95 { margin-bottom:95px !important; } 

.mar_l0 { margin-left:0px !important; } 
.mar_l05 { margin-left:5px !important; } 
.mar_l10 { margin-left:10px !important; } 
.mar_l15 { margin-left:15px !important; } 
.mar_l20 { margin-left:20px !important; } 
.mar_l25 { margin-left:25px !important; } 
.mar_l30 { margin-left:30px !important; } 
.mar_l35 { margin-left:35px !important; } 
.mar_l40 { margin-left:40px !important; } 
.mar_l45 { margin-left:45px !important; } 
.mar_l50 { margin-left:50px !important; } 
.mar_l55 { margin-left:55px !important; } 
.mar_l60 { margin-left:60px !important; } 
.mar_l65 { margin-left:65px !important; } 
.mar_l70 { margin-left:70px !important; } 
.mar_l75 { margin-left:75px !important; } 
.mar_l80 { margin-left:80px !important; } 
.mar_l85 { margin-left:85px !important; } 
.mar_l90 { margin-left:90px !important; } 
.mar_l95 { margin-left:95px !important; } 

.pad_t0 { padding-top:0px !important; } 
.pad_t05 { padding-top:5px !important; } 
.pad_t10 { padding-top:10px !important; } 
.pad_t15 { padding-top:15px !important; } 
.pad_t20 { padding-top:20px !important; } 
.pad_t25 { padding-top:25px !important; } 
.pad_t30 { padding-top:30px !important; } 
.pad_t35 { padding-top:35px !important; } 
.pad_t40 { padding-top:40px !important; } 
.pad_t45 { padding-top:45px !important; } 
.pad_t50 { padding-top:50px !important; } 
.pad_t55 { padding-top:55px !important; } 
.pad_t60 { padding-top:60px !important; } 
.pad_t65 { padding-top:65px !important; } 
.pad_t70 { padding-top:70px !important; } 
.pad_t75 { padding-top:75px !important; } 
.pad_t80 { padding-top:80px !important; } 
.pad_t85 { padding-top:85px !important; } 
.pad_t90 { padding-top:90px !important; } 
.pad_t95 { padding-top:95px !important; } 

.pad_r0 { padding-right:0px !important; } 
.pad_r05 { padding-right:5px !important; } 
.pad_r10 { padding-right:10px !important; } 
.pad_r15 { padding-right:15px !important; } 
.pad_r20 { padding-right:20px !important; } 
.pad_r25 { padding-right:25px !important; } 
.pad_r30 { padding-right:30px !important; } 
.pad_r35 { padding-right:35px !important; } 
.pad_r40 { padding-right:40px !important; } 
.pad_r45 { padding-right:45px !important; } 
.pad_r50 { padding-right:50px !important; } 
.pad_r55 { padding-right:55px !important; } 
.pad_r60 { padding-right:60px !important; } 
.pad_r65 { padding-right:65px !important; } 
.pad_r70 { padding-right:70px !important; } 
.pad_r75 { padding-right:75px !important; } 
.pad_r80 { padding-right:80px !important; } 
.pad_r85 { padding-right:85px !important; } 
.pad_r90 { padding-right:90px !important; } 
.pad_r95 { padding-right:95px !important; } 

.pad_b0 { padding-bottom:0px !important; } 
.pad_b05 { padding-bottom:5px !important; } 
.pad_b10 { padding-bottom:10px !important; } 
.pad_b15 { padding-bottom:15px !important; } 
.pad_b20 { padding-bottom:20px !important; } 
.pad_b25 { padding-bottom:25px !important; } 
.pad_b30 { padding-bottom:30px !important; } 
.pad_b35 { padding-bottom:35px !important; } 
.pad_b40 { padding-bottom:40px !important; } 
.pad_b45 { padding-bottom:45px !important; } 
.pad_b50 { padding-bottom:50px !important; } 
.pad_b55 { padding-bottom:55px !important; } 
.pad_b60 { padding-bottom:60px !important; } 
.pad_b65 { padding-bottom:65px !important; } 
.pad_b70 { padding-bottom:70px !important; } 
.pad_b75 { padding-bottom:75px !important; } 
.pad_b80 { padding-bottom:80px !important; } 
.pad_b85 { padding-bottom:85px !important; } 
.pad_b90 { padding-bottom:90px !important; } 
.pad_b95 { padding-bottom:95px !important; } 

.pad_l0 { padding-left:0px !important; } 
.pad_l05 { padding-left:5px !important; } 
.pad_l10 { padding-left:10px !important; } 
.pad_l15 { padding-left:15px !important; } 
.pad_l20 { padding-left:20px !important; } 
.pad_l25 { padding-left:25px !important; } 
.pad_l30 { padding-left:30px !important; } 
.pad_l35 { padding-left:35px !important; } 
.pad_l40 { padding-left:40px !important; } 
.pad_l45 { padding-left:45px !important; } 
.pad_l50 { padding-left:50px !important; } 
.pad_l55 { padding-left:55px !important; } 
.pad_l60 { padding-left:60px !important; } 
.pad_l65 { padding-left:65px !important; } 
.pad_l70 { padding-left:70px !important; } 
.pad_l75 { padding-left:75px !important; } 
.pad_l80 { padding-left:80px !important; } 
.pad_l85 { padding-left:85px !important; } 
.pad_l90 { padding-left:90px !important; } 
.pad_l95 { padding-left:95px !important; } 


/* ------------------- 타이포 그래피 ------------------- */
xmp { margin:0; font-size:1em; font-family:inherit } 
h1,h2,h3,h4,h5,h6 { margin-bottom:.666em; font-weight:600; line-height:1.333; } 
h1 { font-size:2rem; } /* 32px */
h2 { font-size:1.75rem; } /* 28px */
h3 { font-size:1.5rem; } /* 24px */
h4 { font-size:1.25rem; } /* 20px */
h5 { font-size:1.125rem; } /* 18px */
h6 { font-size:1rem; } /* 16px */

b.red { color: #e60000; } 
b.blue { color: #0c3681; } 

/*h1,h2,h3,h4,h5,h6,p,ul,ol,dl,menu,blockquote,fieldset,form, pre { margin: 1em 0; } 202010삭제:지현*/
/* class name 맞춰주세요 */
.pattern > h1,
.pattern > h2,
.pattern > h3,
.pattern > h4,
.pattern > h5,
.pattern > h6,
.pattern > p,
.pattern > ul,
.pattern > ol,
.pattern > dl,
.pattern > pre { margin: 1em 0; } 



/* ------------------- 목록 ------------------- */
ul.ul01 { margin-left:0; padding:0; text-align:left; } 
ul.ul01 li { background: url(../../../img/common/li01bg.gif) no-repeat 0 .433rem; margin:.333rem 0; padding:0 0 0 1rem; } 
ul.ul02 li { background:url(../../../img/common/li02bg.gif) no-repeat 0 .433rem; margin:.333rem 0; padding:0 0 0 1rem; } 
ul.ul03 li { background:url(../../../img/common/li03bg.gif) no-repeat 0 .433rem; margin:.333rem 0; padding:0 0 0 1rem; } 
ul.ul04 li { background:url(../../../img/common/li04bg.gif) no-repeat 0 .433rem; margin:.333rem 0; padding:0 0 0 1rem; } 

ol.ol01 { list-style:none; } 
/*ol.ol01 li:before { display: inline-block; width: 16px; height: 16px; border-radius: 16px; line-height: 15px; background:#8e8e8e; font-size:0.75rem; color:#fff; text-align:center; margin: 0 3px 3px 0; vertical-align: middle; } */
ol.ol01 li:before { display: inline-block; width: 17px; height: 17px; border-radius: 17px; line-height:17px; background:#8e8e8e; font-size:0.75rem; color:#fff; text-align:center; margin:-3px 6px 1px 0; vertical-align: middle; } 
ol.ol01 > li:nth-child(1):before { content:'1' } 
ol.ol01 > li:nth-child(2):before { content:'2' } 
ol.ol01 > li:nth-child(3):before { content:'3' } 
ol.ol01 > li:nth-child(4):before { content:'4' } 
ol.ol01 > li:nth-child(5):before { content:'5' } 
ol.ol01 > li:nth-child(6):before { content:'6' } 
ol.ol01 > li:nth-child(7):before { content:'7' } 
ol.ol01 > li:nth-child(8):before { content:'8' } 
ol.ol01 > li:nth-child(9):before { content:'9' } 
ol.ol01 > li:nth-child(10):before { content:'10' } 
ol.ol01 > li.olVal2:before { content:'2' !important; } 
ol.ol05 > li.olVal2:before { content:'2.' !important; } 
ol.ol02 { list-style-type:decimal; list-style-position: inside; } 
ol.ol03 { list-style-type:decimal-leading-zero; list-style-position: inside; } 
ol.ol04 { list-style-type:upper-roman; list-style-position: inside; } 
ol.ol01 li, .ol02 li, .ol03 li, .ol04 li { padding:0 0 0 1rem; } 

/*table ol li { padding: 0 0 0 0.5rem !important; } */



/* ------------------- 버튼 ------------------- */
/* 기본 Button */
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='image'] { overflow:visible; cursor:pointer; } 

html input[type='button'],
input[type='submit'],
input[type='reset'],
button,
button[class*='btn'],
button[type='submit'],
button[type='reset'], /* ☆ */
a[class*='btn'] { -webkit-border-radius:0; -webkit-appearance:none; -moz-appearance:none; display: inline-block; padding:.5rem .75rem; border:1px solid #999; /* border:1px solid transparent; */
 background-color:#eee; color:#000; /* line-height:1.333; */
 white-space:nowrap; } 

html input[type='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover,
button:hover,
button[class*='btn']:hover,
button[type='submit']:hover,
button[type='reset']:hover, /* ☆ */
a[class*='btn']:hover, a[class*='btn']:active, a[class*='btn']:focus { background-color: #e6e6e6; } 


/* 디자인 Button */
a[class*='btn'],
button[class*='btn'],
.btn { position:relative; -webkit-box-sizing:border-box; box-sizing:border-box; max-width:100%; border-radius:2px; text-align:center; font-size:1rem; border-color: rgba(0,0,0,0.2); background-color:#fff; -webkit-transition:.2s ease-out; transition:.2s ease-out; } 

.btn.btn01 { background-color:#0c3681; color:#fff; } 
.btn.btn01:active, .btn.btn01:focus, .btn.btn01:hover { color: #fff; background-color:#0a2963; } 
.btn.btn02 { color:#0c3681; background-color: #fff; border-color: #0c3681; } 
.btn.btn02:active, .btn.btn02:focus, .btn.btn02:hover { background-color: #f0f4fb; } 
.btn.btn03 { color: #fff; background-color: #5c6b7d; } 
.btn.btn03:active, .btn.btn03:focus, .btn.btn03:hover { color: #fff; background-color: #5c6b7d; } 
.btn.btn04 { color: #fff; background-color: #9199ab; } 
.btn.btn04:active, .btn.btn04:focus, .btn.btn04:hover { color: #fff; background-color: #7d8598; } 
.btn.btn05 { color: #bfbfbf; background-color: #f3f3f3; border-color: #b7b7b7; } 
.btn.btn05:active, .btn.btn05:focus, .btn.btn05:hover { color: #fff; background-color: #7d8598; } 

.btn.btn_lg { height:auto; padding:0.6rem 2rem; font-size: 1rem; line-height:normal; } 
.btn.btn_sm { height:auto; padding: 0 .333rem; font-size: 0.85rem; line-height:normal; } 
.btn.btn_wide { display: block; padding:0.8rem 0; width: 100%; } 
.btn > i { margin: 0 5px 0 0; } 


/* 버튼 */
.btn_wrap { display:block; position:relative; width:100%; padding:15px 0; text-align:center; -webkit-box-sizing:border-box; box-sizing:border-box; margin: 1rem 0; overflow: hidden; } 
.btn_wrap .btn { min-width: 315px; margin: 0 6px; padding: 7px 0; } 
.btn_wrap .btnsm { min-width: 130px; } 
.btn.btn_block { background: #0c3681; color: #fff; width: 100%; padding: 13px 0; border-radius: 0; margin-top: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; } 
.btn_wrap > .left { float:left; } 
.btn_wrap > .right { float:right; } 
.btn_three .btn { min-width: 200px; } 
.btn_law { font-size: 1em !important } 

/* 모달팝업버튼 */
.Pstyle > .btn_wrap { margin: 0 0 1.5rem; padding: 0 40px; -webkit-box-sizing: border-box; box-sizing: border-box; } 
/*.Pstyle .btn_wrap > .btn { padding: 9px 0 !important; margin: 0 6px !important; min-width: 240px; } */

/* 검색조건 버튼 */
/*.filterForm .btn_wrap { text-align:center; border-top: 1px solid #e7e7e7; margin: 0; padding: 15px 0 0 0; } 
.filterForm .btn_wrap > .btn { padding: 9px 0 !important; margin: 0 6px !important; max-width: 240px; } */

/* 33px 높이 기본 폼 디자인과 함께있는 버튼 */
.form + .btn { padding:5px 16px; } 


/* ------------------- 탭 디자인 ------------------- */
/* 탭 _ 00.기본 박스 형태 */
.tab_00 { padding:0 0 0 1px; border-top:1px solid #d7d7d7; overflow:hidden; } 
.tab_00 > button,
.tab_01 > button { display: none; } 
.tab_00 ul { margin:0; display: block; } 
.tab_00 ul > li { float:left; width:100%; margin:0; padding:0; } 
.tab_00 ul > li>a { text-align:center; display:block; min-height:1.333em; margin:-1px 0 0 -1px; padding:9px; border:1px solid #d7d7d7; background:#fff; color:#666; text-decoration:none !important; } 
.tab_00 ul > li>a:hover,
.tab_00 ul > li>a:focus { background-color:#4496e8; border:1px solid #3287dd; color:#fff; } 
.tab_00 ul > li.on>a { z-index:10; position:relative; border-color:#26a; background-color:#37b; color:#fff; font-weight:500; cursor:default; } 

/* 탭 _ 01.인덱스 형태 */
.tab_01 { position:relative; overflow: hidden; } 
.tab_01 ul > li { float: left; width: 50%; margin-top: 3px; border: 1px solid #ccc; border-left: none; border-bottom: none; text-align: center; background: #ffffff; outline: none; height: 50px; line-height: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; } 
.tab_01 ul > li:first-child { border-left:1px solid #ccc; } 
.tab_01.tab04 > li { width:25%; } 
.tab_01.tab03 > li { width:33.333%; } 
.tab_01 ul > li > a { display:block; padding: 0 30px; font-size: 16px; color: #aaaaaa; height: 100%; line-height: 48px; } 
.tab_01 ul > li.on { font-weight: 400; margin-top: 0px; margin-left: -1px; border: 1px solid #0c3681; border-top-width: 4px; border-bottom-color: #fff; border-left-color: #0c3681; color: #0c3681; line-height: 37px; background: #fff; z-index: 20; position: relative; height: 53px; line-height: 50px; background: white; -webkit-box-sizing: border-box; box-sizing: border-box; } 
.tab_01 ul > li:hover > a { font-weight: 400; color:#0c3681 } 
.tab_01:after { display: block; clear: both; content: ''; position: absolute; bottom: 0; height: 1px; background: #0c3681; width: 100%; } 
.tab_01 ul > li.on, .tab_01 ul > li:first-child>button:focus { margin-left: 0; } 
.tab_01 ul > li.on > a { color: #0c3681; } 

/* 탭 추가 */
.tab_02 { position:relative; overflow: hidden; font-family: 'S-CoreDream'; font-weight: 400; letter-spacing: -0.05em; } 
.tab_02 ul > li { float: left; width: 33%; max-width: 250px; height: 37px; margin-top: 3px; /* border: 1px solid #dddfe1; */border-left: none; border-bottom: none; border-radius: 5px 5px 0 0; line-height: 37px; text-align: center; /* background: #f5f5f6; */outline: none; height: 50px; line-height: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; } 
.tab_02 ul > li:first-child { border-left:1px solid #ccc; } 
.tab_02 ul > li > a { display:block; padding: 0 15px; font-size: 1rem; color: #969696; } 
.tab_02 ul > li.on { font-weight: 600; margin-top: 0px; margin-left: -1px; border-bottom: 2px solid #4c59eb; color: #4c59eb; line-height: 37px; background: #fff; z-index: 20; position: relative; height: 53px; line-height: 53px; background: white; -webkit-box-sizing: border-box; box-sizing: border-box; border-left: none; } 
.tab_02 ul > li:hover > a { color: #1d4371; } 
.tab_02:after { display: block; clear: both; content: ''; position: absolute; bottom: 0; height: 1px; background: #dddfe1; width: 100%; } 
.tab_02 ul > li.on, .tab_01 ul > li:first-child>button:focus { margin-left: 0; } 
.tab_02 ul > li.on > a { color: #4c59eb; } 


[class*='tab_'] { margin: 0rem 0 2rem 0; } 
[class*='tab_'] .tab-1 > li { width:100%; text-align:left; } 
[class*='tab_'] .tab-2 > li { width:50%; } 
[class*='tab_'] .tab-3 > li { width:33.33333%; } 
[class*='tab_'] .tab-4 > li { width:25%; } 
[class*='tab_'] .tab-5 > li { width:20%; } 
[class*='tab_'] .tab-6 > li { width:16.66666%; } 
[class*='tab_'] .tab-7 > li { width:14.28571%; } 
[class*='tab_'] .tab-8 > li { width:12.5%; } 
[class*='tab_'] .tab-9 > li { width:11.11111%; } 
[class*='tab_'] .tab-10 > li { width:10%; } 
[class*='tab_'] .tab-11 > li { width:9.09091%; } 
[class*='tab_'] .tab-12 > li { width:8.33333%; } 


/*----------------- 기본 form 디자인 -----------------*/
select.form,
input.form { /* height: 33px; */display:inline-block; border: 1px solid #ced4da; border-radius:2px; vertical-align: top; background-color:#fff; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; font-family: inherit; min-width: 80px; } 
input.form[type="radio"], input[type="checkbox"] { background:none; border:none; } 
input.form[type="text"] { -webkit-box-sizing:border-box; box-sizing:border-box; color:#303030; } 
input.form[type='file'] { height:auto; padding-top:.583em; padding-bottom:.583em; line-height:1.333; } 
select.form { display:inline-block; border: 1px solid #ced4da; border-radius:2px; vertical-align: top; padding-right:24px !important; -webkit-box-sizing:border-box; box-sizing:border-box; font-size:14px; color:#313131; text-align:left; letter-spacing:-1px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url(../../img/common/bg_select.png) no-repeat 98% 45%; } 
select.form::-ms-expand { display: none; } /* ie10*/
select.form:disabled { background: #e9ecef url(../../images/new_tmacs/bg_select_d.png) no-repeat 98% 45% !important; } 
input.form:hover, select.form:hover, textarea.form:hover { border-color:#686868 } 
input.form:disabled { background:#e9ecef!important } 
input.form:disabled:hover { border: 1px solid #b8b8b8; } 
textarea.form { width:100%; height:8em; line-height:1.333; font-size:14px; border-radius: 2px; border: 1px solid #ced4da; background-color: #fff; } 
textarea.form.lg { height:16em !important; } 
textarea.form.xlg { height:30em !important; } 
textarea.form:disabled { background:#e9ecef!important } 
.form:disabled, .form[readonly] { background-color: #e9ecef; opacity: 1; } 
.form.won { padding-right:50px; } 
.form + .chh { background: transparent; border: none; position: absolute; right: 15px; top: 0px; color: #0c3681; font-weight: 600; font-size: 0.9em; height: 30px; line-height: 30px; padding: 0; } 
.psrdInit { background: transparent; border: none; position: absolute; left:230px; top: 0px; color: #0c3681; font-weight: 600; font-size: 0.9em; height: 30px; line-height: 30px; padding: 0; } 
.form + .unit { line-height:33px; font-weight: 400; font-size: 0.9em; color: #878787; margin:0 0 0 5px; } 
.post .zipcode .form { /*width:50%; */float: left; margin-right: 10px; } 
.form_set { display:inline-block; vertical-align:middle; padding: 0 33px 0 0; position: relative; } 
.form_set > input { float:left; width:100%; vertical-align: middle; margin: 0; border-radius:2px 0 0 2px !important; border-right:0 !important; } 
.form_set > a { width: 33px; margin: 0 -33px 0 0; background: #ffffff; display:inline-block; /* height: 33px; */vertical-align: middle; float: right; text-align: center; font-size: 14px !important; overflow: hidden; color: #8f8f8f; border-radius: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #ced4da; position: absolute; right: 33px; top: 0; bottom: 0; } 
.form_set > a:hover { background:#fafafa; } 
.form_set > a:hover i { color:#333; } 
.formform_set_group > a:hover { background: #f2f2f2; } 
.form_set > a > i { /* margin: 9px 0 0 0; */display: inline-block; vertical-align: middle; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); } 
.form_set + .date_period { padding: 0 0.5rem; } 
.form + span { line-height: 33px; } 
.form+.btn { height: 30px; padding: 0 9px; font-size: 14px; line-height: 28px; } 

/*input, 버튼 통합하여 크기조정*/
input.form, .bod_head > .bod_search * > button, .form_set > a, select.form { height: 30px; padding: 0 9px; font-size: 14px; line-height: 1.1; } 

/* 폼 col 영역 */
.filterForm [class*="col-"] { padding-right: 15px; padding-left: 15px; } 


/* 시간선택 */
.select_time { display: inline-block; } 
.select_time > div { max-width: 45%; display: inline-block; } 
.select_time > div > .form_set { width:38%; -webkit-box-sizing: border-box; box-sizing: border-box; } 
.select_time > div .form { min-width: 50px; } 
.select_time * > div { display: inline-block; width: 60%; } 
.select_time > div > div.time > select { width:48% !important; } 
.select_time .date_period { padding: 0 0.5rem; } 

.pxSet { width: 400px; } 
.pxSet > p { display: inline-block; margin-right: 10px; width: calc(50% - 20px); } 
.pxSet > p .form { width: calc(100% - 50px) !important; } 

[class*="col-"] p { margin:0; } 
.col-1, .col-2, .col-3, .col-4, 
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12,
.col-auto { position: relative; width: 100%; min-height: 1px; -webkit-box-sizing:border-box; box-sizing:border-box; } 
@media (min-width: 1000px){
 .col-1 { -webkit-box-flex: 0; -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; } 
 .col-2 { -webkit-box-flex: 0; -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; } 
 .col-3 { -webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; } 
 .col-4 { -webkit-box-flex: 0; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; } 
 .col-5 { -webkit-box-flex: 0; -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; } 
 .col-6 { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; } 
 .col-7 { -webkit-box-flex: 0; -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; } 
 .col-8 { -webkit-box-flex: 0; -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; } 
 .col-9 { -webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; } 
 .col-10 { -webkit-box-flex: 0; -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; } 
 .col-11 { -webkit-box-flex: 0; -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; } 
 .col-12 { -webkit-box-flex: 0; -ms-flex: 0 0 100%; width: 100%; } 
 }

/*----------------- 회원가입 -----------------*/
.row { display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; margin-right: 0px; margin-left: 0px; margin-bottom: 1rem; } 
.col-form-label { padding-top: calc(.375rem + 1px); padding-bottom: calc(.375rem + 1px); margin-bottom: 0; font-size: inherit; line-height: 1.5; padding-left: 0; padding-right: 0; font-weight: 400; } 
.form-control { display: block; width: 100%; height:46px; padding: .375rem .75rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; -webkit-box-sizing:border-box; box-sizing:border-box; } 
.form-control:disabled, .form-control[readonly] { background-color: #e9ecef; opacity: 1; } 
.form-control.won { padding-right: 50px; } 
.form-control + .chh { background: transparent; border: none; position: absolute; right: 25px; top: 9px; color: #0c3681; font-weight: 600; font-size: 0.9rem; height: 30px; line-height: 30px; padding: 0; } 
.form-control + .unit { position: absolute; right: 8px; top: 10px; font-weight: 400; font-size: 0.9rem; color: #878787; } 
.form-text { display: block; margin-top: .25rem; font-size:0.9em; color: #6c757d!important; line-height: 1.6; } 
.error-text { display:none; /*display: block; */ margin-top: .25rem; font-size:0.9em; color: #ff0000!important; line-height: 1.6; } 
.form-group { margin-bottom: 1rem; clear: both; } 
.phone-number .form-control { margin-right:10px; max-width: calc((100% - 20px) / 3); } 
.phone-number .form-control:last-child { margin-right:0px; } 
.select02 .form-control { margin-right:10px; max-width: calc((100% - 10px) / 2); } 
.select02 .form-control:last-child { margin-right:0px; } 
#join { } 
#agree .agree { position: relative; padding: 0px 20px; margin: 2px 0 0 0; } 
#agree .more { position: absolute; top: 0px; right: 20px; } 

/* 주소 */
.post .zipcode { overflow:hidden; width: 100%; } 
.post .zipcode .form-control { width:50%; float: left; margin-right: 10px; } 
.post .zipcode .chh { right: 0; padding: 0; margin: 0; position: relative; } 
.post .form-check { margin-bottom: 5px; width: 100%; } 
.post input { margin-top: 5px; } 
.post input:nth-child(1) { margin-top:0 } 

#join input[type=password]:focus,
#join input[type=tel]:focus,
#join input[type=text]:focus,
#join input[type=email]:focus,
#join textarea:focus,
#join select:focus { border: 1px solid #0c3681; outline: none; -webkit-box-shadow: none; box-shadow: none; } 




/* ----------------- 컨텐츠내 규칙 ----------------- */
/* 타이틀 */
.title { background:url(../../../img/common/line_pattern.png) repeat; margin: 0 0 3rem; padding:4px 0; } 
.title .title_box { background-color:#FFF; min-height:62px; padding: 2rem 1rem; text-align: center; font-size: 1.2rem; line-height: 1rem; position: relative; } 
.title .title_box:after { content: ''; display: block; width: 90px; height: 90px; background: #9d9d9d; position: absolute; top: 28px; left: 50%; border-radius: 50%; margin-left: -45px; display: none; } 
.title .title_box p { margin: 0.8rem; } 

/* 가이드 */
.guide { position:relative; min-height:0; margin: 1em 0 2em 0; border-radius:2px; background: url(../../../img/common/line_pattern.png) repeat; padding: 8px; } 
.guide .guide_cont { background: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1em 2em; } 
.guide .guide_cont > ul { margin: 0.3rem 0 0 0; } 
.guide .bell { /* color: #1d9fe2; */font-weight: 400; margin: 0; } 
.bell i { color: #1d9fe2; margin:0 7px 0 0; } 
.guide li { margin:0 !important; } 
.guide ul.guide_top { border-bottom: 1px solid #e4e4e4; padding: 0 0 1rem 0; margin: 0.5rem 0 1rem 0 !important; } 

.cont_box .tle_h4:first-child { margin-top: 0.5rem; } 
h4.tle_h4 { position:relative; font-size: 1.5em; margin: 2.5rem 0 0.5rem 0; font-weight: 600; padding: 0 0 0 30px; clear: both; } 
h4.tle_h4:after { content:''; display:block; width: 14px; height: 14px; background: #1c3eaa; position: absolute; top: 7px; left: 9px; border-radius: 50%; opacity: 1; } 
h4.tle_h4:before { content:''; display:block; width: 14px; height: 14px; background: #7ad313; position: absolute; top: 7px; left: 0; border-radius: 50%; opacity: 0.8; } 


/*----------------- 검색필터 -----------------*/
.filterForm { overflow: hidden; margin: 1rem 0 2rem 0; padding: 12px 15px; border: 1px solid #dee1df; background: #f6faf8; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fafafa; } 
.filterForm .form_wrap { overflow: hidden; float: left; width: calc(100% - 110px) } 
.filterForm .more_wrap { display: none; float: left; clear: both; width: 100%; margin-top: 10px; } 
.filterForm .more_wrap.on { display: block; } 

.filterForm .tle_more { margin: 0 15px; padding: 5px 0 0; border-top: 1px dashed #c7cac9; font-size: 0.9em; font-weight: 600; letter-spacing: -1px; color: #a5aaa7; } 
.filterForm .tle_more .info { float: right; margin-left: 7px; color: #666; } 
.filterForm .form { /*min-width: 105px; */ /*min-width: 80px; */ min-width: auto; } 
.filterForm .form+span { line-height: 1; } 
.filterForm .row { float: left; position: relative; width: 100%; margin: 3px 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } 
.filterForm dt { width: 143px; padding: 0 15px; font-weight:400; -webkit-box-sizing: border-box; box-sizing: border-box; } 
.filterForm dt label { font-weight: 600; } 
.filterForm dl.slim { margin-top: 10px; } 
.filterForm dl.slim+dl.slim { margin-top: 3px; } 
.filterForm dl.slim dt label { position: absolute; top: 0; font-weight: 600; } 
.filterForm dd { width: calc(100% - 143px); padding: 0 15px; color: #555; -webkit-box-sizing: border-box; box-sizing: border-box; } 

.filterForm .list_head { float: left; width: auto; margin: 4px 0 0 20px; padding: 0; display: block; position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; } 
.filterForm .list_head h4 { padding-right: 10px; font-size: 15px; display: inline; } 
.filterForm .list_head .default { color: #666; letter-spacing: -1px; margin-right: 3px; } 
.filterForm .list_head .default .slash { margin: 0 3px; color: #999; } 
.filterForm .del_unread { color: #999; letter-spacing: -1px; padding-right: 8px; margin: 0 1px 0 20px; } 
.unreadNote { color: #0459c1; } 
.readNote { color: #777; } 

.filterForm abbr.required { text-decoration:none; color:#da0000; font-weight:bold; margin: 0 4px 0 -9px; vertical-align: baseline; } 
.filterForm .btn_wrap,
#new_popup .filterForm .btn_wrap { float: left; width: 110px; text-align:center; margin: 0; padding: 0; } 
.filterForm .btn_wrap > .btn,
#new_popup .filterForm .btn_wrap > .btn { height: 30px; margin: 3px 0; padding: 0; font-size: 1em; line-height: 30px; } 
#new_popup .filterForm .btn_wrap { border: 0; background: none; } 
#new_popup .filterForm .btn_wrap > .btn { float: none; min-width: 90px !important; padding: 0 !important; } 
.filterForm .row-1 { width: 8.333333%; } 
.filterForm .row-2 { width: 16.666667%; } 
.filterForm .row-3 { width: 25%; } 
.filterForm .row-4 { width: 33.333333%; } 
.filterForm .row-5 { width: 41.666667%; } 
.filterForm .row-6 { width: 50%; } 
.filterForm .row-7 { width: 58.333333%; } 
.filterForm .row-8 { width: 66.666667%; } 
.filterForm .row-9 { width: 75%; } 
.filterForm .row-10 { width: 83.333333%; } 
.filterForm .row-11 { width: 91.666667%; } 
.filterForm .row-12 { width: 100%; } 

/*----------------- 필터 버튼 -----------------*/
.filterForm .btn { min-width: 90px; padding: 0 !important; vertical-align: middle } 
.filterForm .btn.btn_primary { border: none; color: #fff; background: #444; } 
.filterForm .btn.btn_primary:hover,
.filterForm .btn.btn_primary:active,
.filterForm .btn.btn_primary:focus { background: #555; } 
.filterForm .btn.btn_refresh { color: #0c3681; background-color: #fff; border-color: #0c3681; } 
.filterForm .btn.btn_refresh:hover,
.filterForm .btn.btn_refresh:active,
.filterForm .btn.btn_refresh:focus { background-color: #f0f4fb; } 
.filterForm .btn.btn_more { color: #fff; background-color: #5c6b7d; } 
.filterForm .btn.btn_more:hover,
.filterForm .btn.btn_more:active,
.filterForm .btn.btn_more:focus { background-color: #506174; } 


.h_md dt { width: 113px; } 
.h_md dd { width: calc(100% - 113px); } 
.h_sm dt { width: 100px; } 
.h_sm dd { width: calc(100% - 100px); } 

/*----------------- 체크박스&&라디오버튼 -----------------*/
.chk { display: inline-block; width: 96px; margin-right: 10px; } 
.rad { display: inline-block; min-width: 96px; margin-right: 10px; } 
.rad02 { display: inline-block; margin-right: 20px; } 


