/**********************************************common**********************************************/
.nav {
	position: absolute;
	z-index: 99999;
	bottom: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 320px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	white-space: nowrap;
	background: #fff;
	-webkit-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.1);
}
.nav ul.navbox {
	font-size: 0;
	height: 100%;
}
.nav ul.navbox.tab5 li {
	width: 20%;
}
.nav ul.navbox.tab6 li {
	width: 16.66666666666667%;
}
.nav ul.navbox.tab7 li {
	width: 14.28571428571429%;
}
.nav li {
	font-size: 32px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}
.nav li {
	font-size: 32px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}
.nav li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	padding: 60px 0 60px 0;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-align: center;
	-ms-flex-align: center;
}
.nav li a span {
	color: #6b7684;
}
.nav li a img {
	width: 96px;
	height: 96px;
}
.nav li a span {
	font-weight: 200;
	display: block;
	text-align: center;
}
.nav li a span {
	font-size: 160%;
	font-weight: 600;
	letter-spacing: -0.5px;
}
.nav li a span.kor-txt {
	font-size: 44px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	letter-spacing: -0.02em;
}
.nav li a img {
	-webkit-filter: invert(78%) sepia(13%) saturate(173%) hue-rotate(169deg) brightness(90%) contrast(92%);
	filter: invert(78%) sepia(13%) saturate(173%) hue-rotate(169deg) brightness(90%) contrast(92%);
}
.nav li a span.eng-txt {
	font-size: 20px;
	position: relative;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #74747a;
}
.nav li a.on img,
.nav li a:hover img,
.nav li a:active img {
	-webkit-filter: invert(6%) sepia(6%) saturate(4831%) hue-rotate(176deg) brightness(99%) contrast(86%);
	filter: invert(6%) sepia(6%) saturate(4831%) hue-rotate(176deg) brightness(99%) contrast(86%);
}
.nav li a.on span,
.nav li a:hover span,
.nav li a:active span {
	position: relative;
	display: block;
	color: #191f28;
}

.nav li a.on span.eng-txt::after,
.nav li a:hover span.eng-txt::after,
.nav li a:active span.eng-txt::after {
	position: absolute;
	left: 50%;
	display: block;
	width: 120px;
	height: 17px;
	content: '';
	transform: translateX(-50%);
	background: url('../../../asset/img/common/nav_line.svg') no-repeat;
	background-size: cover;
}
.header {
	position: relative;
	z-index: 99;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	align-items: flex-start;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	width: 2160px;
	padding: 140px 180px 110px 180px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	gap: 16px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	gap: 16px;
}
.info .header h1 {
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 92px;
	font-weight: 600;
	font-weight: 600;
	text-align: left;
	color: #191f28;
}

.new_wrap .header h1 {
	color: #fff;
}
.info .header p {
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 32px;
	font-weight: 600;
	text-align: left;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #adb5bd;
}
.component_leave {
	position: absolute;
	top: 3352px;
	left: 100px;
	width: 210px;
	height: 96px;
}
.component_leave a.on img,
.component_leave a:hover img,
.component_leave a:active img {
	-webkit-filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(146deg) brightness(106%) contrast(104%);
	filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(146deg) brightness(106%) contrast(104%);
}

.turn_to {
	position: absolute;
	top: 0%;
	right: 60%;
	bottom: 0%;
	left: -6%;
	overflow: visible;
	width: 45%;
	height: 100%;
}
.user {
	position: absolute;
	position: absolute;
	top: 3340px;
	left: 1610px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	align-items: center;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	width: 450px;
	height: 120px;
	padding: 12px 40px 12px 10px;
	border-radius: 200px;
	background: #ffffff;
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	gap: 10px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
}
.login {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-ms-flex-direction: row;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: space-between;
	width: 400px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-ms-flex-negative: 0;
}
.login_women {
	position: relative;
	flex-shrink: 0;
	width: 93px;
	height: 96px;
	border-radius: 50%;
	-ms-flex-negative: 0;
	-o-object-fit: cover;
	object-fit: cover;
}
.name_div {
	font-family: '-', sans-serif;
	font-size: 36px;
	font-weight: 400;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	color: #191f28;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
}
.name_span {
	font-family: 'Pretendard-Bold', sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #191f28;
}
.login_frame {
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	width: 46px;
	height: 41px;
	-ms-flex-negative: 0;
}
.group {
	position: absolute;
	top: 7%;
	right: 5%;
	bottom: 6%;
	left: 4%;
	overflow: visible;
	width: 90%;
	height: 88%;
}

.relative {
	position: relative;
}
.inline-block {
	display: inline-block;
}
.BOLD {
	font-weight: bold;
}
body {
	font-family: 'Pretendard-Regular';
	font-size: 32px;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 3840px;
	color: #252524;
}
html {
	width: 100%;
	height: 3840px;
}
#wrap {
	overflow: hidden;
	width: 100%;
	height: 3840px;
}
#wrap.subpage {
	background: #fff;
}
#wrap.subpage #bodyWrap {
	padding-bottom: 40px;
}
#wrap.subpage #footer {
	font-style: normal;
	height: 120px;
	padding: 200px 0;
	text-align: center;
}
.outer {
	display: table;
	width: 100%;
	height: 100%;
}
.inner {
	display: table-cell;
	vertical-align: middle;
}

.div_wrap_info {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 3840px;
}
.div_wrap_info .div_wrap_bg {
	position: absolute;
	z-index: 9;
	top: 0px;
	left: 0px;
	width: 2160px;
	height: 3840px;
	-o-object-fit: cover;
	object-fit: cover;
}
.info h4 {
	font-size: 22px;
	line-height: 125%;
	padding: 22px 0 10px 102px;
	color: #333;
	background: url('../../../asset/img/common/check.svg') no-repeat 0px 26px;
}

.overflow-y {
	overflow-y: scroll;
}
.overflow-y {
	height: 2760px;
	padding: 0 20px; /* width: 100%; */
}
.overflow-y::-webkit-scrollbar {
	width: 12px;
}
.overflow-y::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background: #fff;
}
.overflow-y::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1080px) {
	/**********************************************common**********************************************/
	.info .header {
		width: 1080px;
		padding: 70px 90px 55px;
		gap: 8px;
	}
	.info .header h1 {
		font-size: 46px;
	}
	.info .header p {
		font-size: 18px;
	}
	.nav {
		height: 160px;
	}
	.nav li {
		font-size: 16px;
	}
	.nav li a {
		padding: 30px 0 30px 0;
	}
	.nav li a img {
		width: 48px;
		height: 48px;
	}
	.nav li a span.kor-txt {
		font-size: 22px;
		letter-spacing: -0.02em;
	}
	.nav li a span.eng-txt {
		font-size: 10px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #74747a;
	}
	.nav li:nth-child(7) a {
		background: url('../../img/kiosk/nav-img-07.png') no-repeat center 70px;
	}
	.nav li:nth-child(7) a.on {
		background: #113b9e url('../../img/kiosk/nav-img-07.png') no-repeat center 70px;
	}

	.nav li a.on span.eng-txt::after,
	.nav li a:hover span.eng-txt::after,
	.nav li a:active span.eng-txt::after {
		width: 60px;
		height: 8px;
	}
	.component_leave {
		top: 1676px;
		left: 50px;
		width: 105px;
		height: 48px;
	}
	.user {
		position: absolute;
		top: 1670px;
		left: 805px;
		width: 225px;
		height: 60px;
		padding: 6px 20px 6px 5px;
		border-radius: 100px;
		-webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
		gap: 5px;
	}
	.login {
		width: 200px;
	}
	.login_women {
		width: 47px;
		height: 48px;
	}
	.name_div {
		font-size: 18px;
	}
	.name_span {
		font-size: 18px;
	}
	.login_frame {
		width: 26px;
		height: 20px;
	}
	body {
		font-size: 16px;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 1920px;
	}
	html {
		width: 100%;
		height: 1920px;
	}
	#wrap {
		overflow: hidden;
		width: 100%;
		height: 1920px;
	}
	.info h4 {
		padding: 11px 0 4px 51px;
		background: url('../../../asset/img/common/check.svg') no-repeat 0px 14px;
		background-size: 32px;
	}
	.overflow-y::-webkit-scrollbar {
		width: 6px;
	}
	.overflow-y::-webkit-scrollbar-thumb {
		border-radius: 25px;
	}
}
